mixin dropdown({state =  "", type = "", items = [], id = "", name = "", value = "", placeholder = ""} = {})
  - const stateClass = state ? `dropdown_${state}` : "";
  - const typeClass = type ? `dropdown_type_${type} js-dropdown_type_${type}` : "";
    
  span.dropdown.js-dropdown(class= [stateClass, typeClass])
    button.dropdown__tick.js-dropdown__tick(type="button")
    input.dropdown__input.js-dropdown__input(type="text" id= id name= name value= value placeholder= placeholder readonly)&attributes(attributes)
    if type
      span.dropdown__container
        each item in items
          span.dropdown__group.js-dropdown__group
            span.dropdown__title= item
            span.dropdown__counter
              button.dropdown__control-button.dropdown__control-button_disabled.dropdown__control-button_type_decrease.js-dropdown__control-button_type_decrease(type="button") -
              span.dropdown__counter-value.js-dropdown__counter-value 0
              button.dropdown__control-button.dropdown__control-button_type_increase.js-dropdown__control-button_type_increase(type="button") +
        if type === "guests"
          span.dropdown__group
            button.dropdown__button.dropdown__button_hidden.dropdown__button_type_clear.js-dropdown__button_type_clear(type="button") Очистить
            button.dropdown__button.dropdown__button_theme_purple.dropdown__button_type_apply.js-dropdown__button_type_apply(type="button") Применить
