mixin dropdown({theme = "", jsClasses = ""} = {})
  -
    let className = theme === "" ? "" : `dropdown_theme_${theme}`
    className = `${className} ${jsClasses}`.trim()
    
  span.dropdown(class= className)
    input.dropdown__field(type="text")&attributes(attributes)
    if block
      block
    