.dropdown {
  $root: &;

  position: relative;
  display: inline-block;
  width: 100%;
  user-select: none;

  &_expanded {
    #{$root}__container {
      display: block;
    }
  }

  &__tick {
    content: '';
    position: absolute;
    top: 1.4286rem;
    right: 1.1857rem;
    box-sizing: border-box;
    width: 0.6429rem;
    height: 0.6429rem;
    border: 0.1429rem solid $primary-color-50;
    border-top: 0;
    border-left: 0;
    transform: translateY(-50%) rotate(45deg);

    &:hover {
      cursor: pointer;
    }
  }

  &__input {
    box-sizing: border-box;
    width: 100%;
    padding: 0.6429rem 2.2429rem 0.6429rem 1.0714rem;
    font: inherit;
    color: $primary-color-75;
    border: 0.0714rem solid $primary-color-25;
    border-radius: 0.2857rem;

    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
      min-height: 3.2857rem;
    }
  }

  &__container {
    position: absolute;
    display: none;
    box-sizing: border-box;
    width: 100%;
    padding: 0.3714rem 0.3571rem 0.2rem 1rem;
    border: 0.0714rem solid $primary-color-50;
    border-top: none;
    box-shadow: 0rem 0.7143rem 1.4286rem $primary-color-5;
    background-color: $white-color-100;
  }

  &__group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 0.5rem;

    &:nth-child(4) {
      margin: 1.5714rem 0 0.7143rem;
      margin-bottom: 0.7143rem;
    }
  }

  &__title {
    font-weight: bold;
    font-size: 0.8571rem;
    line-height: 1.0714rem;
    color: $primary-color-100;
    text-transform: uppercase;
  }

  &__counter {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__control-button {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    width: 2.1429rem;
    font-size: 1.4286rem;
    line-height: 2.0429rem;
    color: $primary-color-50;
    border: 0.0714rem solid $primary-color-50;
    border-radius: 50%;
    background: transparent;
    cursor: pointer;

    &_disabled {
      opacity: 0.4;
      cursor: default;
    }
  }

  &__counter-value {
    margin: 0 0.4286rem;
    min-width: 1.5714rem;
    font-weight: bold;
    font-size: 0.8571rem;
    line-height: 1.0714rem;
    color: $primary-color-100;
    text-transform: uppercase;
    text-align: center;
  }

  &__button {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-weight: bold;
    font-size: 0.8571rem;
    line-height: 1.0714rem;
    font-family: inherit;
    color: $primary-color-50;
    background: transparent;
    border: none;
    text-transform: uppercase;
    cursor: pointer;

    &_hidden {
      display: none;
    }

    &_theme_purple {
      margin-left: auto;
      color: $purple-color-100;
    }
  }
}
