mixin pagination({pages = [{}], description = ""} = {})
  .pagination
    ul.pagination__list
      each page in pages
        - const { number = 0, theme = "", link = "mock-address/change-me" } = page;
        - const className = theme ? `pagination__item_theme_${theme}` : "";
        
        li.pagination__item(class= className)
          a.pagination__link(href= link)= number
    p.pagination__description= description
