.pagination {
  $root: &;

  width: 17.2143rem;

  &__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    margin-bottom: 0.7143rem;
    list-style-type: none;
  }

  &__item {
    padding: 0 0.3571rem;
    border-radius: 50%;

    &_theme_current {
      background: linear-gradient(180deg, $purple-color-100 0%, $aqua-color-light-100 100%);

      #{$root}__link {
        font-weight: bold;
        color: $white-color-100;
      }
    }

    &_theme_next-page {
      padding: 0;
      line-height: 0;
      background: linear-gradient(180deg, $green-color-100 0%, $aqua-color-100 100%);

      #{$root}__link {
        position: relative;
        width: 2.8571rem;
        height: 2.8571rem;

        &::before {
          content: '';
          position: absolute;
          top: 50%;
          left: 50%;
          width: 1.0429rem;
          height: 0.1429rem;
          background-color: $white-color-100;
          transform: translate(-50%, -50%);
        }

        &::after {
          content: '';
          position: absolute;
          top: 50%;
          left: 50%;
          width: 0.6429rem;
          height: 0.6429rem;
          border: 0.1429rem solid $white-color-100;
          border-left: none;
          border-bottom: none;
          transform: translate(-50%, -50%) rotate(45deg);
        }
      }
    }
  }

  &__link {
    box-sizing: border-box;
    display: inline-block;
    min-width: 2.1429rem;
    font-size: 0.8571rem;
    line-height: 2.8571rem;
    color: $primary-color-50;
    text-align: center;
    text-decoration: none;
  }

  &__description {
    text-align: center;
  }
}
