.pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style-type: none;

  &__item {
    padding: 0 5px;
    border-radius: 50%;

    &_current {
      background: linear-gradient(180deg, $purple-color-100 0%, #8ba4f9 100%);

      .pagination__link {
        font-weight: bold;
        color: #fff;
      }
    }

    &_next-page {
      padding: 0;
      line-height: 0;
      background: linear-gradient(180deg, $purple-color-100 0%, $aqua-color-100 100%);

      .pagination__link {
        position: relative;
        width: 40px;
        height: 40px;

        &::before {
          content: '';
          position: absolute;
          top: 50%;
          left: 50%;
          width: 18px;
          height: 18px;
          background: url('../../images/arrow-white.svg') no-repeat center;
          transform: translate(-50%, -50%);
        }
      }
    }
  }

  &__link {
    box-sizing: border-box;
    display: inline-block;
    min-width: 30px;
    font-size: 12px;
    line-height: 40px;
    color: $primary-color-50;
    text-align: center;
  }
}
