.c-pagination__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.c-pagination__item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;

  border-radius: 50%;

  &_current {
    background: linear-gradient(180deg, $purple-color-100 0%, #8ba4f9 100%);

    .c-pagination__link {
      font-weight: bold;
      color: #fff;
    }
  }

  &_next-page {
    background: linear-gradient(180deg, $purple-color-100 0%, $aqua-color-100 100%);

    .c-pagination__link {
      line-height: 0;
    }
  }
}

.c-pagination__link {
  font-size: 12px;
  line-height: 15px;
  color: $primary-color-50;
}
