mixin pagination({pages = [{"number": "0", "className": "pagination__item", "link": "mock-adress/change-me"}], description = ""} = {})
  ul.pagination
    each page in pages
      li(class= page.className)
        a.pagination__link(href=page.link)= page.number
  p.pagination__description= description