mixin pagination
  ul.pagination
    -
      const items = 
      [
        {"number": "1", "isCurrent": true, "isNextPage": false},
        {"number": "2", "isCurrent": false, "isNextPage": false},
        {"number": "3", "isCurrent": false, "isNextPage": false},
        {"number": "...", "isCurrent": false, "isNextPage": false},
        {"number": "15", "isCurrent": false, "isNextPage": true}
      ]
    each item in items
      if item.isCurrent === true
        li.pagination__item.pagination__item_current
          a.pagination__link(href="mock-adress/change-me")= item.number
      else if item.isNextPage === true
        li.pagination__item.pagination__item_next-page
          a.pagination__link(href="mock-adress/change-me")
      else
        li.pagination__item
          a.pagination__link(href="mock-adress/change-me")= item.number
  p.pagination__description 1 – 12 из 100+ вариантов аренды