mixin pagination
  ul.pagination
    li.pagination__item.pagination__item_current
      a.pagination__link(href="mock-adress/change-me") 1
    li.pagination__item
      a.pagination__link(href="mock-adress/change-me") 2
    li.pagination__item
      a.pagination__link(href="mock-adress/change-me") 3
    li.pagination__item
      a.pagination__link(href="mock-adress/change-me") ...
    li.pagination__item
      a.pagination__link(href="mock-adress/change-me") 15
    li.pagination__item.pagination__item_next-page
      a.pagination__link(href="mock-adress/change-me")
  p.pagination__description 1 – 12 из 100+ вариантов аренды