mixin c-pagination(classes)
    div(class= classes + "__wrapper c-pagination__wrapper")
        ul(class= classes + "__list c-pagination__list")
            li(class= classes + "__item c-pagination__item c-pagination__item--current")
                a(class= classes + "__link c-pagination__link") 1
            li(class= classes + "__item c-pagination__item")
                a(class= classes + "__link c-pagination__link" href="#") 2
            li(class= classes + "__item c-pagination__item")
                a(class= classes + "__link c-pagination__link" href="#") 3
            li(class= classes + "__item c-pagination__item")
                a(class= classes + "__link c-pagination__link") ...
            li(class= classes + "__item c-pagination__item")
                a(class= classes + "__link c-pagination__link" href="#") 15
            li(class= classes + "__item c-pagination__item c-pagination__item--next-page")
                a(class= classes + "__link c-pagination__link" href="#")
        p(class= classes + "__description c-pagination__description") 1 – 12 из 100+ вариантов аренды