.button_with-like {
  position: relative;
  min-width: 37px;
  padding: 3px 9px;
  color: $primary-color-25;
  background-color: white;
  text-align: right;

  &::before {
    content: '';
    position: absolute;
    z-index: -1;
    top: -1px;
    left: -1px;
    right: -1px;
    bottom: -1px;
    border-radius: 22px;
    background-color: $primary-color-25;
  }

  &::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 3px;
    height: 10px;
    width: 10px;
    margin-right: 5px;
    background: url('../../images/button-with-like/heart.svg') no-repeat center;
    transform: translateY(-50%);
  }

  &:hover {
    color: $purple-color-100;

    &::before {
      background-image: linear-gradient(180deg, $purple-color-100 0%, rgba(139, 164, 249, 1) 100%);
    }

    &::after {
      background-image: url('../../images/button-with-like/heart-filled.svg');
    }
  }
}
