mixin button-with-like(text, type)
  if (type === "button")
    button.button.button_with-like.js-button_with-like&attributes(attributes)= text
  if (type === "link")
    a.button.button_with-like.js-button_with-like&attributes(attributes)= text