mixin c-field-subscription(action, classes, id, content)
    form(action= action class= classes + "__form c-field-subscription__form" method="post")
        label.visually-hidden(for= id)= content
        input(class= classes + "__field c-field-subscription__field" id= id)&attributes(attributes)
        button(type="submit" class= classes + "__submit c-field-subscription__submit" aria-label="Подписаться на рассылку")