mixin field-subscription
  span.field-subscription
    input.field-subscription__field(type="email")&attributes(attributes)
    button.field-subscription__submit(type="submit" aria-label="Подписаться на рассылку")