.c-field-subscription__form {
    position: relative;
}

.c-field-subscription__label {
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    color: $primary-color-100;

    text-transform: uppercase;
}

.c-field-subscription__field {
    box-sizing: border-box;

    font: inherit;
    color: $primary-color-75;

    border: 1px solid $primary-color-25;
    border-radius: 4px;

    &::placeholder {
        color: $primary-color-25;
    }
}

.c-field-subscription__submit {
    position: absolute;
    top: 0;
    right: 0;

    width: 18px;
    height: 18px;

    background: url("../../components/field-subscription/images/arrow-gradient.svg");
    border: none;
}