@import '../button/button';
@import '../textInput/textInput';

.sign-in {
  box-sizing: border-box;
  width: 100%;
  padding: 2.8571rem 2.1429rem 2.2857rem;
  background: $white-color-100;
  border: 0.0714rem solid $black-color-12;
  border-radius: 0.2857rem;
  box-shadow: 0rem 0rem 1.7857rem $black-color-20;

  &__title {
    margin: 0 0 1.4286rem;
    font-weight: bold;
    font-size: 1.7143rem;
    line-height: 2.1429rem;
    color: $primary-color-100;
    letter-spacing: -0.0357rem;
  }

  &__form {
    margin-bottom: 2.1143rem;
  }

  &__group {
    margin: 0;
    padding: 0;

    &:nth-child(1) {
      margin-bottom: 0.7143rem;
    }

    &:nth-child(2) {
      margin-bottom: 1.3571rem;
    }
  }

  &__label {
    &_hidden {
      position: absolute;
      width: 0.0714rem;
      height: 0.0714rem;
      margin: -0.0714rem;
      border: 0;
      padding: 0;
      clip-path: inset(100%);
      clip: rect(0 0 0 0);
      overflow: hidden;
    }
  }

  &__registration {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__text {
    max-width: 15.1429rem;
    margin-right: 0.7143rem;
    line-height: 1.2857rem;
    color: $black-color-100;
  }
}
