.c-field-dropdown__label {
  position: relative;

  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  color: $primary-color-100;

  text-transform: uppercase;

  &::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;

    width: 6px;
    height: 6px;

    border: 2px solid $primary-color-50;
    border-top: 0;
    border-left: 0;
    transform: translateY(-50%) rotate(45deg);
  }
}

.c-field-dropdown__field {
  box-sizing: border-box;

  font: inherit;
  color: $primary-color-75;

  border: 1px solid $primary-color-25;
  border-radius: 4px;
}

.dropdown {
  position: absolute;
  z-index: 1;

  box-sizing: border-box;
  padding: 8px 5px 13px 14px;

  border: 1px solid $primary-color-50;
  border-top: none;
  box-shadow: 0px 10px 20px $primary-color-5;
  background-color: #fff;

  &--hidden {
    display: none;
  }
}

.dropdown__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 7px;
}

.dropdown__title {
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  color: $primary-color-100;

  text-transform: uppercase;
}

.dropdown__count {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dropdown__del {
  display: flex;
  box-sizing: border-box;
  width: 30px;
  height: 30px;

  border: 1px solid $primary-color-50;
  border-radius: 50%;
  background: transparent;
  cursor: pointer;
  opacity: 0.4;

  &::before {
    content: '';
    width: 5px;
    height: 1px;
    margin: auto;

    background-color: $primary-color-50;
  }
}

.dropdown__amount {
  margin: 0 12px;
  width: 10px;

  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  color: $primary-color-100;

  text-transform: uppercase;
}

.dropdown__add {
  position: relative;

  box-sizing: border-box;
  width: 30px;
  height: 30px;

  border: 1px solid $primary-color-50;
  border-radius: 50%;
  background: transparent;
  cursor: pointer;

  &::before {
    content: '';
    position: absolute;
    top: 50%;
    right: 50%;
    width: 8px;
    height: 1px;

    background-color: $primary-color-50;
    transform: translate(50%);
  }

  &::after {
    content: '';
    position: absolute;
    top: 50%;
    right: 50%;
    width: 8px;
    height: 1px;

    background-color: $primary-color-50;
    transform: rotate(90deg) translateY(-400%);
  }
}

.dropdown__buttons {
  margin: 20px 0 0;
}

.dropdown__clear {
  display: none;

  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  color: $primary-color-50;

  text-transform: uppercase;
  cursor: pointer;
}

.dropdown__apply {
  margin-left: auto;

  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  color: $purple-color-100;

  text-transform: uppercase;
  cursor: pointer;
}
