.field-dropdown {
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  width: 100%;

  &::before {
    content: '';
    position: absolute;
    top: 50%;
    right: 18px;
    width: 6px;
    height: 6px;
    border: 2px solid $primary-color-50;
    border-top: 0;
    border-left: 0;
    transform: translateY(-50%) rotate(45deg);
  }

  &__field {
    box-sizing: border-box;
    width: 100%;
    height: 46px; //for ie
    padding: 10px 30px 10px 15px;
    font: inherit;
    color: $primary-color-75;
    border: 1px solid $primary-color-25;
    border-radius: 4px;
  }
}

.dropdown {
  position: absolute;
  z-index: 1;
  display: block;
  box-sizing: border-box;
  width: 100%;
  padding: 8px 5px 13px 14px;
  border: 1px solid $primary-color-50;
  border-top: none;
  box-shadow: 0px 10px 20px $primary-color-5;
  background-color: #fff;

  &_hidden {
    display: none;
  }

  &__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 7px;
  }

  &__title {
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    color: $primary-color-100;
    text-transform: uppercase;
  }

  &__count {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__del {
    position: relative;
    display: flex;
    box-sizing: border-box;
    width: 30px;
    height: 30px;
    border: 1px solid $primary-color-50;
    border-radius: 50%;
    background: transparent;
    cursor: pointer;
    opacity: 0.4;

    &::before {
      content: '';
      position: absolute;
      left: 50%;
      top: 50%;
      width: 5px;
      height: 1px;
      background-color: $primary-color-50;
      transform: translate(-50%);
    }
  }

  &__amount {
    margin: 0 6px;
    width: 22px;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    color: $primary-color-100;
    text-transform: uppercase;
    text-align: center;
  }

  &__add {
    position: relative;
    box-sizing: border-box;
    width: 30px;
    height: 30px;
    border: 1px solid $primary-color-50;
    border-radius: 50%;
    background: transparent;
    cursor: pointer;

    &::before {
      content: '';
      position: absolute;
      top: 50%;
      right: 50%;
      width: 8px;
      height: 1px;
      background-color: $primary-color-50;
      transform: translate(50%);
    }

    &::after {
      content: '';
      position: absolute;
      top: 50%;
      right: 50%;
      width: 8px;
      height: 1px;
      background-color: $primary-color-50;
      transform: rotate(90deg) translateY(-400%);
    }
  }

  &__buttons {
    margin: 20px 0 0;
  }

  &__clear {
    display: none;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    color: $primary-color-50;
    text-transform: uppercase;
    cursor: pointer;
  }

  &__apply {
    margin-left: auto;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    color: $purple-color-100;
    text-transform: uppercase;
    cursor: pointer;
  }
}
