.radio {
  margin: 0;
  padding: 0;

  &__label {
    position: relative;
    padding-left: 2rem;
    font-weight: normal;
    font-size: 1rem;
    line-height: 1.7143rem;
    color: $primary-color-50;
    text-transform: none;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      box-sizing: border-box;
      display: inline-block;
      width: 1.4286rem;
      height: 1.4286rem;
      border: 0.0714rem solid $purple-color-100;
      border-radius: 50%;
    }
  }

  &__button:checked + .radio__label {
    color: $primary-color-75;
  }

  &__button:checked + .radio__label::after {
    content: '';
    position: absolute;
    top: 0.7rem;
    left: 0.7214rem;
    box-sizing: border-box;
    width: 0.8571rem;
    height: 0.8571rem;
    background: linear-gradient(180deg, $purple-color-100 0%, $aqua-color-light-100 100%);
    border-radius: 50%;
    transform: translate(-50%, -50%);
  }

  &__button:focus + .radio__label::before {
    outline: 0.3571rem auto $outline-color-100;
    outline-offset: -0.1429rem;
  }
}
