.rating {
  height: 26px;
}

.rating__star {
  position: relative;

  display: inline-block;
  width: 24px;
  height: 24px;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background: url('../../images/rating/star.svg') no-repeat center;
  }

  &_selected {
    position: relative;

    display: inline-block;
    width: 24px;
    height: 24px;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;

      width: 100%;
      height: 100%;

      background: url('../../images/rating/star-filled.svg') no-repeat center;
    }
  }
}
