.advantage {
  display: flex;
  align-items: center;
  margin: 0;

  &__icon {
    display: inline-block;
    margin-right: 10px;
    min-width: 48px;
    height: 48px;
    background-repeat: no-repeat;
    background-position: center;
  }

  &__text {
    margin: 0;
    color: $primary-color-75;
  }

  &__lead {
    display: block;
    font-weight: bold;
  }
}
