.advantage {
  display: flex;
  padding-bottom: 1.4286rem;
  border-bottom: 0.0714rem solid $primary-color-10;

  &__icon {
    display: inline-block;
    margin-right: 0.7143rem;
    min-width: 3.4286rem;
    height: 3.4286rem;
    background-repeat: no-repeat;
    background-position: center;

    &_theme_comfort {
      background-image: url('../../components/advantage/images/comfort.svg');
    }

    &_theme_convenience {
      background-image: url('../../components/advantage/images/convenience.svg');
    }

    &_theme_cozy {
      background-image: url('../../components/advantage/images/cozy.svg');
    }
  }

  &__text {
    color: $primary-color-75;
  }

  &__lead {
    display: block;
    font-weight: bold;
  }
}
