mixin advantage({theme = "", title = "", description = ""} = {})
  - const className = theme === "" ? "" : `advantage__icon_theme_${theme}`

  p.advantage
    span.advantage__icon(class= className)
    span.advantage__text
      b.advantage__lead= title
      = description
