mixin advantage({icon = "", title = "", description = ""} = {})
  p.advantage
    span.advantage__icon(style=`background-image: url(${icon})`)
    span.advantage__text
      b.advantage__lead= title
      = description
