@import '../calendar/calendar';
@import '../dropdown/dropdown';
@import '../button/button';

.room-search {
  $root: &;

  box-sizing: border-box;
  width: 100%;
  padding: 2.7857rem 2.0714rem 2.0714rem;
  background: $white-color-100;
  border: 0.0714rem solid $black-color-12;
  border-radius: 0.2857rem;
  box-shadow: 0rem 0rem 1.7857rem $black-color-20;

  &__title {
    margin-bottom: 1.1714rem;
    font-weight: bold;
    font-size: 1.7143rem;
    line-height: 2.1429rem;
    color: $primary-color-100;
    letter-spacing: -0.0357rem;
  }

  &__group {
    &:nth-child(1) {
      position: relative;
      margin-bottom: 1.1rem;
      z-index: 2;
    }

    &:nth-child(2) {
      position: relative;
      margin-bottom: 2.2714rem;
      z-index: 1;
    }
  }

  &__label {
    display: inline-block;
    margin-bottom: 0.3571rem;
    font-weight: bold;
    font-size: 0.8571rem;
    line-height: 1.0714rem;
    color: $primary-color-100;
    text-transform: uppercase;
  }
}
