include ../calendar/calendar
include ../dropdown/dropdown
include ../link/link

mixin room-search
  article.room-search
    h2.room-search__title Найдём номера под ваши пожелания
    form.room-search__form(action="https://echo.htmlacademy.ru" method="post")
      .room-search__group
        +calendar
      p.room-search__group
        label.room-search__label(for="field-amount-guests") Гости
        +dropdown({"jsClasses": "js-dropdown"})(id="field-amount-guests" name="guests" placeholder="Сколько гостей" readonly)
          span.dropdown__container
            - const dropdownTitles = ["Взрослые", "Дети", "Младенцы"]
            each dropdownTitle in dropdownTitles
              span.dropdown__group
                b.dropdown__title= dropdownTitle
                span.dropdown__counter
                  button.dropdown__control-button.dropdown__control-button_disabled(type="button" data-dropdown-button-type="decrease") -
                  span.dropdown__counter-value 0
                  button.dropdown__control-button(type="button" data-dropdown-button-type="increase") +
            span.dropdown__group
              button.dropdown__button.dropdown__button_hidden(type="button" data-dropdown-button-type="clear") Очистить
              button.dropdown__button.dropdown__button_theme_purple(type="button" data-dropdown-button-type="apply") Применить
      p.room-search__group
        +link({"text": "подобрать номер", "theme": "submit"})(href="../../pages/rooms-page/rooms-page.pug")
