include ../calendar/calendar
include ../dropdown/dropdown
include ../link/link

mixin room-search({title = "Найдём номера под ваши пожелания"} = {})
  article.room-search
    h2.room-search__title= title
    form.room-search__form(action="https://echo.htmlacademy.ru" method="post")
      .room-search__group
        +calendar
      p.room-search__group
        label.room-search__label(for="field-amount-guests") Гости
        +dropdown({"type": "guests", "items": ["Взрослые", "Дети", "Младенцы"], "id": "field-amount-guests", "name": "guests", "placeholder": "Сколько гостей"})
      p.room-search__group
        +link({"text": "подобрать номер", "theme": "submit"})(href="../../pages/rooms-page/rooms-page.pug")
