mixin main-header-logged
  header.main-header.main-header_theme_logged
    .container
      a.main-header__logo(href="../index/index.pug")
        img.main-header__logo-image(src="../../logo.svg" alt="Отель Toxin" width="106" height="40")
      button.main-header__burger.js-main-header__burger(aria-label="Показать меню")
      nav.main-header__navigation
        ul.main-header__site-navigation
          - const items = ["О нас", "Услуги", "Вакансии", "Новости", "Соглашения"]
          each item in items
            li.main-header__item
              a.main-header__link(href="/mock-address/change-me")= item
        ul.main-header__user-navigation
          li.main-header__item
            a.main-header__link(href="/mock-address/change-me") Артём Лагунов