mixin main-header
  header.main-header
    .container
      a.main-header__logo(href="../index/index.pug")
        img.main-header__logo-image(src="../../logo.svg" alt="Отель Toxin" width="106" height="40")
      button.main-header__burger.js-main-header__burger(aria-label="Показать меню")
      nav.main-header__navigation
        ul.main-header__site-navigation
          - const items = ["О нас", "Услуги", "Вакансии", "Новости", "Соглашения"]
          each item in items
            li.main-header__item
              a.main-header__link(href="/mock-address/change-me")= item
        ul.main-header__user-navigation
          li.main-header__item
            +link-with-border-gradient("войти")(href="../login-page/login-page.pug")
          li.main-header__item
            +link-with-purple-gradient("зарегистрироваться")(href="../registration-page/registration-page.pug")