include ../text-input/text-input
include ../button/button
include ../link/link

mixin sign-in
  article.sign-in
    h2.sign-in__title Войти
    form.sign-in__form(action="https://echo.htmlacademy.ru" method="post")
      p.sign-in__group
        label.sign-in__label.sign-in__label_hidden(for="field-email") Введите email
        +text-input({"type": "email"})(id="field-email" name="email" placeholder="Email")
      p.sign-in__group
        label.sign-in__label.sign-in__label_hidden(for="field-password") Введите пароль
        +text-input({"type": "password"})(id="field-password" name="password" placeholder="Пароль")
      p.sign-in__group
        +button({"text": "войти", "theme": "submit", "type": "submit"})
    .sign-in__registration
      span.sign-in__text Нет аккаунта на Toxin?
      span.sign-in__sign-in-button
        +link({"text": "создать", "theme": "account-action"})(href="../../pages/registration-page/registration-page.pug")
