.checkbox-expandable {
  $root: &;

  &__title {
    position: relative;
    display: block;
    margin: 0 0 1.1429rem 0;
    font-weight: bold;
    font-size: 0.8571rem;
    line-height: 1.0714rem;
    color: $primary-color-100;
    text-transform: uppercase;

    &::after {
      content: '';
      position: absolute;
      top: 50%;
      right: 1.2857rem;
      width: 0.4286rem;
      height: 0.4286rem;
      border: 0.1429rem solid $primary-color-50;
      border-top: 0;
      border-left: 0;
      transform: translateY(-50%) rotate(45deg);
    }
  }

  &__list {
    display: none;
    padding: 0;
    margin: 0;
    list-style-type: none;
  }

  &__item + #{$root}__item {
    margin-top: 0.4286rem;
  }

  &_expanded {
    #{$root}__title::after {
      transform: rotate(-135deg);
    }

    #{$root}__list {
      display: block;
    }
  }
}
