mixin text-field-subscription
  span.text-field-subscription
    input.text-field-subscription__field(type="email")&attributes(attributes)
    button.text-field-subscription__submit(type="submit" aria-label="Подписаться на рассылку")