.text-field-subscription {
  position: relative;
  box-sizing: border-box;
  display: inline-block;
  width: 100%;

  &__field {
    box-sizing: border-box;
    width: 100%;
    padding: 0.7143rem 1.0714rem;
    font: inherit;
    color: $primary-color-75;
    border: 0.0714rem solid $primary-color-25;
    border-radius: 0.2857rem;

    &::placeholder {
      color: $primary-color-25;
    }

    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
      height: 3.2857rem;
    }
  }

  &__submit {
    position: absolute;
    top: 50%;
    right: 0.9286rem;
    width: 1.2857rem;
    height: 1.2857rem;
    padding: 0;
    margin: 0;
    transform: translateY(-50%);
    border: none;
    background-color: transparent;
    background: transparent url('../../images/arrow-gradient.svg') no-repeat center;
    cursor: pointer;
  }
}
