//- Кнопка
mixin button-border-gradient(content)
    button(class="button button--border-gradient")&attributes(attributes)= content

//- Ссылка
mixin link-border-gradient(content)
    a(class="button button--border-gradient")&attributes(attributes)= content