//- Кнопка
mixin button-border-gradient(type, classes, content)
    button(type=type class="button button--border-gradient " + classes)= content

//- Ссылка
mixin link-border-gradient(href, classes, content)
    a(href=href class="button button--border-gradient " + classes)= content