mixin button({text = "", theme = "", jsClasses = ""} = {})
  -
    let className = theme === "" ? "" : `button_theme_${theme}`
    className = `${className} ${jsClasses}`.trim()
    
  button.button(class= className)&attributes(attributes)
    span.button__text= text