.button {
  $root: &;

  display: inline-block;
  width: 100%;
  padding: 0;
  margin: 0;
  font: inherit;
  font-weight: bold;
  font-size: 0.8571rem;
  line-height: 1.0714rem;
  border: none;
  border-radius: 1.5714rem;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  cursor: pointer;

  &__text {
    box-sizing: border-box;
    display: inline-block;
    width: 100%;
    border-radius: 1.5714rem;
  }

  &_theme_bold {
    color: $purple-color-100;

    &:hover {
      color: $primary-color-50;
    }
  }

  &_theme_like {
    position: relative;
    min-width: 40px;
    padding: 1px;
    background: $primary-color-25;

    &::before {
      content: '';
      position: absolute;
      top: 50%;
      left: 0.2143rem;
      height: 0.7143rem;
      width: 0.7143rem;
      background: url('../../images/button-with-like/heart.svg') no-repeat center;
      transform: translateY(-50%);
    }

    #{$root}__text {
      padding: 3px 3px 3px 12px;
      font-size: 0.7143rem;
      line-height: 0.8571rem;
      color: $primary-color-25;
      background-color: $white-color-100;
    }
  }

  &_theme_liked {
    color: $purple-color-100;
    background: linear-gradient(180deg, $purple-color-100 0%, $aqua-color-light-100 100%);

    &::before {
      background-image: url('../../images/button-with-like/heart-filled.svg');
    }
  }

  &_theme_account-action {
    min-width: 44px;
    padding: 0.1429rem;
    color: $purple-color-100;
    background-image: linear-gradient(180deg, $purple-color-100 0%, $aqua-color-light-100 100%);

    &:hover {
      background-image: linear-gradient(180deg, $purple-color-50 0%, $aqua-color-light-50 100%);
    }

    #{$root}__text {
      padding: 13px 18px;
      background-color: $white-color-100;
    }
  }

  &_theme_registration {
    min-width: 44px;
    color: $white-color-100;
    background-image: linear-gradient(180deg, $purple-color-100 0%, $aqua-color-light-100 100%);

    &:hover {
      background-image: linear-gradient(180deg, $purple-color-50 0%, $aqua-color-light-50 100%);
    }

    #{$root}__text {
      padding: 15px 20px;
    }
  }

  &_theme_submit {
    position: relative;
    color: $white-color-100;
    background-image: linear-gradient(180deg, $purple-color-100 0%, $aqua-color-light-100 100%);

    &::before {
      content: '';
      position: absolute;
      top: 50%;
      right: 0.9286rem;
      width: 1.1429rem;
      height: 0.1429rem;
      background-color: $white-color-100;
      transform: translateY(-50%);
    }

    &::after {
      content: '';
      position: absolute;
      top: 50%;
      right: 1.0714rem;
      width: 0.6429rem;
      height: 0.6429rem;
      border: 0.1429rem solid $white-color-100;
      border-left: none;
      border-bottom: none;
      transform: translateY(-50%) rotate(45deg);
    }

    #{$root}__text {
      padding: 15px 35px;
    }
  }

  &_size_small#{$root}_theme_account-action {
    #{$root}__text {
      padding: 8px 18px;
    }
  }

  &_size_small#{$root}_theme_registration {
    #{$root}__text {
      padding: 10px 20px;
    }
  }
}
