mixin button({text = "", theme = "", size = "", type = "button", href = "mock-address/change-me", isLink = false} = {})
  - const themeClass = theme ? `button_theme_${theme}` : ""
  - const sizeClass = size ? `button_size_${size}` : ""
  - const tagName = isLink ? "a" : "button"

  #{tagName}.button(class= [themeClass, sizeClass] type= tagName === "button" ? type : false href= tagName === "a" ? href : false)&attributes(attributes)
    span.button__text= text
