.button {
  $root: &;

  display: inline-block;
  width: 100%;
  padding: 0;
  margin: 0;
  font: inherit;
  font-weight: bold;
  font-size: 0.8571rem;
  line-height: 1.0714rem;
  border: none;
  border-radius: 1.5714rem;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  cursor: pointer;

  &__text {
    box-sizing: border-box;
    display: inline-block;
    width: 100%;
    border-radius: 1.5714rem;
  }

  &_theme_bold {
    color: $purple-color-100;

    &:hover {
      color: $primary-color-50;
    }
  }

  &_theme_account-action {
    min-width: 3.1429rem;
    padding: 0.1429rem;
    color: $purple-color-100;
    background-image: linear-gradient(180deg, $purple-color-100 0%, $aqua-color-light-100 100%);

    &:hover {
      background-image: linear-gradient(180deg, $purple-color-50 0%, $aqua-color-light-50 100%);
    }

    #{$root}__text {
      padding: 0.9286rem 1.2857rem;
      background-color: $white-color-100;
    }
  }

  &_theme_registration {
    min-width: 3.1429rem;
    color: $white-color-100;
    background-image: linear-gradient(180deg, $purple-color-100 0%, $aqua-color-light-100 100%);

    &:hover {
      background-image: linear-gradient(180deg, $purple-color-50 0%, $aqua-color-light-50 100%);
    }

    #{$root}__text {
      padding: 1.0714rem 1.4286rem;
    }
  }

  &_theme_submit {
    position: relative;
    color: $white-color-100;
    background-image: linear-gradient(180deg, $purple-color-100 0%, $aqua-color-light-100 100%);

    &::before {
      content: '';
      position: absolute;
      top: 50%;
      right: 0.9286rem;
      width: 1.1429rem;
      height: 0.1429rem;
      background-color: $white-color-100;
      transform: translateY(-50%);
    }

    &::after {
      content: '';
      position: absolute;
      top: 50%;
      right: 1.0714rem;
      width: 0.6429rem;
      height: 0.6429rem;
      border: 0.1429rem solid $white-color-100;
      border-left: none;
      border-bottom: none;
      transform: translateY(-50%) rotate(45deg);
    }

    #{$root}__text {
      padding: 1.0714rem 2.5rem;
    }
  }

  &_size_small#{$root}_theme_account-action {
    #{$root}__text {
      padding: 0.5714rem 1.2857rem;
    }
  }

  &_size_small#{$root}_theme_registration {
    #{$root}__text {
      padding: 0.7143rem 1.4286rem;
    }
  }
}
