mixin link({text = "", theme = ""} = {})
  - const className = theme === "" ? "button" : `button button_theme_${theme}`
  a(class= className)&attributes(attributes)
    if theme === "account-action" || theme === "like"
      span.button__text= text
    else
      = text