mixin c-checkbox-poor(classes, id, content)
    label(class= classes + " c-checkbox-poor__label" for= id)
        input(class= classes + " c-checkbox-poor__field visually-hidden" id= id)&attributes(attributes)
        span(class=classes + " c-checkbox-poor__field--custom")
        = content