.c-checkbox-poor__label {
    line-height: 18px;
    color: $primary-color-50;
}

.c-checkbox-poor__checkbox--custom {
    display: inline-block;

    box-sizing: border-box;
    width: 20px;
    height: 20px;

    border: 1px solid $primary-color-25;
    border-radius: 4px;
    vertical-align: bottom;
}

.c-checkbox-poor__checkbox:checked + .c-checkbox-poor__checkbox--custom {
    background: url("../../components/checkbox-poor/images/checkbox-arrow.svg") no-repeat center;
}

.c-checkbox-poor__checkbox:focus + .c-checkbox-poor__checkbox--custom {
    outline: 5px auto rgb(77, 144, 254);
    outline-offset: -2px;
}