mixin c-field-date-dropdown(classes, id, content)
    label(class="c-field-date-dropdown__label" for= id)= content
    input(class=classes + " c-field-date-dropdown__field" id= id)&attributes(attributes)