.button_theme_with-purple-gradient-and-arrow {
  position: relative;
  color: $white-color-100;
  padding: 1.0714rem 2.1429rem;
  background-image: linear-gradient(180deg, $purple-color-100 0%, $aqua-color-light-100 100%);

  &:hover {
    background-image: linear-gradient(180deg, $purple-color-50 0%, $aqua-color-light-50 100%);
  }

  &::before {
    content: '';
    position: absolute;
    top: 50%;
    right: 0.9286rem;
    width: 1.1429rem;
    height: 0.1429rem;
    background-color: $white-color-100;
    transform: translateY(-50%);
  }

  &::after {
    content: '';
    position: absolute;
    top: 50%;
    right: 1.0714rem;
    width: 0.6429rem;
    height: 0.6429rem;
    border: 0.1429rem solid $white-color-100;
    border-left: none;
    border-bottom: none;
    transform: translateY(-50%) rotate(45deg);
  }
}
