.button_with-purple-gradient-and-arrow {
  position: relative;
  color: #fff;
  padding: 15px 30px;
  background-image: linear-gradient(180deg, $purple-color-100 0%, rgba(139, 164, 249, 1) 100%);

  &:hover {
    background-image: linear-gradient(180deg, $purple-color-50 0%, rgba(139, 164, 249, 0.5) 100%);
  }

  &::before {
    content: '';
    position: absolute;
    top: 50%;
    right: 15px;
    width: 18px;
    height: 18px;
    color: red;
    background-image: url('../../images/arrow-white.svg');
    transform: translateY(-50%);
  }
}
