mixin button-with-purple-gradient-and-arrow(text, type)
  if (type === "button")
    button.button.button_with-purple-gradient-and-arrow&attributes(attributes)= text
  if (type === "link")
    a.button.button_with-purple-gradient-and-arrow&attributes(attributes)= text