mixin c-checkbox-rich(classes, id, content, description)
    label(class= classes + " c-checkbox-rich__label" for= id)
        input(class= classes + " c-checkbox-rich__field visually-hidden" id= id)&attributes(attributes)
        span(class= classes + " c-checkbox-rich__field--custom")
        = content
        span(class= classes + " c-checkbox-rich__description")= description