@import '../../buttons/button';
@import '../../buttons/button-purple-gradient';
@import '../../buttons/button-arrow';
@import '../../field-dropdown/field-dropdown';
@import '../../calendar/datepicker';

.find-room {
    box-sizing: border-box;
    width: 380px;
    padding: 39px 29px 29px;

    background: #fff;
    border: 1px solid rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
}

.find-room__title {
    margin: 0 0 22px;

    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    color: $primary-color-100;

    letter-spacing: -0.5px;
}

.find-room__group {
    display: flex;
    justify-content: space-between;
    margin: 0 0 24px;

    .find-room__item {
        width: 150px;
    }
}

.find-room__item {
    margin: 0;

    .button {
        width: 100%;

        padding: 15px 30px;
    }

    &--lonely {
        margin: 0 0 32px;
    }
}

.find-room__label {
    display: block;
    margin: 0 0 5px;

    &::after {
        top: 41px;
        right: 18px;
    }
}

.find-room__field {
    box-sizing: border-box;
    padding: 8px 25px 8px 13px;
    width: 100%;
}