@import '../../buttons/button-with-purple-gradient-and-arrow/button-with-purple-gradient-and-arrow';
@import '../../dropdowns/dropdown';
@import '../../calendar/calendar';

.find-room {
  box-sizing: border-box;
  max-width: 27.1429rem;
  padding: 2.7857rem 2.0714rem 2.0714rem;
  background: $white-color-100;
  border: 0.0714rem solid $black-color-12;
  border-radius: 0.2857rem;
  box-shadow: 0rem 0rem 1.7857rem $black-color-20;

  &__title {
    margin: 0 0 1.5714rem;
    font-weight: bold;
    font-size: 1.7143rem;
    line-height: 2.1429rem;
    color: $primary-color-100;
    letter-spacing: -0.0357rem;
  }

  &__group {
    margin: 0;

    &:first-child {
      display: flex;
      justify-content: space-between;
      margin-bottom: 1.5rem;

      @media screen and (max-width: 390px) {
        flex-direction: column;
      }
    }

    &:nth-child(2) {
      margin-bottom: 2.2714rem;
    }
  }

  &__item {
    width: 10.7143rem;
    margin: 0;

    @media screen and (max-width: 390px) {
      width: 100%;
    }

    + .find-room__item {
      margin-left: 0.7143rem;

      @media screen and (max-width: 390px) {
        margin-left: 0;
        margin-top: 0.7143rem;
      }
    }
  }

  &__label {
    display: block;
    margin-bottom: 0.3571rem;
    font-weight: bold;
    font-size: 0.8571rem;
    line-height: 1.0714rem;
    color: $primary-color-100;
    text-transform: uppercase;
  }

  .button {
    width: 100%;
  }
}
