mixin form-find-room
  article.find-room
    h2.find-room__title Найдём номера под ваши пожелания
    form.find-room__form(action="https://echo.htmlacademy.ru" method="post")
      div.find-room__group
        p.find-room__item
          label.find-room__label(for="field-date-from") Прибытие
          +dropdown-default(id="field-date-from" class="js-date-from" name="from" placeholder="ДД.ММ.ГГГГ" readonly required)
        p.find-room__item
          label.find-room__label(for="field-date-to") Выезд
          +dropdown-default(id="field-date-to" class="js-date-to" name="to" placeholder="ДД.ММ.ГГГГ" readonly)
      p.find-room__group
        label.find-room__label(for="field-amount-guests") Гости
        +dropdown-guests(id="field-amount-guests" name="guests" placeholder="Сколько гостей" readonly)
      p.find-room__group
        +link-with-purple-gradient-and-arrow("подобрать номер")(href="../../pages/rooms-page/rooms-page.pug")
      