article.find-room
  h2.find-room__title Найдём номера под ваши пожелания
  form.find-room__form(action="https://echo.htmlacademy.ru" method="post")
    div.find-room__group
      p.find-room__item
        +c-field-dropdown("find-room", "date-from", "Прибытие", true)(name="from" placeholder="ДД.ММ.ГГГГ")
      p.find-room__item
        +c-field-dropdown("find-room", "date-to", "Выезд", true)(name="to" placeholder="ДД.ММ.ГГГГ")
    p.find-room__item.find-room__item_lonely
      +c-field-dropdown("find-room", "amount-guests", "Гости", true)(name="guests" placeholder="Сколько гостей")
    p.find-room__item
      +button("button_with-purple-gradient button_with-arrow", "Подобрать номер", "link")(href="/../rooms-page/rooms-page.pug")