@import '../../buttons/button-with-purple-gradient-and-arrow/button-with-purple-gradient-and-arrow';
@import '../../field-dropdown/field-dropdown';
@import '../../calendar/calendar';

.find-room {
  box-sizing: border-box;
  max-width: 380px;
  padding: 39px 29px 29px;
  background: #fff;
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);

  &__title {
    margin: 0 0 16px;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    color: $primary-color-100;
    letter-spacing: -0.5px;
  }

  &__group {
    display: flex;
    justify-content: space-between;
    margin: 0 0 15px;

    @media screen and (max-width: 390px) {
      flex-direction: column;
    }

    .find-room__item {
      width: 150px;

      @media screen and (max-width: 390px) {
        width: 100%;
      }
    }

    .find-room__item + .find-room__item {
      margin-left: 10px;

      @media screen and (max-width: 390px) {
        margin-left: 0;
        margin-top: 10px;
      }
    }
  }

  &__item {
    margin: 0;
  }

  &__form > .find-room__item:nth-child(2) {
    margin-bottom: 29px;
  }

  .button {
    width: 100%;
  }
}
