article.find-room
    h2.find-room__title Найдём номера под ваши пожелания
    form.find-room__form(action="https://echo.htmlacademy.ru" method="post")
        div.find-room__group
            p.find-room__item
                +c-field-dropdown("find-room", "find-room__from", "Прибытие", true)(name="from" placeholder="ДД.ММ.ГГГГ")
            p.find-room__item
                +c-field-dropdown("find-room", "find-room__to", "Выезд", true)(name="to" placeholder="ДД.ММ.ГГГГ")
        .dropdown-wrapper
            p.find-room__item.find-room__item--lonely
                +c-field-dropdown("js-dropdown-guests find-room", "find-room__guests", "Гости", true)(name="guests" placeholder="Сколько гостей")
            .dropdown__content
                .dropdown__item
                    b.dropdown__title Взрослые
                    .dropdown__count
                        button.dropdown__del(type="button")
                        span.dropdown__amount 0
                        button.dropdown__ins(type="button")
                .dropdown__item
                    b.dropdown__title Дети
                    .dropdown__count
                        button.dropdown__del(type="button")
                        span.dropdown__amount 0
                        button.dropdown__ins(type="button")
                .dropdown__item
                    b.dropdown__title Младенцы
                    .dropdown__count
                        button.dropdown__del(type="button")
                        span.dropdown__amount.dropdown__amount--baby 0
                        button.dropdown__ins(type="button")
                .dropdown__item.dropdown__buttons
                    span.dropdown__clear Очистить
                    span.dropdown__apply Применить
        p.find-room__item
            +button("button--purple-gradient button--arrow", "Подобрать номер")(type="submit")