.find-room {
    box-sizing: border-box;
    width: 380px;
    padding: 39px 29px 29px;

    border: 1px solid rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
}

.find-room__title {
    margin: 0 0 20px;

    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    color: $primary-color-100;
}

.find-room__group {
    display: flex;
    justify-content: space-between;

    .find-room__item {
        width: 150px;
    }
}

.find-room__item {
    margin: 0 0 20px;

    .button {
        width: 100%;
        padding: 15px 20px;
    }
}

.find-room__label {
    display: block;
    margin: 0 0 5px;

    &::after {
        top: 40px;
        right: 15px;
    }
}

.find-room__field {
    box-sizing: border-box;
    padding: 10px 25px 10px 15px;
    width: 100%;
}