.c-field-toggle__label {
  position: relative;
  padding-left: 40px;
}

.c-field-toggle__checkbox_custom {
  position: absolute;
  top: 0;
  left: 0;

  box-sizing: border-box;
  display: inline-block;
  width: 40px;
  height: 20px;

  border: 1px solid $primary-color-25;
  border-radius: 10px;

  &::before {
    content: '';
    display: inline-block;
    position: absolute;
    top: 3.5px;
    left: 2px;

    width: 12px;
    height: 12px;

    background: $primary-color-25;
    border-radius: 50%;
  }
}

.c-field-toggle__checkbox:focus + .c-field-toggle__checkbox_custom {
  outline: 5px auto rgb(77, 144, 254);
  outline-offset: -2px;
}

.c-field-toggle__checkbox:checked + .c-field-toggle__checkbox_custom {
  border: 1px solid $purple-color-100;

  &::before {
    left: auto;
    right: 2px;

    background: linear-gradient(180deg, $purple-color-100 0%, #8ba4f9 100%);
  }
}
