mixin toggle-button({id = "set id!", title = "set title!"})
  span.toggle-button
    input.toggle-button__field.visually-hidden(id=id type="checkbox")&attributes(attributes)
    label.toggle-button__label(for=id)= title