.c-field-toggle__checkbox--custom {
    position: relative;

    box-sizing: border-box;
    display: inline-block;
    width: 40px;
    height: 20px;

    border: 1px solid $primary-color-25;
    border-radius: 10px;

    &::before {
        content: "";
        display: inline-block;
        position: absolute;
        top: 50%;
        left: 2px;

        width: 12px;
        height: 12px;

        background: $primary-color-25;
        border-radius: 50%;
        transform: translateY(-50%);
    }
}

.c-field-toggle__checkbox:focus + .c-field-toggle__checkbox--custom {
    outline: 5px auto rgb(77, 144, 254);
    outline-offset: -2px;
}

.c-field-toggle__checkbox:checked + .c-field-toggle__checkbox--custom {
    border: 1px solid $purple-color-100;

    &::before {
        left: auto;
        right: 2px;

        background: linear-gradient(180deg, $purple-color-100 0%, #8BA4F9 100%);
    }
}