.button--like {
    color: $primary-color-25;

    &::before {
        background: $primary-color-25;
    }

    &:hover {
        color: $purple-color-100;

        &::before {
            background-image: linear-gradient(180deg, $purple-color-100 0%, rgba(139, 164, 249, 1) 100%);
        }

        path {
            fill: $purple-color-100;
        }
    }

    svg {
        display: inline-block;
        margin: 0 5px -1px 0;
    }
}