.button-like {
  $root: &;

  position: relative;
  display: inline-block;
  width: 100%;
  min-width: 2.8571rem;
  padding: 0.0714rem;
  font: inherit;
  font-weight: bold;
  font-size: 0.8571rem;
  line-height: 1.0714rem;
  border: none;
  border-radius: 1.5714rem;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  background-color: $primary-color-25;

  &::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0.2143rem;
    height: 0.7143rem;
    width: 0.7143rem;
    background: url('../../components/button-like/images/heart.svg') no-repeat center;
    transform: translateY(-50%);
  }

  &_theme_liked {
    color: $purple-color-100;
    background: linear-gradient(180deg, $purple-color-100 0%, $aqua-color-light-100 100%);

    &::before {
      background-image: url('../../components/button-like/images/heart-filled.svg');
    }
  }

  &__text {
    box-sizing: border-box;
    display: inline-block;
    width: 100%;
    border-radius: 1.5714rem;
    padding: 0.2143rem 0.2143rem 0.2143rem 0.8571rem;
    font-size: 0.7143rem;
    line-height: 0.8571rem;
    color: $primary-color-25;
    background-color: $white-color-100;
  }
}
