mixin button-like({likes = 0, theme = ""} = {})
  - const className = theme ? `button-like_theme_${theme}` : "";

  button.button-like.js-button-like(class= className type="button" data-amount-likes= likes)&attributes(attributes)
    span.button-like__text.js-button-like__text
