.c-advantage__wrapper {
  display: flex;
  align-items: center;
  margin: 0;
}

.c-advantage__icon {
  display: inline-block;
  width: 48px;
  height: 48px;

  background-repeat: no-repeat;
  background-position: center;
}

.c-advantage__text {
  margin: 0;

  color: $primary-color-75;
}

.c-advantage__lead {
  display: block;

  font-weight: bold;
}
