mixin advantage(parameters)
  - const icon = parameters.icon
  - const title = parameters.title
  - const description = parameters.description
  p.advantage
    span.advantage__icon(style=`background-image: url("${icon}")`)
    span.advantage__text
      b.advantage__lead= title
      = description
