.button--border-gradient {
    position: relative;

    color: $purple-color-100;

    background-color: #fff;

    &::before {
        content: "";
        position: absolute;
        z-index: -1;
        left: -2px;
        top: -2px;
        bottom: -2px;
        right: -2px;

        border-radius: 22px;
        background-image: linear-gradient(180deg, $purple-color-100 0%, rgba(139, 164, 249, 1) 100%);
    }

    &:hover::before {
        background-image: linear-gradient(180deg, $purple-color-50 0%, rgba(139, 164, 249, 0.5) 100%);
    }
}