.button {
  display: inline-block;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font: inherit;
  font-weight: bold;
  font-size: 0.8571rem;
  line-height: 1.0714rem;
  border: none;
  border-radius: 1.5714rem;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}
