.button--like {
    position: relative;

    min-width: 40px;
    padding: 0 10px;

    color: $primary-color-25;

    text-align: right;

    &::before {
        top: -1px;
        left: -1px;
        right: -1px;
        bottom: -1px;

        background: $primary-color-25;
    }

    &:hover {
        color: $purple-color-100;

        &::before {
            background-image: linear-gradient(180deg, $purple-color-100 0%, rgba(139, 164, 249, 1) 100%);
        }

        path {
            fill: $purple-color-100;
        }
    }

    svg {
        position: absolute;
        top: 50%;
        left: 3px;

        margin-right: 5px;

        transform: translateY(-50%);
    }
}