.checkbox-poor {
  margin: 0;
  padding: 0;

  &__label {
    position: relative;
    display: inline-block;
    padding-left: 2.1429rem;
    font-weight: normal;
    font-size: 1rem;
    line-height: 1.2857rem;
    color: $primary-color-50;
    text-transform: none;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      box-sizing: border-box;
      width: 1.4286rem;
      height: 1.4286rem;
      border: 0.0714rem solid $primary-color-25;
      border-radius: 0.2857rem;
    }
  }

  &__field {
    &:checked + .checkbox-poor__label::after {
      content: '';
      position: absolute;
      top: 0.2857rem;
      left: 0.4286rem;
      width: 0.7143rem;
      height: 0.7857rem;
      background: url('../../images/checkbox/checkbox-arrow.svg') no-repeat center;
    }

    &:focus + .checkbox-poor__label::before {
      outline: 0.3571rem auto $outline-color-100;
      outline-offset: -0.1429rem;
    }

    &_hidden {
      position: absolute;
      width: 0.0714rem;
      height: 0.0714rem;
      margin: -0.0714rem;
      border: 0;
      padding: 0;
      clip-path: inset(100%);
      clip: rect(0 0 0 0);
      overflow: hidden;
    }
  }
}
