mixin c-checkbox-poor(classes, id, title)
  label(class= classes + "__label c-checkbox-poor__label" for= id)
    input(class= classes + "__checkbox c-checkbox-poor__checkbox visually-hidden" id= id type="checkbox")&attributes(attributes)
    span(class=classes + "__checkbox_custom c-checkbox-poor__checkbox_custom")
    = title