mixin checkbox-poor({id = "set id!", title = "set title!"})
  p.checkbox-poor
    input.checkbox-poor__field.checkbox-poor__field_hidden(id= id type="checkbox")&attributes(attributes)
    label.checkbox-poor__label(for= id)= title