include ../room-search/room-search

mixin main-page
  main.main-page
    h1.main-page__title.main-page__title_hidden Отель Toxin
    .main-page__container
      .main-page__form
        +room-search
      p.main-page__info Лучшие номера для вашей работы, отдыха и просто вдохновения
