.button--link {
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    color: $purple-color-100;

    text-transform: uppercase;

    &:hover {
        color: $primary-color-50;
    }
}