@import 'ion-rangeslider/css/ion.rangeSlider.min';

.range-slider {
  display: inline-block;
  width: 100%;

  &__group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.4286rem;
  }

  &__price {
    font-size: 0.8571rem;
    line-height: 1.0714rem;
    color: $primary-color-50;
  }

  &__label {
    font-weight: bold;
    font-size: 0.8571rem;
    line-height: 1.0714rem;
    color: $primary-color-100;
    text-transform: uppercase;
  }

  &__description {
    display: inline-block;
    margin-top: 0.7857rem;
    font-size: 0.8571rem;
    line-height: 1rem;
    color: $primary-color-50;
  }
}

.irs {
  $root: &;

  &--custom {
    height: 0.8571rem;

    #{$root}-line {
      top: 0.2143rem;
      height: 0.4286rem;
      box-sizing: border-box;
      background-color: $white-color-100;
      border: 0.0714rem solid $primary-color-25;
      border-radius: 0.2143rem;
    }

    #{$root}-bar {
      top: 0.2143rem;
      height: 0.4286rem;
      background: linear-gradient(180deg, $green-color-100 0%, $aqua-color-100 100%);
    }

    #{$root}-handle {
      top: -0.2143rem;
      width: 1.2143rem;
      height: 1.2143rem;
      background: linear-gradient(180deg, $green-color-100 0%, $aqua-color-100 100%);
      border: 0.1429rem solid $white-color-100;
      border-radius: 50%;
    }
  }
}
