html {
  font-style: normal;
  font-weight: normal;
  font-size: $basic-font-fize;
  line-height: $basic-line-height;
  font-family: $basic-font;
  color: $primary-color-75;
  background-color: #fff;
}

body {
  display: flex;
  flex-direction: column;
  min-width: 320px;
  max-width: 1920px;
  min-height: 100vh;
  margin: 0 auto;
  padding: 0;
}

.container {
  box-sizing: border-box;
  max-width: 1180px;
  margin: 0 auto;
  padding: 0 10px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  display: inline-block;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font: inherit;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  border: none;
  border-radius: 22px;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;
}

label {
  display: inline-block;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  color: $primary-color-100;
  text-transform: uppercase;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}
