html {
  font: $basic-font;
  color: $primary-color-75;
}

body {
  display: flex;
  flex-direction: column;
  min-width: 22.8571rem;
  max-width: 137.1429rem;
  min-height: 100vh;
  margin: 0 auto;
  padding: 0;
  background-color: $white-color-100;
}
