body {
    margin: 0;
    padding: 0;

    color: $primary-color-75;
    font-family: $basic-font;
    font-size: $basic-font-fize;
    line-height: $basic-line-height;
    font-style: normal;
    font-weight: normal;
}

.container {
    max-width: 1160px;
    padding: 0 10px;
    margin: 0 auto;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

img {
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
}

.button {
    display: inline-block;
    box-sizing: border-box;

    font-weight: bold;
    font-size: 12px;
    line-height: 15px;

    border-radius: 22px;
    text-transform: uppercase;
}

.button--border-gradient {
    position: relative;

    color: $purple-color-100;

    background-color: #fff;
}

.button--border-gradient::before {
    content: "";
    position: absolute;
    z-index: -1;
    left: -2px;
    top: -2px;
    bottom: -2px;
    right: -2px;

    border-radius: 22px;
    background-image: linear-gradient(180deg, $purple-color-100 0%, rgba(139, 164, 249, 1) 100%);
}

.button--border-gradient:hover::before {
    background-image: linear-gradient(180deg, $purple-color-50 0%, rgba(139, 164, 249, 0.5) 100%);
}

.button--purple-gradient {
    color: #fff;

    background-image: linear-gradient(180deg, $purple-color-100 0%, rgba(139, 164, 249, 1) 100%);
}

.button--purple-gradient:hover {
    background-image: linear-gradient(180deg, $purple-color-50 0%, rgba(139, 164, 249, 0.5) 100%);
}