body {
    margin: 0 auto;
    padding: 0;
    min-width: 320px;
    max-width: 1920px;

    color: $primary-color-75;
    font-family: $basic-font;
    font-size: $basic-font-fize;
    line-height: $basic-line-height;
    font-style: normal;
    font-weight: normal;
}

.container {
    box-sizing: border-box;
    max-width: 1180px;
    padding: 0 10px;
    margin: 0 auto;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

img {
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
}