include ../components/buttons/button-with-like/button-with-like
include ../components/buttons/button-with-purple-gradient-and-arrow/button-with-purple-gradient-and-arrow

include ../components/links/link-with-border-gradient
include ../components/links/link-with-purple-gradient
include ../components/links/link-with-purple-gradient-and-arrow

include ../components/rating/rating

include ../components/main-header/main-header
include ../components/main-footer/main-footer

include ../components/pagination/pagination

include ../components/range/range

include ../components/checkboxes/checkbox-poor/checkbox-poor
include ../components/checkboxes/checkbox-rich/checkbox-rich
include ../components/checkboxes/checkbox-expandable/checkbox-expandable

include ../components/forms/form-find-room/form-find-room
include ../components/forms/form-confirm-room/form-confirm-room
include ../components/forms/form-login/form-login
include ../components/forms/form-registration/form-registration

include ../components/radio/radio

include ../components/toggle/toggle

include ../components/bullet-list/bullet-list

include ../components/advantage/advantage

include ../components/testimonial/testimonial

include ../components/donut/donut

include ../components/field-default/field-default
include ../components/field-subscription/field-subscription

include ../components/dropdowns/dropdown-default
include ../components/dropdowns/dropdown-guests
include ../components/dropdowns/dropdown-comfort

include ../components/room/room