include ../components/header/header
include ../components/footer/footer

include ../components/roomSearch/roomSearch
include ../components/roomBook/roomBook
include ../components/signIn/signIn
include ../components/signUp/signUp

include ../components/button/button
include ../components/link/link

include ../components/textInput/textInput
include ../components/checkboxInput/checkboxInput
include ../components/radioInput/radioInput
include ../components/rangeSlider/rangeSlider
include ../components/calendar/calendar
include ../components/dropdown/dropdown

include ../components/room/room
include ../components/testimonial/testimonial
include ../components/pagination/pagination
include ../components/advantage/advantage
include ../components/bulletList/bulletList
include ../components/rating/rating
include ../components/donut/donut