include ../components/header/header
include ../components/footer/footer

include ../components/room-search/room-search
include ../components/room-book/room-book
include ../components/sign-in/sign-in
include ../components/sign-up/sign-up

include ../components/button/button
include ../components/link/link

include ../components/text-input/text-input
include ../components/checkbox-input/checkbox-input
include ../components/radio-input/radio-input
include ../components/range-slider/range-slider
include ../components/calendar/calendar
include ../components/dropdown/dropdown

include ../components/room/room
include ../components/testimonial/testimonial
include ../components/pagination/pagination
include ../components/advantage/advantage
include ../components/bullet-list/bullet-list
include ../components/rating/rating
include ../components/donut/donut