//- buttons
include ../components/buttons/buttons

//- rating
include ../components/rating/rating

//- navigation
include ../components/pagination/pagination

//- range
include ../components/range/range

//- checkboxes
include ../components/checkboxes/checkbox-poor/checkbox-poor
include ../components/checkboxes/checkbox-rich/checkbox-rich
include ../components/checkboxes/checkbox-expandable/checkbox-expandable

//- radio
include ../components/radio-button/radio-button

//- toggle
include ../components/toggle-button/toggle-button

//- bullet list
include ../components/bullet-list/bullet-list

//- advantages
include ../components/advantages/advantages

//- testimonials
include ../components/testimonials/testimonials

//- inputs
include ../components/field-default/field-default
include ../components/field-masked/field-masked
include ../components/field-subscription/field-subscription
include ../components/field-dropdown/field-dropdown