include ../components/buttons/button-like/button-like
include ../components/buttons/button-with-purple-gradient-and-arrow/button-with-purple-gradient-and-arrow
include ../components/buttons/button-with-border-gradient/link-with-border-gradient
include ../components/buttons/button-with-purple-gradient/link-with-purple-gradient
include ../components/buttons/button-with-purple-gradient-and-arrow/link-with-purple-gradient-and-arrow
include ../components/buttons/button-default/link-default

include ../components/rating/rating

include ../components/main-headers/main-header
include ../components/main-headers/main-header-logged
include ../components/main-footers/main-footer
include ../components/main-footers/main-footer-poor

include ../components/pagination/pagination

include ../components/range-slider/range-slider

include ../components/checkbox/checkbox
include ../components/checkbox/checkbox-expandable/checkbox-expandable

include ../components/forms/form-find-room/form-find-room
include ../components/forms/form-confirm-room/form-confirm-room
include ../components/forms/form-login/form-login
include ../components/forms/form-registration/form-registration

include ../components/radio-button/radio-button

include ../components/bullet-list/bullet-list

include ../components/advantage/advantage

include ../components/testimonial/testimonial

include ../components/donut/donut

include ../components/text-field-default/text-field-default
include ../components/text-field-masked/text-field-masked
include ../components/text-field-subscription/text-field-subscription

include ../components/dropdowns/dropdown-default
include ../components/dropdowns/dropdown-guests
include ../components/dropdowns/dropdown-comfort
include ../components/dropdowns/dropdown-date

include ../components/room/room