/*
===== COLORS =====
*/

$primary-color-100: rgba(31, 32, 65, 1);
$primary-color-75: rgba(31, 32, 65, 0.75);
$primary-color-50: rgba(31, 32, 65, 0.5);
$primary-color-25: rgba(31, 32, 65, 0.25);
$primary-color-10: rgba(31, 32, 65, 0.1);
$primary-color-5: rgba(31, 32, 65, 0.05);

$purple-color-100: rgba(188, 156, 255, 1);
$purple-color-50: rgba(188, 156, 255, 0.5);

$green-color-100: rgba(111, 207, 151, 1);

$aqua-color-100: rgba(102, 210, 234, 1);

/*
===== FONT =====
*/

$basic-font: Montserrat, sans-serif;
$basic-font-fize: 14px;
$basic-line-height: 24px;