@import '../../utilities/init';
@import '../../components/main-header/main-header';
@import '../../components/forms/form-registration/form-registration';
@import '../../components/main-footer/main-footer';

.registration-page {
    padding: 30px 0 26px;

    background: lightgray url("images/background.jpg") no-repeat center / cover;

    .registration {
        margin: 0 auto;
    }
}