extends ../../templates/template-base

block description
  meta(name="description" content="Зарегистрируйтесь на сайте, чтобы иметь возможность бронировать номера, оставлять отзывы об отелях.")

block keywords
  meta(name="keywords" content="toxin зарегистрироваться, зарегистрировать аккаунт toxin")

block title
  title Отель Toxin | Регистрация аккаунта

block styles
  link(rel="stylesheet" href="./registration-page.scss")

block content
  include ../../utilities/mixins-components

  +main-header
  main.registration-page
    h1.registration-page__title.registration-page__title_hidden Зарегистрировать аккаунт
    .registration-page__container
      +form-registration
  +main-footer

  script(src="./registration-page.js")