mixin checkbox-expandable(title, obj)
  div.checkbox-expandable(data-checkbox="expandable")
    b.checkbox-expandable__title= title
    ul.checkbox-expandable__list
      each value, key in obj
        li.checkbox-expandable__item
          +checkbox-poor(value, key)(name= value)