mixin checkbox-expandable({title = "set title!", items = [{"id": "set id!", "title": "set title!"}]})
  div.checkbox-expandable.js-checkbox-expandable
    b.checkbox-expandable__title= title
    ul.checkbox-expandable__list
      each item in items
        li.checkbox-expandable__item
          +checkbox-poor({"id": `field-${item.name}`, "title": item.title})(name= item.name)