//- Кнопка
mixin button-purple-gradient-arrow(content)
    button(class="button button--purple-gradient button--arrow")&attributes(attributes)= content

//- Ссылка
mixin link-purple-gradient-arrow(content)
    a(class="button button--purple-gradient button--arrow")&attributes(attributes)= content