.button--arrow {
    position: relative;

    &::after {
        content: '';
        position: absolute;
        top: 50%;
        right: 15px;

        width: 18px;
        height: 18px;

        background: url("../../components/button-purple-gradient-arrow/images/arrow-white.svg");
        transform: translateY(-50%);
    }
}