extends ../../templates/template-base

block description
  meta(name="description" content="Наш отель является лучшим отелем 2019 года по версии независимой организации. Вы можете найти у нас номера от бюджетных до люксовых. Вам определенно понравится у нас")

block keywords
  meta(name="keywords" content="лучший отель 2019, бюджетный отель, отель toxin, забронировать номер в отеле")

block title
  title Отель Toxin | Лучший отель 2019 года по версии ассоциации «Отельные взгляды»

block styles
  link(rel="stylesheet" href="./index.scss")

block content
  include ../../utilities/mixins-components
  
  +main-header
  main.main-page
    h1.main-page__title.main-page__title_hidden Отель Toxin
    .container
      +form-find-room
      p.main-page__info Лучшие номера для вашей работы, отдыха и просто вдохновения
  +main-footer

  script(src="./index.js")