@import '../../utilities/init';
@import '../../components/header/header';
@import '../../components/footer/footer';
@import '../../components/room-search/room-search';

.main-page {
  position: relative;
  flex-grow: 1;
  padding: 5rem 0 27.4714rem;
  background: url('./images/background.jpg') no-repeat center/cover;

  @media screen and (max-width: 1057px) {
    padding: 2.1429rem 0;
  }

  &__container {
    box-sizing: border-box;
    max-width: 84.2857rem;
    margin: 0 auto;
    padding: 0 0.7143rem;
  }

  &__title {
    &_hidden {
      position: absolute;
      width: 0.0714rem;
      height: 0.0714rem;
      margin: -0.0714rem;
      border: 0;
      padding: 0;
      clip-path: inset(100%);
      clip: rect(0 0 0 0);
      overflow: hidden;
    }
  }

  &__info {
    position: absolute;
    bottom: 1.5rem;
    right: 12.3571rem;
    width: 21.4286rem;
    margin: 0;
    text-align: right;

    @media screen and (max-width: 1500px) {
      right: 1.0714rem;
    }

    @media screen and (max-width: 700px) {
      display: none;
    }
  }

  &__form {
    width: 27.1429rem;

    @media screen and (max-width: 700px) {
      margin: 0 auto;
    }

    @media screen and (max-width: 400px) {
      width: 100%;
    }
  }
}
