/*
===== Normalize =====
*/

@import 'normalize.css/normalize';

/*
===== Fonts =====
*/

@import '../../utilities/fonts';

/*
===== Variables =====
*/

@import '../../utilities/variables';

/*
===== Global =====
*/

@import '../../utilities/global';

/*
===== Components =====
*/

// buttons
@import '../../components/button-purple-gradient/button-purple-gradient';
@import '../../components/button-border-gradient/button-border-gradient';

// inputs
@import '../../components/field-subscription/field-subscription';

//blocks
@import '../../components/main-header/main-header';
@import '../../components/main-footer/main-footer';
@import '../../components/form-find-room/form-find-room';
@import '../../components/calendar/datepicker';