// Normalize
@import 'normalize.css/normalize';

// Fonts
@import '../../utilities/fonts';

// Variables
@import '../../utilities/variables';

// Global
@import '../../utilities/global';

// Components
@import '../../components/main-header/main-header';
@import '../../components/forms/form-find-room/form-find-room';
@import '../../components/main-footer/main-footer';


.main-page {
    background: lightgray url("images/main-background.jpg") no-repeat center / cover;

    .container {
        position: relative;

        padding: 70px 10px 386px;
    }
}

.main-page__info {
    position: absolute;
    bottom: 20px;
    right: 5px;

    width: 300px;
    margin: 0;

    text-align: right;
}