extends ../../templates/template-base

block title
    title Отель Toxin | Лучший отель 2019 года по версии ассоциации «Отельные взгляды»

block styles
    link(rel="stylesheet" href="index.scss")

block content
    include ../../utilities/mixins-pug

    include ../../components/main-header/main-header-non-authorized
    main.main-page
        .container
            include ../../components/forms/form-find-room/form-find-room
            p.main-page__info Лучшие номера для вашей работы, отдыха и просто вдохновения
    include ../../components/main-footer/main-footer-rich
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js")
    script(src="../../components/calendar/datepicker.js")
    script(src="index.js")