extends ../../templates/template-base

block title
    title Отель Toxin | Лучший отель 2019 года по версии ассоциации «Отельные взгляды»

block styles
    link(rel="stylesheet" href="components.scss")

block content
    include ../../utilities/mixins-pug

    .demonstrate-wrapper.demonstrate-wrapper--inline
        +c-field-default("register-form", "c-field-default", "text field", true)(placeholder="Email")

    .demonstrate-wrapper.demonstrate-wrapper--inline
        .dropdown-wrapper
            +c-field-dropdown("js-dropdown-guests register-form", "c-field-dropdown-guests", "dropdown guests", true)(placeholder="Сколько гостей?")
            .dropdown__content
                    .dropdown__item
                        b.dropdown__title Взрослые
                        .dropdown__count
                            button.dropdown__del(type="button")
                            span.dropdown__amount 0
                            button.dropdown__ins(type="button")
                    .dropdown__item
                        b.dropdown__title Дети
                        .dropdown__count
                            button.dropdown__del(type="button")
                            span.dropdown__amount 0
                            button.dropdown__ins(type="button")
                    .dropdown__item
                        b.dropdown__title Младенцы
                        .dropdown__count
                            button.dropdown__del(type="button")
                            span.dropdown__amount.dropdown__amount--baby 0
                            button.dropdown__ins(type="button")
                    .dropdown__item.dropdown__buttons
                        span.dropdown__clear Очистить
                        span.dropdown__apply Применить
    .demonstrate-wrapper.demonstrate-wrapper--inline
        .dropdown-wrapper
            +c-field-dropdown("js-dropdown-comfort register-form", "c-field-dropdown-comfort", "dropdown comfort", true)(placeholder="Настройте кофморт)")
            .dropdown__content
                    .dropdown__item
                        b.dropdown__title Спальни
                        .dropdown__count
                            button.dropdown__del(type="button")
                            span.dropdown__amount 0
                            button.dropdown__ins(type="button")
                    .dropdown__item
                        b.dropdown__title Кровати
                        .dropdown__count
                            button.dropdown__del(type="button")
                            span.dropdown__amount 0
                            button.dropdown__ins(type="button")
                    .dropdown__item
                        b.dropdown__title Ванные комнаты
                        .dropdown__count
                            button.dropdown__del(type="button")
                            span.dropdown__amount.dropdown__amount--baby 0
                            button.dropdown__ins(type="button")

    .demonstrate-wrapper.demonstrate-wrapper--inline
        +c-field-masked("filter-form", "c-field-masked", "masked text field", true)(placeholder="ДД.ММ.ГГГГ")

    .demonstrate-wrapper.demonstrate-wrapper--inline
        +c-field-date-dropdown("filter-form", "c-field-date-dropdown", "date dropdown", true)(placeholder="ДД.ММ.ГГГГ")

    .demonstrate-wrapper.demonstrate-wrapper--inline
        +c-field-subscription("https://echo.htmlacademy.ru", "filter-form", "c-field-subscription", "subscription text field", true)(type="email" placeholder="Email")

    .demonstrate-wrapper.demonstrate-wrapper--inline
        +c-checkbox-poor("filter-form", "c-field-checkbox", "Можно курить")

    .demonstrate-wrapper.demonstrate-wrapper--inline
        +c-radio-button("filter-form", "c-field-radio-1", "Мужчина")(type="radio" name="gender")
        +c-radio-button("filter-form", "c-field-radio-2", "Женщина")(type="radio" name="gender")

    .demonstrate-wrapper.demonstrate-wrapper--inline
        +c-toggle-button("filter-form", "c-field-toggle", "Получать спецпредложения")

    .demonstrate-wrapper.demonstrate-wrapper--inline
        +button-like("17")(type="button")

    .demonstrate-wrapper.demonstrate-wrapper--inline
        +c-rating("room-rating", 3, 5)

    .demonstrate-wrapper.demonstrate-wrapper--inline
        +button-purple-gradient("click me")(type="button")

    .demonstrate-wrapper.demonstrate-wrapper--inline
        +button-border-gradient("click me")(type="button")

    .demonstrate-wrapper.demonstrate-wrapper--inline
        +button-link("click me")(href="#")

    .demonstrate-wrapper.demonstrate-wrapper--inline
        +button-purple-gradient-arrow("click me")(type="button")

    .demonstrate-wrapper.demonstrate-wrapper--inline
        +c-pagination("room-pagination")

    .demonstrate-wrapper.demonstrate-wrapper--inline(style="width: 300px")
        +c-range("filter-form-range", "range-price", "Диапазон цены", "Стоимость за сутки пребывания в номере")(name="price")

    .demonstrate-wrapper.demonstrate-wrapper--inline
        +c-checkbox-rich("filter-form", "c-field-checkbox1", "Широкий коридор", "Ширина коридоров в номере не менее 91 см.")

    .demonstrate-wrapper.demonstrate-wrapper--inline
        +c-bullet-list("bullet-list", ['Нельзя с питомцами', 'Без вечеринок и мероприятий'])

    .demonstrate-wrapper.demonstrate-wrapper--inline
        +c-checkbox-expandable("filter-form", "Дополнительные удобства", {"Завтрак": "breakfast", "Письменный стол": "desk", "Кроватка": "bed"})

    .demonstrate-wrapper.demonstrate-wrapper--inline
        +c-advantages("advantages", [
        ["../../components/advantages/images/comfort.svg", "Комфорт", "Шумопоглощающие стены"], ["../../components/advantages/images/convenience.svg", "Удобство", "Окно в каждой из спален"]])

    .demonstrate-wrapper.demonstrate-wrapper--inline
        +c-testimonials("testimonials", [
        ["../../components/testimonials/images/1.jpg", "Мурад Сарафанов", "5 дней назад", "Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.", "12"]])

    .demonstrate-wrapper
        include ../../components/main-header/main-header-non-authorized

    .demonstrate-wrapper
        include ../../components/main-header/main-header-authorized

    .demonstrate-wrapper
        include ../../components/main-footer/main-footer-rich

    .demonstrate-wrapper
        include ../../components/main-footer/main-footer-poor

    .demonstrate-wrapper.demonstrate-wrapper--inline
        include ../../components/form-find-room/form-find-room

    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js")
    script(src="../../components/calendar/datepicker.js")
    script(src="../../components/range/range.js")
    script(src="components.js")