/*
===== Normalize =====
*/

@import 'normalize.css/normalize';

/*
===== Fonts =====
*/

@import '../../utilities/fonts';

/*
===== Variables =====
*/

@import '../../utilities/variables';

/*
===== Global =====
*/

@import '../../utilities/global';

/*
===== Components =====
*/

// buttons
@import '../../components/buttons/button';
@import '../../components/buttons/button-purple-gradient';
@import '../../components/buttons/button-border-gradient';
@import '../../components/buttons/button-arrow';
@import '../../components/buttons/button-link';
@import '../../components/buttons/button-like';

// rating
@import '../../components/rating/rating';

// pagination
@import '../../components/pagination/pagination';

// range
@import '../../components/range/range';

// checkboxes
@import '../../components/checkboxes/checkbox-poor/checkbox-poor';
@import '../../components/checkboxes/checkbox-rich/checkbox-rich';
@import '../../components/checkboxes/checkbox-expandable/checkbox-expandable';

// radio button
@import '../../components/radio-button/radio-button';

// toggle button
@import '../../components/toggle-button/toggle-button';

// bullet list
@import '../../components/bullet-list/bullet-list';

// advantages
@import '../../components/advantages/advantages';

// testimonials
@import '../../components/testimonials/testimonials';

// inputs
@import '../../components/field-default/field-default';
@import '../../components/field-masked/field-masked';
@import '../../components/field-subscription/field-subscription';
@import '../../components/field-dropdown/field-dropdown';

// calendar
@import '../../components/calendar/datepicker';

// room
@import '../../components/room/room';

//forms
@import '../../components/forms/form-find-room/form-find-room';
@import '../../components/forms/form-confirm-room/form-confirm-room';
@import '../../components/forms/form-registration/form-registration';
@import '../../components/forms/form-log-in/form-log-in';

//blocks
@import '../../components/main-header/main-header';
@import '../../components/main-footer/main-footer';


.demonstrate-wrapper {
    display: block;

    padding: 10px;
    border: 2px dotted gray;

    margin-bottom: 20px;

    vertical-align: top;

    &--inline {
        display: inline-block;
    }

    .title {
        display: block;
        padding: 0;
        margin: 0;

        font-weight: bold;
        font-size: 12px;
        line-height: 15px;
        color: $primary-color-100;

        text-transform: uppercase;
    }

    .arrow {
        display: inline-block;
        width: 6px;
        height: 6px;

        border: 2px solid $primary-color-50;
        border-top: 0;
        border-left: 0;
        transform: translateY(-50%) rotate(45deg);

        &--expand {
            transform: rotate(-135deg);
        }
    }

    label {
        display: block;
    }
}
