.c-field-radio__label {
    position: relative;

    padding-left: 25px;

    color: $primary-color-50;
}

.c-field-radio__radio--custom {
    position: absolute;
    top: 0;
    left: 0;

    box-sizing: border-box;
    display: inline-block;
    width: 20px;
    height: 20px;

    border: 1px solid $purple-color-100;
    border-radius: 50%;
}

.c-field-radio__radio:checked + .c-field-radio__radio--custom::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;

    box-sizing: border-box;
    width: 12px;
    height: 12px;

    background: linear-gradient(180deg, $purple-color-100 0%, #8BA4F9 100%);
    border-radius: 50%;
    transform: translate(-50%, -50%);
}

.c-field-radio__radio:focus + .c-field-radio__radio--custom {
    outline: 5px auto rgb(77, 144, 254);
    outline-offset: -2px;
}

.c-field-radio__radio:checked + span + span {
    color: $primary-color-75;
}