@import '../../utilities/init';
@import '../../components/main-header/main-header';
@import '../../components/forms/form-login/form-login';
@import '../../components/main-footer/main-footer';

.login-page {
    padding: 163px 0;

    background: lightgray url("images/background.jpg") no-repeat center / cover;

    .login {
        margin: 0 auto;
    }
}