@import '../../utilities/init';
@import '../../components/main-header/main-header';
@import '../../components/forms/form-login/form-login';
@import '../../components/main-footer/main-footer-rich/main-footer-rich';

.login-page {
  flex-grow: 1;
  padding: 163px 0;

  background: lightgray url('../registration-page/images/background.jpg') no-repeat center / cover;

  .login {
    margin: 0 auto;
  }
}

@media screen and (max-width: 946px) {
  .login-page {
    padding: 30px 0;
  }
}
