@import '../../utilities/init';
@import '../../components/main-headers/main-header';
@import '../../components/forms/form-login/form-login';
@import '../../components/main-footers/main-footer';

.login-page {
  flex-grow: 1;
  padding: 11.6429rem 0;
  background: url('../../images/login-page/background.jpg') no-repeat center / cover;

  @media screen and (max-width: 946px) {
    padding: 2.1429rem 0;
  }

  &__title {
    &_hidden {
      position: absolute;
      width: 0.0714rem;
      height: 0.0714rem;
      margin: -0.0714rem;
      border: 0;
      padding: 0;
      clip-path: inset(100%);
      clip: rect(0 0 0 0);
      overflow: hidden;
    }
  }

  .login {
    margin: 0 auto;
  }
}
