@import '../../utilities/init';
@import '../../components/main-header/main-header';
@import '../../components/forms/form-login/form-login';
@import '../../components/main-footer/main-footer';

.login-page {
  flex-grow: 1;
  padding: 11.6429rem 0;
  background: url('../../images/login-page/background.jpg') no-repeat center / cover;

  @media screen and (max-width: 946px) {
    padding: 2.1429rem 0;
  }

  .login {
    margin: 0 auto;
  }
}
