extends ../../templates/template-base

block description
  meta(name="description" content="Войдите на сайт, чтобы забронировать номер.")

block keywords
  meta(name="keywords" content="toxin войти, войти на сайт toxin")

block title
  title Отель Toxin | Вход

block styles
  link(rel="stylesheet" href="./login-page.scss")

block content
  include ../../utilities/mixins-components

  +header({"jsClasses": "js-header"})
  main.login-page
    h1.login-page__title.login-page__title_hidden Вход в систему
    .login-page__container
      +signIn
  +footer

  script(src="./login-page.js")