extends ../../templates/template-base

block description
  meta(name="description" content="Войдите на сайт, чтобы забронировать номер.")

block keywords
  meta(name="keywords" content="toxin войти, войти на сайт toxin")

block title
  title Отель Toxin | Вход

block styles
  link(rel="stylesheet" href="./login-page.scss")

block content
  include ../../utilities/mixins-pug

  include ../../components/main-header/main-header-non-authorized
  main.login-page
    h1.visually-hidden Вход в систему
    .container
      include ../../components/forms/form-login/form-login
  include ../../components/main-footer/main-footer-rich/main-footer-rich

  script(src="./login-page.js")