mixin c-field-toggle(classes, id, content)
    label(class= classes + " c-field-toggle__label" for= id)
        input(class= classes + " c-field-toggle__field visually-hidden" id= id)&attributes(attributes)
        span(class="c-field-toggle__field--custom")
        = content