mixin c-field-toggle(classes, id, content)
    label(class= classes + " c-field-toggle__label" for= id)
        input(class= classes + " c-field-toggle__field" id= id)&attributes(attributes)
        = content