@import '../../../node_modules/air-datepicker/dist/css/datepicker.min';

.datepicker {
  box-sizing: border-box;
  width: 22.8571rem;
  padding: 1.0286rem 1.4286rem 0.8286rem;
  font: inherit;
  border: 0.0714rem solid $primary-color-25;
  box-shadow: 0rem 0.7143rem 1.4286rem $primary-color-5;
  border-radius: 0.2857rem;

  @media screen and (max-width: 375px) {
    width: 19.2857rem;
    padding: 0.7143rem 0.3571rem;
  }

  &--nav {
    align-items: center;
    margin: 0 0 1.8429rem;
    padding: 0;
    border-bottom: none;

    @media screen and (max-width: 375px) {
      margin-bottom: 1.0714rem;
    }

    &-title {
      font-weight: bold;
      font-size: 1.3571rem;
      color: $primary-color-100;
      cursor: default;

      &:hover {
        background-color: transparent;
      }
    }
  }

  &--nav-action {
    width: 1.7143rem;
    height: 1.7143rem;

    &:hover {
      background-color: transparent;
    }
  }

  &--content {
    padding: 0;
    margin: 0 0 0.9286rem;
  }

  &--days-names {
    margin: 0;
    height: 2.8571rem;
  }

  &--day-name {
    font-weight: bold;
    font-size: 0.8571rem;
    line-height: 1.0714rem;
    color: $purple-color-100;
    text-transform: none;
  }

  &--cells {
    justify-content: space-between;
  }

  &--cell-day {
    height: 2.8571rem;
    font-size: 0.8571rem;
    line-height: 1.0714rem;
    color: $primary-color-50;
    border-radius: 0;

    @media screen and (max-width: 375px) {
      height: 2.5714rem;
    }

    &.-other-month- {
      color: $primary-color-25;
    }

    &.-disabled- {
      cursor: default;
      color: $primary-color-50;
    }

    &.-disabled-.-focus- {
      background-color: transparent;
    }

    &.-disabled-.-focus-.-other-month- {
      color: $primary-color-25;
    }

    &.-disabled-.-other-month- {
      color: $primary-color-25;
    }

    &.-in-range- {
      color: $primary-color-50;
    }

    &.-in-range-.-disabled- {
      background-color: transparent;
    }

    &.-range-to-,
    &.-range-from- {
      border: none;
    }

    &.-focus-:not(.-disabled-):not(.-current-):not(.-in-range-),
    &.-selected-,
    &.-selected-.-other-month- {
      font-weight: bold;
      color: $white-color-100;
      background: linear-gradient(180deg, $purple-color-100 0%, $aqua-color-light-100 100%);
      border-radius: 50%;
    }

    &.-current- {
      font-weight: bold;
      color: $white-color-100 !important;
      background: linear-gradient(180deg, $green-color-100 0%, $aqua-color-100 100%) !important;
      border-radius: 50%;
    }

    &.-current-.-focus- {
      color: $white-color-100;
    }

    &.-in-range-:not(.-disabled-):not(.-current-),
    &.-in-range-.other-month- {
      background: linear-gradient(
        180deg,
        $purple-color-25 0%,
        $aqua-color-light-25 100%
      ) !important;
    }

    &.-range-from-:not(.-disabled-) {
      position: relative;

      &::after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        z-index: -1;
        width: 50%;
        height: 100%;
        background: linear-gradient(180deg, $purple-color-25 0%, $aqua-color-light-25 100%);
      }
    }

    &.-range-to-:not(.-disabled-) {
      position: relative;

      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        width: 50%;
        height: 100%;
        background: linear-gradient(180deg, $purple-color-25 0%, $aqua-color-light-25 100%);
      }
    }
  }

  &--buttons {
    justify-content: space-between;
    padding: 0;
    border: none;
  }

  &--button {
    flex-grow: 0;
    font-weight: bold;
    font-size: 0.8571rem;
    line-height: 1.0714rem;
    color: $primary-color-50;
    text-transform: uppercase;
    cursor: pointer;

    &:hover {
      background-color: transparent !important;
    }

    &[data-action='today'] {
      color: $purple-color-100 !important;
      order: 1;
    }

    &[data-action='clear'] {
      color: $purple-color-50 !important;
    }
  }
}
