.datepicker--cells {
  display: flex;
  flex-wrap: wrap;
}

.datepicker--cell {
  border-radius: 4px;
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  height: 32px;
  z-index: 1;
}

.datepicker--days-names {
  display: flex;
  flex-wrap: wrap;
  margin: 8px 0 3px;
}

.datepicker--day-name {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  text-align: center;
  text-transform: uppercase;
  font-size: 0.8em;
}

.datepicker--cell-day {
  width: 14.28571%;
}

.datepicker--cells-months {
  height: 170px;
}

.datepicker--cell-month {
  width: 33.33%;
  height: 25%;
}

.datepicker--years {
  height: 170px;
}

.datepicker--cells-years {
  height: 170px;
}

.datepicker--cell-year {
  width: 25%;
  height: 33.33%;
}

.datepickers-container {
  position: absolute;
  left: 0;
  top: 0;
}

.datepicker {
  background: #fff;
  border: 1px solid #dbdbdb;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  box-sizing: content-box;
  font-family: Tahoma, sans-serif;
  font-size: 14px;
  color: #4a4a4a;
  width: 250px;
  position: absolute;
  left: -100000px;
  opacity: 0;
  transition: opacity 0.3s ease, left 0s 0.3s, -webkit-transform 0.3s ease;
  transition: opacity 0.3s ease, transform 0.3s ease, left 0s 0.3s;
  transition: opacity 0.3s ease, transform 0.3s ease, left 0s 0.3s, -webkit-transform 0.3s ease;
  z-index: 100;
}
.datepicker.-from-top- {
  transform: translateY(-8px);
}
.datepicker.-from-right- {
  transform: translateX(8px);
}
.datepicker.-from-bottom- {
  transform: translateY(8px);
}
.datepicker.-from-left- {
  transform: translateX(-8px);
}
.datepicker.active {
  opacity: 1;
  transform: translate(0);
  transition: opacity 0.3s ease, left 0s 0s, -webkit-transform 0.3s ease;
  transition: opacity 0.3s ease, transform 0.3s ease, left 0s 0s;
  transition: opacity 0.3s ease, transform 0.3s ease, left 0s 0s, -webkit-transform 0.3s ease;
}

.datepicker-inline .datepicker {
  border-color: #d7d7d7;
  box-shadow: none;
  position: static;
  left: auto;
  right: auto;
  opacity: 1;
  transform: none;
}

.datepicker-inline .datepicker--pointer {
  display: none;
}

.datepicker--content {
  box-sizing: content-box;
  padding: 4px;
}

.-top-left- .datepicker--pointer,
.-top-center- .datepicker--pointer,
.-top-right- .datepicker--pointer {
  top: calc(100% - 4px);
  transform: rotate(135deg);
}
.-right-top- .datepicker--pointer,
.-right-center- .datepicker--pointer,
.-right-bottom- .datepicker--pointer {
  right: calc(100% - 4px);
  transform: rotate(225deg);
}
.-bottom-left- .datepicker--pointer,
.-bottom-center- .datepicker--pointer,
.-bottom-right- .datepicker--pointer {
  bottom: calc(100% - 4px);
  transform: rotate(315deg);
}
.-left-top- .datepicker--pointer,
.-left-center- .datepicker--pointer,
.-left-bottom- .datepicker--pointer {
  left: calc(100% - 4px);
  transform: rotate(45deg);
}
.-top-left- .datepicker--pointer,
.-bottom-left- .datepicker--pointer {
  left: 10px;
}
.-top-right- .datepicker--pointer,
.-bottom-right- .datepicker--pointer {
  right: 10px;
}
.-top-center- .datepicker--pointer,
.-bottom-center- .datepicker--pointer {
  left: calc(50% - 10px / 2);
}
.-left-top- .datepicker--pointer,
.-right-top- .datepicker--pointer {
  top: 10px;
}
.-left-bottom- .datepicker--pointer,
.-right-bottom- .datepicker--pointer {
  bottom: 10px;
}
.-left-center- .datepicker--pointer,
.-right-center- .datepicker--pointer {
  top: calc(50% - 10px / 2);
}

.datepicker--body {
  display: none;
}

.datepicker--body.active {
  display: block;
}

.datepicker--nav {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #efefef;
  padding: 4px;
}

.datepicker--nav-title,
.datepicker--nav-action {
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
}

.datepicker--nav-action {
  border-radius: 4px;
  user-select: none;
}

.datepicker--nav-action.-disabled- {
  visibility: hidden;
}

.datepicker--buttons {
  display: flex;
  justify-content: space-between;
  padding: 4px;
  border-top: 1px solid #efefef;
}

/* Custom styles */

.datepicker {
  box-sizing: border-box;
  width: 320px;
  padding: 20px;
  font: inherit;
  border: 1px solid $primary-color-25;
  box-shadow: 0px 10px 20px $primary-color-5;
  border-radius: 4px;

  @media screen and (max-width: 375px) {
    width: 270px;
    padding: 10px 5px;
  }

  &--nav {
    padding: 0;
    margin: 0 0 30px;
    border-bottom: none;

    @media screen and (max-width: 375px) {
      margin-bottom: 15px;
    }

    &-title {
      font-weight: bold;
      font-size: 19px;
      color: $primary-color-100;

      cursor: default;
    }
  }

  &--content {
    padding: 0;
    margin: 0 0 20px;
  }

  &--days-names {
    margin: 0;
    height: 40px;
  }

  &--day-name {
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    color: $purple-color-100;
    text-transform: none;
  }

  &--cells {
    justify-content: space-between;
  }

  &--cell-day {
    height: 40px;
    font-size: 12px;
    line-height: 15px;
    color: $primary-color-50;
    border-radius: 0;

    @media screen and (max-width: 375px) {
      height: 36px;
    }

    &.-other-month- {
      color: $primary-color-25;
    }

    &.-disabled- {
      cursor: default;
    }

    &.-focus-:not(.-disabled-):not(.-current-):not(.-in-range-),
    &.-selected- {
      font-weight: bold;
      color: #fff;
      background: linear-gradient(180deg, $purple-color-100 0%, #8ba4f9 100%);
      border-radius: 50%;
    }

    &.-current- {
      font-weight: bold;
      color: #fff;
      background: linear-gradient(180deg, $green-color-100 0%, #66d2ea 100%);
      border-radius: 50%;
    }

    &.-in-range-:not(.-disabled-) {
      background: linear-gradient(
        180deg,
        rgba(188, 156, 255, 0.25) 0%,
        rgba(139, 164, 249, 0.25) 100%
      );
    }

    &.-range-from-:not(.-disabled-) {
      position: relative;

      &::after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        z-index: -1;
        width: 50%;
        height: 100%;
        background: linear-gradient(
          180deg,
          rgba(188, 156, 255, 0.25) 0%,
          rgba(139, 164, 249, 0.25) 100%
        );
      }
    }

    &.-range-to-:not(.-disabled-) {
      position: relative;

      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        width: 50%;
        height: 100%;
        background: linear-gradient(
          180deg,
          rgba(188, 156, 255, 0.25) 0%,
          rgba(139, 164, 249, 0.25) 100%
        );
      }
    }
  }

  &--buttons {
    padding: 0;
    border: none;
  }

  &--button {
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    color: $primary-color-50;

    text-transform: uppercase;
    cursor: pointer;

    &[data-action='today'] {
      color: $purple-color-100;
      order: 1;
    }
  }
}
