mixin calendar()
  .calendar.js-calendar
    p.calendar__group
      span.calendar__item
        label.calendar__label(for="field-date-from") Прибытие
        span.calendar__field-wrapper
          input.calendar__field(id="field-date-from" type="text" name="from" data-field-type="from" placeholder="дд.мм.гггг" readonly)
      span.calendar__item
        label.calendar__label(for="field-date-to") Выезд
        span.calendar__field-wrapper
          input.calendar__field(id="field-date-to" name="to" data-field-type="to" placeholder="дд.мм.гггг" readonly)
    .calendar__container.calendar__container_hidden
      input.calendar__field(data-field-type="init")
      p.calendar__buttons
        button.calendar__button(type="button" data-button-type="clear") Очистить
        button.calendar__button.calendar__button_theme_purple(type="button" data-button-type="apply") Применить
    