@import 'air-datepicker/dist/css/datepicker.min';

.calendar {
  position: relative;

  &__group {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 0 0.4143rem;
  }

  &__item {
    width: 47%;

    @media screen and (max-width: 370px) {
      width: 100%;
    }
  }

  &__label {
    display: inline-block;
    margin-bottom: 0.3571rem;
    font-weight: bold;
    font-size: 0.8571rem;
    line-height: 1.0714rem;
    color: $primary-color-100;
    text-transform: uppercase;
  }

  &__field-wrapper {
    position: relative;
    display: block;

    &::before {
      content: '';
      position: absolute;
      top: 1.4286rem;
      right: 1.1857rem;
      box-sizing: border-box;
      width: 0.6429rem;
      height: 0.6429rem;
      border: 0.1429rem solid $primary-color-50;
      border-top: 0;
      border-left: 0;
      transform: translateY(-50%) rotate(45deg);
    }
  }

  &__field {
    box-sizing: border-box;
    width: 100%;
    padding: 0.6429rem 2.2429rem 0.6429rem 1.0714rem;
    font: inherit;
    color: $primary-color-75;
    border: 0.0714rem solid $primary-color-25;
    border-radius: 0.2857rem;
    text-transform: uppercase;

    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
      min-height: 3.2857rem;
    }

    &_type_init {
      display: none;
    }
  }

  &__container {
    box-sizing: border-box;
    position: absolute;
    width: 100%;
    padding: 1.0286rem 1.4286rem 1.3286rem;
    border: 0.0714rem solid $primary-color-25;
    box-shadow: 0rem 0.7143rem 1.4286rem $primary-color-5;
    border-radius: 0.2857rem;
    background-color: $white-color-100;
    user-select: none;

    @media screen and (max-width: 375px) {
      top: 5.3714rem;
      padding: 1.0286rem 0.3286rem;
    }

    &_hidden {
      display: none;
    }
  }

  &__buttons {
    display: flex;
    justify-content: space-between;
    margin: 1.5rem 0 0;

    @media screen and (max-width: 375px) {
      justify-content: space-around;
    }
  }

  &__button {
    padding: 0;
    font: inherit;
    font-weight: bold;
    font-size: 0.8571rem;
    line-height: 1.0714rem;
    color: $primary-color-50;
    text-transform: uppercase;
    cursor: pointer;
    border: none;
    background-color: transparent;

    &_theme_purple {
      color: $purple-color-100;
    }
  }
}

.datepicker {
  $root: &;

  box-sizing: border-box;
  width: 100%;
  font: inherit;
  background-color: transparent;
  border: none;

  &--nav {
    align-items: center;
    margin: 0 0 1.8429rem;
    padding: 0;
    border-bottom: none;

    @media screen and (max-width: 375px) {
      margin-bottom: 1.0714rem;
    }

    &-title {
      font-weight: bold;
      font-size: 1.3571rem;
      color: $primary-color-100;
    }
  }

  &--nav-action {
    width: 1.7143rem;
    height: 1.7143rem;

    &:hover {
      background-color: transparent;
    }
  }

  &--content {
    padding: 0;
    margin: 0 0 0.9286rem;
  }

  &--days-names {
    margin: 0;
    padding: 0.9rem 0;
  }

  &--day-name {
    font-weight: bold;
    font-size: 0.8571rem;
    line-height: 1.0714rem;
    color: $purple-color-100;
    text-transform: none;
  }

  &--cells {
    justify-content: space-between;
  }

  &--cell-day {
    flex-grow: 1;
    padding: 1.4rem 0;
    font-size: 0.8571rem;
    color: $primary-color-50;
    border-radius: 0;

    @media screen and (max-width: 375px) {
      width: 2.5714rem;
    }

    &.-other-month- {
      color: $primary-color-25;
    }

    &.-disabled- {
      cursor: default;
      color: $primary-color-50;
    }

    &.-disabled-.-focus- {
      background-color: transparent;
    }

    &.-disabled-.-focus-.-other-month- {
      color: $primary-color-25;
    }

    &.-disabled-.-other-month- {
      color: $primary-color-25;
    }

    &.-in-range- {
      color: $primary-color-50;
    }

    &.-in-range-.-disabled- {
      background-color: transparent;
    }

    &.-range-to-,
    &.-range-from- {
      border: none;
    }

    &.-focus-:not(.-disabled-):not(.-current-):not(.-in-range-),
    &.-selected-,
    &.-selected-.-other-month- {
      font-weight: bold;
      color: $white-color-100;
      background: linear-gradient(180deg, $purple-color-100 0%, $aqua-color-light-100 100%);
      border-radius: 50%;
    }

    &.-current-,
    &.-current-.-in-range-,
    &.-current-.-focus-,
    &.-current-.-selected- {
      font-weight: bold;
      color: $white-color-100;
      background: linear-gradient(180deg, $green-color-100 0%, $aqua-color-100 100%);
      border-radius: 50%;
    }

    &.-current-.-focus- {
      color: $white-color-100;
    }

    &.-in-range-:not(.-disabled-):not(.-current-),
    &.-in-range-.other-month- {
      background: linear-gradient(180deg, $purple-color-25 0%, $aqua-color-light-25 100%);
    }

    &.-range-from-:not(.-disabled-) {
      position: relative;

      &::after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        z-index: -1;
        width: 50%;
        height: 100%;
        background: linear-gradient(180deg, $purple-color-25 0%, $aqua-color-light-25 100%);
      }
    }

    &.-range-to-:not(.-disabled-) {
      position: relative;

      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        width: 50%;
        height: 100%;
        background: linear-gradient(180deg, $purple-color-25 0%, $aqua-color-light-25 100%);
      }
    }
  }
}
