mixin c-checkbox-rich(classes, id, title, description)
  label(class= classes + "__label c-checkbox-rich__label" for= id)
    input(class= classes + "__checkbox c-checkbox-rich__checkbox visually-hidden" id= id type="checkbox")&attributes(attributes)
    span(class= classes + "__checkbox_custom c-checkbox-rich__checkbox_custom")
    = title
    span(class= classes + "__description c-checkbox-rich__description")= description