.c-checkbox-rich__label {
    position: relative;

    padding-left: 30px;

    font-weight: bold;
    line-height: 18px;
    color: $primary-color-75;
}

.c-checkbox-rich__checkbox--custom {
    content: "";
    position: absolute;
    top: 0;
    left: 0;

    box-sizing: border-box;
    width: 20px;
    height: 20px;

    border: 1px solid $primary-color-25;
    border-radius: 4px
}

.c-checkbox-rich__checkbox:checked + .c-checkbox-rich__checkbox--custom {
    background: url("../../components/checkboxes/images/checkbox-arrow.svg") no-repeat center;
}

.c-checkbox-rich__checkbox:focus + .c-checkbox-rich__checkbox--custom {
    outline: 5px auto rgb(77, 144, 254);
    outline-offset: -2px;
}

.c-checkbox-rich__description {
    display: block;

    font-weight: normal;
    font-style: 12px;
    line-height: 14px;
    color: $primary-color-50;
}