mixin textInput({theme = "", jsClasses = ""} = {})
  - const className = theme === "" ? "" : `text-input_theme_${theme}`
  
  span.text-input(class= className)
    input.text-input__field&attributes(attributes)
    if block
      block