.text-input {
  $root: &;

  display: inline-block;
  width: 100%;

  &__field {
    box-sizing: border-box;
    display: inline-block;
    padding: 0.8571rem 1.0714rem;
    width: 100%;
    font: inherit;
    line-height: 1.2857rem;
    color: $primary-color-75;
    border: 0.0714rem solid $primary-color-25;
    border-radius: 0.2857rem;

    &::placeholder {
      color: $primary-color-25;
    }

    &:hover,
    &:focus {
      border: 0.0714rem solid $primary-color-50;
      outline: none;
    }
  }

  &_theme_newsletter {
    position: relative;

    #{$root}__field {
      padding: 0.9143rem 1.0714rem;

      @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
        height: 3.2857rem;
      }
    }

    #{$root}__submit-button {
      position: absolute;
      top: 50%;
      right: 0.9286rem;
      width: 1.2857rem;
      height: 1.2857rem;
      padding: 0;
      margin: 0;
      transform: translateY(-50%);
      border: none;
      background-color: transparent;
      background: transparent url('../../images/arrow-gradient.svg') no-repeat center;
      cursor: pointer;
    }
  }

  &_theme_masked {
    #{$root}__field {
      &::placeholder {
        text-transform: uppercase;
      }
    }
  }
}
