extends ../../templates/template-base

block description
  meta(name="description" content="Мы подобрали для вас самые подходящие номера под ваши требования, вам осталось лишь выбрать.")

block keywords
  meta(name="keywords" content="подобрать номера отель toxin, выбрать номер в отеле toxin")

block title
  title Отель Toxin | Поиск номеров

block styles
  link(rel="stylesheet" href="./rooms-page.scss")

block content
  include ../../utilities/mixins-components

  +header({"jsClasses": "js-header"})
  main.rooms-page
    h1.rooms-page__title.rooms-page__title_hidden Поиск номеров
    .rooms-page__container
      section.filter.js-filter
        h2.filter__title.filter__title_hidden Фильтр номеров
        button.filter__show-button(type="button") Показать фильтр
        button.filter__close-button.filter__close-button_hidden(type="button" aria-label="Закрыть фильтр")
        form.filter__form(action="https://echo.htmlacademy/ru" method="post")
          p.filter__group
            label.filter__label(for="field-date") Даты пребывания в отеле
            +dropdown(id="field-date" name="date" value="19 авг - 23 авг")
          p.filter__group
            label.filter__label(for="field-guests") Гости
            +dropdown(id="field-guests" name="guests" value="3 гостя, 1 младенец")
          p.filter__group
            +rangeSlider({"id": "field-price", "title": "Диапазон цены", "description": "Стоимость за сутки пребывания в номере"})(name="price")
          fieldset.filter__group
            legend.filter__group-title Дополнительные возможности
            ul.filter__list
              -
                const checkboxesPoor =
                [
                  {"id": "field-smoke", "title": "Можно курить", "name": "smoke"},
                  {"id": "field-pets", "title": "Можно с питомцами", "name": "pets", "checked": true},
                  {"id": "field-allow-guests", "title": "Можно пригласить гостей (до 10 человек)", "name": "allow-guests", "checked": true}
                ]
              each checkbox in checkboxesPoor     
                li.filter__item
                  +checkboxInput(checkbox)
          fieldset.filter__group
            legend.filter__group-title Доступность
            ul.filter__list
              -
                const checkboxesRich =
                [
                  {"id": "field-wide-aisle", "theme": "rich", "title": "Широкий коридор", "description": "Ширина коридоров в номере не менее 91 см.", "name": "wide-aisle"},
                  {"id": "field-hepler","theme": "rich","title": "Помощник для инвалидов","description": "На 1 этаже вас встретит специалист  и проводит до номера.", "name": "helper"}
                ]
              each checkbox in checkboxesRich
                li.filter__item
                  +checkboxInput(checkbox)
          p.filter__group
            label.filter__label(for="field-comfort") Удобства номера
            +dropdown({"jsClasses": "js-dropdown"})(id="field-comfort" name="comfort" placeholder="Выберите удобства" readonly)
              span.dropdown__container
                - const items = ["Спальни", "Кровати", "Ванные комнаты"]
                each item in items
                  span.dropdown__item
                    b.dropdown__title= item
                    span.dropdown__count
                      button.dropdown__control-button.dropdown__control-button_theme_minus.dropdown__control-button_disabled(type="button")
                      span.dropdown__amount 0
                      button.dropdown__control-button.dropdown__control-button_theme_plus(type="button")
          fieldset.filter__group
            +checkboxInput({"theme": "expandable", "jsClasses": "js-checkbox-input"})
              -
                const checkboxes =
                [ 
                  {"id": "field-breakfast", "title": "Завтрак", "name": "breakfast"},
                  {"id": "field-desk", "title": "Письменный стол", "name": "desk", "checked": true},
                  {"id": "field-chair", "title": "Стул для кормления", "name": "chair", "checked": true},
                  {"id": "field-bed", "title": "Кроватка", "name": "bed", "checked": true},
                  {"id": "field-tv", "title": "Телевизор", "name": "tv"},
                  {"id": "field-shampoo", "title": "Шампунь", "name": "shampoo"}
                ]
              b.checkbox-input__group-title Дополнительные удобства
              ul.checkbox-input__list
                each checkbox in checkboxes
                  li.checkbox-input__item
                    +checkboxInput(checkbox)
      section.rooms
        h2.rooms__title Номера, которые мы для вас подобрали
        ul.rooms__list
          -
            const rooms =
            [
              {"image": "../../images/rooms/room1.jpg","alt": "Роскошный номер на одного с большой кроватью","number": 888,"lux": true,"price": "9 990₽","rating": 5,"testimonials": 145},
              {"image": "../../images/rooms/room2.jpg","alt": "Просторный номер на троих с тремя кроватями","number": 840,"lux": false,"price": "9 990₽","rating": 4,"testimonials": 65},
              {"image": "../../images/rooms/room3.jpg","alt": "Светлый номер на одного","number": 980,"lux": true,"price": "8 500₽","rating": 3,"testimonials": 35},
              {"image": "../../images/rooms/room4.jpg","alt": "Светло-голубой номер на одного","number": 856,"lux": false,"price": "7 300₽","rating": 5,"testimonials": 19},
              {"image": "../../images/rooms/room5.jpg","alt": "Роскошный номер на одного","number": 740,"lux": false,"price": "6 600₽","rating": 4,"testimonials": 44},
              {"image": "../../images/rooms/room6.jpg","alt": "Роскошный номер на одного","number": 982,"lux": false,"price": "5 800₽","rating": 3,"testimonials": 56},
              {"image": "../../images/rooms/room7.jpg","alt": "Большой номер с телевизором","number": 678,"lux": false,"price": "5 500₽","rating": 5,"testimonials": 45},
              {"image": "../../images/rooms/room8.jpg","alt": "Роскошный номер с большой кроватью","number": 450,"lux": false,"price": "5 300₽","rating": 4,"testimonials": 39},
              {"image": "../../images/rooms/room9.jpg","alt": "Роскошный номер с большой кроватью","number": 350,"lux": false,"price": "5 000₽","rating": 3,"testimonials": 77},
              {"image": "../../images/rooms/room10.jpg","alt": "Роскошный номер с двумя кроватями и шкафом","number": 666,"lux": false,"price": "5 000₽","rating": 5,"testimonials": 25},
              {"image": "../../images/rooms/room11.jpg","alt": "Роскошный номер с двумя кроватями","number": 444,"lux": false,"price": "5 000₽","rating": 3,"testimonials": 15},
              {"image": "../../images/rooms/room12.jpg","alt": "Роскошный номер с большой кроватью","number": 352,"lux": false,"price": "5 000₽","rating": 3,"testimonials": 55}
            ]
          each room, index in rooms
            if index === 0
              li.rooms__item
                a.rooms__item-link(href="../room-page/room-page.pug")
                  +room(room)
            else
              li.rooms__item
                  +room(room)
        -
          const pages = 
          [
            {"number": "1", "theme": "current", "link": "mock-adress/change-me"},
            {"number": "2", "link": "mock-adress/change-me"},
            {"number": "3", "link": "mock-adress/change-me"},
            {"number": "...", "link": "mock-adress/change-me"},
            {"number": "15", "link": "mock-adress/change-me"},
            {"number": "", "theme": "next-page", "link": "mock-adress/change-me"}
          ]
        .rooms__pagination
          +pagination({pages, "description": "1 – 12 из 100+ вариантов аренды"}) 
  +footer

  script(src="./rooms-page.js")