// Normalize
@import 'normalize.css/normalize';

// Fonts
@import '../../utilities/fonts';

// Variables
@import '../../utilities/variables';

// Global
@import '../../utilities/global';

// Components
@import '../../components/pagination/pagination';
@import '../../components/range/range';
@import '../../components/checkboxes/checkbox-poor/checkbox-poor';
@import '../../components/checkboxes/checkbox-rich/checkbox-rich';
@import '../../components/checkboxes/checkbox-expandable/checkbox-expandable';
@import '../../components/field-dropdown/field-dropdown';
@import '../../components/room/room';
@import '../../components/main-header/main-header';
@import '../../components/main-footer/main-footer';

.rooms-page {
    padding: 30px 0 70px;

    border: 1px solid $primary-color-25;

    .container {
        display: flex;
        justify-content: space-between;
    }
}

// FILTER

.filter {
    width: 266px;
}

.filter__group {
    padding: 0;
    margin: 0 0 20px;

    border: none;

    .c-range__group {
        display: inline-block;
        margin: 10px 0 7px;
    }

    .c-range__label {
        margin: 0;
    }

    .c-range__item {
        margin-bottom: 20px;
    }

    .c-range__description {
        display: inline-block;
        margin-top: 10px;
    }
}

.filter__label {
    display: block;
    margin: 0 0 4px;

    &::after {
        top: 40px;
        right: 18px;
    }
}

.filter__field {
    width: 100%;
    padding: 10px 20px 10px 15px;
}

.filter__title {
    display: block;
    padding: 0;
    margin: 0 0 16px;

    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    color: #1f2041;

    text-transform: uppercase;
}

.filter__list {
    margin: 0 0 13px;
    padding: 0;

    list-style-type: none;

    .filter__item + .filter__item {
        margin-top: 13px;
    }

    .c-checkbox-poor__label {
        padding-left: 29px;
    }

    .c-checkbox-rich__label {
        margin-bottom: -4px;
    }

    .c-checkbox-rich__description {
        display: inline-block;
        margin-top: 7px;
    }
}

.c-checkbox-expandable__group {
    margin-top: 29px;

    .c-checkbox-expandable__title {
        width: 100%;
        margin-bottom: 19px;

        &::after {
            top: 5px;
            right: 18px;
        }
    }
}

// ROOMS

.rooms {
    width: 834px;
}

.rooms__title {
    margin: 0 0 20px;

    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    color: $primary-color-100;

    letter-spacing: -0.5px;
}

.rooms__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 0 19px;
    padding: 0;

    list-style-type: none;
}

.rooms__item {
    margin-bottom: 19px;
}

.rooms-pagination__list {
    width: 240px;
    margin: 0 0 10px 290px;
}

.rooms-pagination__description {
    width: 240px;
    margin: 0 auto;
}