mixin button-with-border-gradient(text, type)
  if (type === "button")
    button.button.button_with-border-gradient&attributes(attributes)
      span= text
  if (type === "link")
    a.button.button_with-border-gradient&attributes(attributes)
      span= text