@import '../../utilities/init';
@import '../../components/main-header/main-header';
@import '../../components/forms/form-confirm-room/form-confirm-room';
@import '../../components/testimonial/testimonial';
@import '../../components/advantage/advantage';
@import '../../components/bullet-list/bullet-list';
@import '../../components/donut/donut';
@import '../../components/main-footer/main-footer';

.room-page {
  flex-grow: 1;
  border-bottom: 1px solid $primary-color-25;

  .container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 71px 10px 62px;
  }

  > .container {
    @media screen and (max-width: 1138px) {
      padding-top: 40px;
    }
  }

  .main-footer {
    @media screen and (max-width: 1138px) {
      padding: 30px 0;
    }
  }

  .photos {
    max-width: 1442px;
    margin: 0 auto;
    padding: 0 10px;
    line-height: 0;

    &__container {
      display: flex;

      @media screen and (max-width: 750px) {
        flex-direction: column;
      }
    }

    &__group {
      display: flex;
      flex-direction: column;

      @media screen and (max-width: 750px) {
        flex-direction: row;
      }

      @media screen and (-ms-high-contrast: active),
        (-ms-high-contrast: none) and (min-width: 750px) {
        width: 32%;
        height: 100%;
      }

      .photos__item {
        width: 100%;

        @media screen and (max-width: 750px) {
          width: 50%;
        }

        @media screen and (-ms-high-contrast: active),
          (-ms-high-contrast: none) and (min-width: 750px) {
          width: 100%;
          height: 49.7%;
        }
      }
    }

    &__item_big {
      @media screen and (-ms-high-contrast: active),
        (-ms-high-contrast: none) and (min-width: 750px) {
        width: 68%;
        height: 100%;
      }
    }
  }

  .info {
    width: 711px;
    margin-right: 10px;

    @media screen and (max-width: 1138px) {
      width: 100%;
      margin: 0 0 20px;
    }

    &__title {
      margin: 0 0 20px;
      font-weight: bold;
      font-size: 19px;
      color: $primary-color-100;
      letter-spacing: -0.5px;
    }

    &__top {
      display: flex;
      justify-content: space-between;
      width: 670px;
      margin-bottom: 13px;

      @media screen and (max-width: 1138px) {
        width: 100%;
      }

      @media screen and (max-width: 660px) {
        flex-direction: column;
        margin-bottom: 30px;
      }
    }

    &__middle {
      position: relative;
      margin-bottom: 34px;

      @media screen and (max-width: 660px) {
        margin-bottom: 30px;
      }
    }

    &__bottom {
      display: flex;
      justify-content: space-between;
      width: 702px;

      @media screen and (max-width: 1138px) {
        width: 100%;
      }

      @media screen and (max-width: 660px) {
        flex-direction: column;
        margin-bottom: 30px;
      }
    }
  }

  .advantages {
    width: 280px;
    margin-right: 20px;

    @media screen and (max-width: 660px) {
      margin-bottom: 20px;
    }

    &__item {
      padding-bottom: 20px;
      border-bottom: 1px solid $primary-color-10;

      + .advantages__item {
        margin-top: 20px;
      }
    }

    &__list {
      margin: 0;
      padding: 0;
      list-style-type: none;
    }
  }

  .impression {
    width: 310px;

    .info__title {
      margin-bottom: 22px;
      letter-spacing: -0.3px;
    }
  }

  .testimonials {
    .info__title {
      margin-right: 100px;
    }

    &__amount {
      position: absolute;
      top: 0;
      right: 0;
      max-width: 90px;

      @media screen and (max-width: 430px) {
        position: static;
      }
    }

    &__list {
      margin: 0;
      padding: 0;
      list-style-type: none;
    }

    &__item {
      margin-bottom: 24px;
    }
  }

  .rules {
    width: 240px;
    padding-left: 18px;

    @media screen and (max-width: 1138px) {
      width: 45%;
    }

    @media screen and (max-width: 660px) {
      width: 90%;
      margin-bottom: 15px;
    }

    .info__title {
      margin-bottom: 16px;
    }
  }

  .bullet-list {
    &__item {
      margin-bottom: 10px;

      &::before {
        top: 7px;
        left: -19px;
      }
    }
  }

  .cancel {
    width: 341px;

    @media screen and (max-width: 1138px) {
      width: 45%;
    }

    @media screen and (max-width: 660px) {
      width: 100%;
    }

    .info__title {
      margin-bottom: 16px;
    }
  }
}
