extends ../../templates/template-base

block description
  meta(name="description" content="Люксовый номер для райского наслаждения и комфортного отдыха по недорогой цене в отеле Toxin")

block keywords
  meta(name="keywords" content="люкс номера в отеле toxin, лучшие номера в отеле toxin, недорогие номера в отеле toxin")

block title
  title Отель Toxin | Роскошный большой номер с огромной кроватью и прекрасным видом из окна

block styles
  link(rel="stylesheet" href="./room-page.scss")

block content
  include ../../components/header/header
  include ../../components/advantage/advantage
  include ../../components/donut/donut
  include ../../components/testimonial/testimonial
  include ../../components/bullet-list/bullet-list
  include ../../components/room-book/room-book
  include ../../components/footer/footer

  +header({"jsClasses": "js-header"})
  main.room-page
    h1.room-page__title.room-page__title_hidden Люксовый номер №888
    section.photos
      h2.photos__title.photos__title_hidden Фотографии номера
      .photos__group
        img.photos__img(src="./images/big-picture.jpg" alt="Главная спальня")
      .photos__group
        img.photos__img(src="./images/small-picture-1.jpg" alt="Вторая спальня")
        img.photos__img(src="./images/small-picture-2.jpg" alt="Комната для работы")
    .room-page__container
      section.info
        h2.info__title.info__title_hidden Информация о номере
        .info__group
          section.advantages
            h3.advantages__title Сведения о номере
            ul.advantages__list
              -
                const advantages =
                [
                  {"theme": "comfort","title": "Комфорт","description": "Шумопоглощающие стены"},
                  {"theme": "convenience","title": "Удобство","description": "Окно в каждой из спален"},
                  {"theme": "cozy","title": "Уют","description": "Номер оснащен камином"}
                ]
              each item in advantages
                li.advantages__item
                  +advantage(item)
          section.impression
            h3.impression__title Впечатления от номера
            +donut({"great": 520, "good": 260, "satisfactory": 260})
        .info__group
          section.testimonials
            h3.testimonials__title Отзывы посетителей номера
            span.testimonials__amount 2 отзыва
            ul.testimonials__list
              -
                const testimonials =
                [
                  {"image": "../../components/testimonial/images/testimonial-1.jpg", "author": "Мурад Сарафанов", "date": "5 дней назад", "text": "Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей", "likes": "12"},
                  {"image": "../../components/testimonial/images/testimonial-2.jpg", "author": "Патрисия Стёклышкова", "date": "Неделю назад", "text": "Обслуживание на высоте! Всё аккуратно, чисто. Завтраки в номер советую заказать, каждый день новое блюдо и десерт как комплимент", "likes": "2"}
                ]
              each item in testimonials
                li.testimonials__item
                  +testimonial(item)
        .info__group
          section.rules
            h3.rules__title Правила
            +bullet-list(["Нельзя с питомцами", "Без вечеринок и мероприятий", "Время прибытия — после 13:00, а выезд до 12:00"])
          section.cancel
            h3.cancel__title Отмена
            p.cancel__text Бесплатная отмена в течение 48 ч. После этого при отмене не позднее чем за 5 дн. до прибытия вы получите полный возврат за вычетом сбора за услуги.
      section.form
        h2.form__title.form__title_hidden Форма бронирования номера
        .form__room-book
          +room-book
  +footer

  script(src="./room-page.js")
