extends ../../templates/template-base

include ../../components/header/header
include ../../components/room-page/room-page
include ../../components/footer/footer

block description
  meta(name="description" content="Люксовый номер для райского наслаждения и комфортного отдыха по недорогой цене в отеле Toxin")

block keywords
  meta(name="keywords" content="люкс номера в отеле toxin, лучшие номера в отеле toxin, недорогие номера в отеле toxin")

block title
  title Отель Toxin | Роскошный большой номер с огромной кроватью и прекрасным видом из окна

block styles
  link(rel="stylesheet" href="./room-page.scss")

block content
  +header
  +room-page
  +footer

  script(src="./room-page.js")
