extends /../../templates/template-base

block description
    meta(name="description" content="Люксовый номер для райского наслаждения и комфортного отдыха по недорогой цене в отеле Toxin")

block keywords
    meta(name="keywords" content="люкс номера в отеле toxin, лучшие номера в отеле toxin, недорогие номера в отеле toxin")

block title
    title Отель Toxin | Роскошный большой номер с огромной кроватью и прекрасным видом из окна

block styles
    link(rel="stylesheet" href="./room-page.scss")

block content
    include /../../utilities/mixins-pug

    include /../../components/main-header/main-header-non-authorized
    main.room-page
        h1.visually-hidden Люксовый номер №888
        section.photos
            h2.visually-hidden Фотографии номера
            .photos__container
                .photos__item.photos__item--big
                    img(src="/../room-page/images/1.jpg" width="981" height="484" alt="Главная спальня")
                .photos__group
                    img.photos__item(src="/../room-page/images/2.jpg" width="459" height="242" alt="Вторая спальня")
                    img.photos__item(src="/../room-page/images/3.jpg" width="459" height="242" alt="Комната для работы")
        .container
            section.info
                h2.visually-hidden Информация о номере
                .info__top
                    section.advantages
                        h3.info__title Сведения о номере
                        ul.advantages__list
                            li.advantages__item
                                +c-advantage("advantage", {
                                 icon: "/../../components/advantages/images/comfort.svg",
                                 title: "Комфорт",
                                 description: "Шумопоглощающие стены"})
                            li.advantages__item
                                +c-advantage("advantage", {
                                 icon: "/../../components/advantages/images/convenience.svg",
                                 title: "Удобство",
                                 description: "Окно в каждой из спален"})
                            li.advantages__item
                                +c-advantage("advantage", {
                                 icon: "/../../components/advantages/images/cozy.svg",
                                 title: "Уют",
                                 description: "Номер оснащен камином"})
                    section.impression
                        h3.info__title Впечатления от номера
                        include /../../components/donut/donut
                .info__middle
                    section.testimonials
                        h3.info__title Отзывы посетителей номера
                        span.testimonials__amount 2 отзыва
                        ul.testimonials__list
                            li.testimonials__item
                                +c-testimonial("testimonial", {
                                 image: "/../../components/testimonials/images/1.jpg",
                                 author: "Мурад Сарафанов",
                                 date: "5 дней назад",
                                 text: "Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей",
                                 likes: "12"})
                            li.testimonials__item
                                +c-testimonial("testimonial", {
                                 image: "/../../components/testimonials/images/2.jpg",
                                 author: "Патрисия Стёклышкова",
                                 date: "Неделю назад",
                                 text: "Обслуживание на высоте! Всё аккуратно, чисто. Завтраки в номер советую заказать, каждый день новое блюдо и десерт как комплимент",
                                 likes: "2"})
                .info__bottom
                    section.rules
                        h3.info__title Правила
                        +c-bullet-list("rules", ['Нельзя с питомцами', 'Без вечеринок и мероприятий', 'Время прибытия — после 13:00, а выезд до 12:00'])
                    section.cancel
                        h3.info__title Отмена
                        p.cancel__text Бесплатная отмена в течение 48 ч. После этого при отмене не позднее чем за 5 дн. до прибытия вы получите полный возврат за вычетом сбора за услуги.
            section.form
                h2.visually-hidden Форма бронирования номера
                include /../../components/forms/form-confirm-room/form-confirm-room

    include /../../components/main-footer/main-footer-rich

    script(src="./room-page.js")