@import '../../utilities/init';
@import '../../components/header/header';
@import '../../components/footer/footer';
@import '../../components/roomBook/roomBook';
@import '../../components/testimonial/testimonial';
@import '../../components/advantage/advantage';
@import '../../components/bulletList/bulletList';
@import '../../components/donut/donut';

.room-page {
  flex-grow: 1;
  border-bottom: 0.0714rem solid $primary-color-25;

  &__title {
    &_hidden {
      position: absolute;
      width: 0.0714rem;
      height: 0.0714rem;
      margin: -0.0714rem;
      border: 0;
      padding: 0;
      clip-path: inset(100%);
      clip: rect(0 0 0 0);
      overflow: hidden;
    }
  }

  &__container {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 84.2857rem;
    margin: 0 auto;
    padding: 5.0714rem 0.7143rem 4.4286rem;

    @media screen and (max-width: 1138px) {
      padding-top: 2.8571rem;
    }
  }
}

.photos {
  $root: &;

  display: flex;
  max-width: 103rem;
  margin: 0 auto;
  padding: 0 0.7143rem;
  line-height: 0;

  @media screen and (max-width: 750px) {
    flex-direction: column;
  }

  &__title {
    &_hidden {
      position: absolute;
      width: 0.0714rem;
      height: 0.0714rem;
      margin: -0.0714rem;
      border: 0;
      padding: 0;
      clip-path: inset(100%);
      clip: rect(0 0 0 0);
      overflow: hidden;
    }
  }

  &__group {
    &:nth-of-type(1) {
      #{$root}__img {
        width: 70.0714rem;
        max-width: 100%;
        height: auto;
      }

      @media screen and (-ms-high-contrast: active),
        (-ms-high-contrast: none) and (min-width: 750px) {
        width: 68%;
        height: 100%;
      }

      @media screen and (-ms-high-contrast: active),
        (-ms-high-contrast: none) and (max-width: 750px) {
        width: 100%;
        height: 50%;
      }
    }

    &:nth-of-type(2) {
      display: flex;
      flex-direction: column;

      @media screen and (max-width: 750px) {
        flex-direction: row;
      }

      @media screen and (-ms-high-contrast: active),
        (-ms-high-contrast: none) and (min-width: 750px) {
        width: 32%;
        height: 100%;
      }

      @media screen and (-ms-high-contrast: active),
        (-ms-high-contrast: none) and (max-width: 750px) {
        width: 100%;
        height: 100%;
      }

      #{$root}__img {
        width: 32.7857rem;
        max-width: 100%;
        height: auto;

        @media screen and (max-width: 750px) {
          max-width: 50%;
        }

        @media screen and (-ms-high-contrast: active),
          (-ms-high-contrast: none) and (min-width: 750px) {
          width: 100%;
          height: 49.7%;
        }

        @media screen and (-ms-high-contrast: active),
          (-ms-high-contrast: none) and (max-width: 750px) {
          width: 50%;
          height: 100%;
        }
      }
    }
  }
}

.info {
  width: 50.7857rem;
  margin-right: 0.7143rem;

  @media screen and (max-width: 1138px) {
    width: 100%;
    margin: 0 0 1.4286rem;
  }

  &__title {
    &_hidden {
      position: absolute;
      width: 0.0714rem;
      height: 0.0714rem;
      margin: -0.0714rem;
      border: 0;
      padding: 0;
      clip-path: inset(100%);
      clip: rect(0 0 0 0);
      overflow: hidden;
    }
  }

  &__group {
    &:nth-of-type(1) {
      display: flex;
      justify-content: space-between;
      width: 47.8571rem;
      margin-bottom: 1.0286rem;

      @media screen and (max-width: 1138px) {
        width: 100%;
      }

      @media screen and (max-width: 660px) {
        flex-direction: column;
        margin-bottom: 2.1429rem;
      }
    }

    &:nth-of-type(2) {
      position: relative;
      margin-bottom: 2.4286rem;

      @media screen and (max-width: 660px) {
        margin-bottom: 2.1429rem;
      }
    }

    &:nth-of-type(3) {
      display: flex;
      justify-content: space-between;
      width: 50.1429rem;

      @media screen and (max-width: 1138px) {
        width: 100%;
      }

      @media screen and (max-width: 660px) {
        flex-direction: column;
        margin-bottom: 2.1429rem;
      }
    }
  }
}

.advantages {
  $root: &;

  width: 20rem;
  margin-right: 1.4286rem;

  @media screen and (max-width: 660px) {
    margin-bottom: 1.4286rem;
  }

  &__title {
    margin: 0 0 1.3286rem;
    padding: 0;
    font-weight: bold;
    font-size: 1.3571rem;
    color: $primary-color-100;
    letter-spacing: -0.0357rem;
  }

  &__item + #{$root}__item {
    margin-top: 1.4286rem;
  }

  &__list {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
}

.impression {
  width: 22.1429rem;

  &__title {
    margin: 0 0 1.3286rem;
    padding: 0;
    font-weight: bold;
    font-size: 1.3571rem;
    color: $primary-color-100;
    letter-spacing: -0.0357rem;
  }
}

.testimonials {
  $root: &;

  &__title {
    margin: 0 0 1.3286rem;
    padding: 0;
    font-weight: bold;
    font-size: 1.3571rem;
    color: $primary-color-100;
    letter-spacing: -0.0357rem;
  }

  &__amount {
    position: absolute;
    top: 0;
    right: 0;
    max-width: 6.4286rem;

    @media screen and (max-width: 430px) {
      position: static;
    }
  }

  &__list {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  &__item {
    + #{$root}__item {
      margin-top: 1.7143rem;
    }
  }
}

.rules {
  width: 17.1429rem;
  padding-left: 1.2857rem;

  @media screen and (max-width: 1138px) {
    width: 45%;
  }

  @media screen and (max-width: 660px) {
    width: 90%;
    margin-bottom: 1.0714rem;
  }

  &__title {
    margin: 0 0 1.3286rem;
    padding: 0;
    font-weight: bold;
    font-size: 1.3571rem;
    color: $primary-color-100;
    letter-spacing: -0.0357rem;
  }
}

.cancel {
  width: 24.3571rem;

  @media screen and (max-width: 1138px) {
    width: 45%;
  }

  @media screen and (max-width: 660px) {
    width: 100%;
  }

  &__title {
    margin: 0 0 1.3286rem;
    padding: 0;
    font-weight: bold;
    font-size: 1.3571rem;
    color: $primary-color-100;
    letter-spacing: -0.0357rem;
  }
}

.form {
  @media screen and (max-width: 600px) {
    margin: 0 auto;
  }

  @media screen and (max-width: 400px) {
    width: 100%;
  }

  &__title {
    &_hidden {
      position: absolute;
      width: 0.0714rem;
      height: 0.0714rem;
      margin: -0.0714rem;
      border: 0;
      padding: 0;
      clip-path: inset(100%);
      clip: rect(0 0 0 0);
      overflow: hidden;
    }
  }

  &__room-book {
    width: 380px;

    @media screen and (max-width: 400px) {
      width: 100%;
    }
  }
}
