.irs {
  position: relative;
  display: block;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-size: 12px;
  font-family: Arial, sans-serif;
}
.irs-line {
  position: relative;
  display: block;
  overflow: hidden;
  outline: none !important;
}
.irs-bar {
  position: absolute;
  display: block;
  left: 0;
  width: 0;
}
.irs-shadow {
  position: absolute;
  display: none;
  left: 0;
  width: 0;
}
.irs-handle {
  position: absolute;
  display: block;
  box-sizing: border-box;
  cursor: default;
  z-index: 1;
}
.irs-handle.type_last {
  z-index: 2;
}
.irs-min,
.irs-max {
  position: absolute;
  display: block;
  cursor: default;
}
.irs-min {
  left: 0;
}
.irs-max {
  right: 0;
}
.irs-from,
.irs-to,
.irs-single {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  cursor: default;
  white-space: nowrap;
}
.irs-grid {
  position: absolute;
  display: none;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 20px;
}
.irs-with-grid .irs-grid {
  display: block;
}
.irs-grid-pol {
  position: absolute;
  top: 0;
  left: 0;
  width: 1px;
  height: 8px;
  background: #000;
}
.irs-grid-pol.small {
  height: 4px;
}
.irs-grid-text {
  position: absolute;
  bottom: 0;
  left: 0;
  white-space: nowrap;
  text-align: center;
  font-size: 9px;
  line-height: 9px;
  padding: 0 3px;
  color: #000;
}
.irs-disable-mask {
  position: absolute;
  display: block;
  top: 0;
  left: -1%;
  width: 102%;
  height: 100%;
  cursor: default;
  background: rgba(0, 0, 0, 0);
  z-index: 2;
}
.lt-ie9 .irs-disable-mask {
  background: #000;
  filter: alpha(opacity=0);
  cursor: not-allowed;
}
.irs-disabled {
  opacity: 0.4;
}
.irs-hidden-input {
  position: absolute !important;
  display: block !important;
  top: 0 !important;
  left: 0 !important;
  width: 0 !important;
  height: 0 !important;
  font-size: 0 !important;
  line-height: 0 !important;
  padding: 0 !important;
  margin: 0 !important;
  overflow: hidden;
  outline: none !important;
  z-index: -9999 !important;
  background: none !important;
  border-style: solid !important;
  border-color: transparent !important;
}

// Custom

.c-range__wrapper {

}

.c-range__group {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.c-range__price {
  font-size: 12px;
  line-height: 15px;
  color: $primary-color-50;
}

.c-range__label {
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  color: $primary-color-100;

  text-transform: uppercase;
}

.c-range__description {
  font-size: 12px;
  line-height: 14px;
  color: $primary-color-50;
}

// Theme
.irs--custom {
  height: 12px;
}

.irs--custom .irs-line {
  top: 3px;
  height: 6px;

  box-sizing: border-box;

  background-color: #fff;
  border: 1px solid $primary-color-25;
  border-radius: 3px;
}

.irs--custom .irs-bar {
  top: 3px;
  height: 6px;

  background: linear-gradient(180deg, $green-color-100 0%, #66D2EA 100%);;
}

.irs--custom .irs-handle {
  top: -1px;

  width: 14px;
  height: 14px;

  background: linear-gradient(180deg, $green-color-100 0%, #66D2EA 100%);
  border: 2px solid #fff;
  border-radius: 50%;
}