article.confirm-room
    h2.confirm-room__title.visually-hidden Подтверждение параметров номера
    .confirm-room__group
        p.confirm-room__room №
            span.confirm-room__number  888
            span.confirm-room__type  Люкс
        p.confirm-room__day-price
            span.confirm-room__price 9 990₽
            |  в сутки
    form.confirm-room__form(action="https://echo.htmlacademy.ru" method="post")
        .confirm-room__group
            p.confirm-room__item.confirm-room__item--half
                +c-field-dropdown("confirm-room", "date-from", "прибытие", true)(value="19.08.2019" name="stat-date")
            p.confirm-room__item.confirm-room__item--half
                +c-field-dropdown("confirm-room", "date-to", "выезд", true)(value="23.08.2019" name="end-date")
        p.confirm-room__item.confirm-room__item--lonely
            +c-field-dropdown("confirm-room", "guests", "гости", true)(value="3 гостя" name="guests")
        .confirm-room__info
            .confirm-room__group
                span.confirm-room__left-col 9 990₽ х 4 суток
                span.confirm-room__right-col 39 960₽
            .confirm-room__group
                span.confirm-room__left-col.confirm-room__left-col--tip Сбор за услуги: скидка 2 179₽
                span.confirm-room__right-col 0₽
            .confirm-room__group
                span.confirm-room__left-col.confirm-room__left-col--tip Сбор за дополнительные услуги
                span.confirm-room__right-col 300₽
        .confirm-room__group
            span.confirm-room__total Итого
            span.confirm-room__spacer
            span.confirm-room__total-price 38 081₽
        .confirm-room__group
            +button("button--purple-gradient button--arrow", "забронировать")(type="submit")