@import '../../buttons/button';
@import '../../buttons/button-purple-gradient';
@import '../../buttons/button-arrow';
@import '../../field-dropdown/field-dropdown';

.confirm-room {
    box-sizing: border-box;
    max-width: 380px;
    padding: 47px 29px 29px;

    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
}

.confirm-room__group {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    &:not(:last-child) {
        margin: 0 0 21px;
    }
}

.confirm-room__room {
    margin: 0;

    font-weight: bold;
    font-size: 13px;
    line-height: 17px;
    color: $primary-color-100;
}

.confirm-room__number {
    font-size: 21px;
}

.confirm-room__type {
    font-size: 12px;
    line-height: 15px;
    color: $purple-color-100;

    text-transform: uppercase;
}

.confirm-room__day-price {
    margin: 0;

    font-size: 13px;
    line-height: 22px;
    color: $primary-color-50;

    .confirm-room__price {
        font-weight: bold;
    }
}

// FORM
.confirm-room__item {
    margin: 0;

    &--lonely {
        margin: 0 0 20px;
    }

    &--half {
        width: 150px;

        & + .confirm-room__item--half {
            margin-left: 20px;
        }
    }
}

.confirm-room__label {
    display: block;
    margin-bottom: 6px;

    &::after {
        top: 41px;
        right: 19px;
    }
}

.confirm-room__field {
    width: 100%;
    height: 42px; //for ie
    padding: 8px 30px 8px 13px;
}

// INFO
.confirm-room__info {
    margin-bottom: 31px;
}

.confirm-room__info .confirm-room__group {
    margin-bottom: 10px;
}

.confirm-room__left-col {
    width: 215px;

    line-height: 19px;

    &--tip {
        position: relative;

        &::after {
            content: "i";
            position: absolute;
            top: 0;
            right: -25px;

            width: 20px;
            height: 20px;

            font-weight: bold;
            line-height: 20px;
            color: $primary-color-25;

            border: 1px solid $primary-color-25;
            border-radius: 50%;
            text-align: center;
            cursor: help;
        }
    }
}

// TOTAL
.confirm-room__total {
    font-weight: bold;
    font-size: 19px;
    color: $primary-color-100;
}

.confirm-room__spacer {
    flex-grow: 1;
    margin: 0 5px 5px;

    border-bottom: 1px dashed $primary-color-25;
}

.confirm-room__total-price {
    font-weight: bold;
    font-size: 18px;
    letter-spacing: -0.4px;
    color: $primary-color-100;
}

// SUBMIT
.confirm-room__group .button {
    width: 100%;
    padding: 14px 35px 14px 28px;
}