@import '../../buttons/button-with-purple-gradient-and-arrow/button-with-purple-gradient-and-arrow';
@import '../../dropdowns/dropdown';

.confirm-room {
  box-sizing: border-box;
  max-width: 27.1429rem;
  padding: 3.3571rem 2.0714rem 2.0714rem;
  background-color: $white-color-100;
  border: 0.0714rem solid $black-color-12;
  border-radius: 0.2857rem;
  box-shadow: 0rem 0rem 1.7857rem $black-color-20;

  &__top {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 1.1429rem;
  }

  &__group {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;

    .button {
      width: 100%;
      padding: 1rem 2.5rem 1rem 2rem;
    }
  }

  &__item {
    @media screen and (max-width: 418px) {
      width: 100%;
    }

    + .confirm-room__item {
      @media screen and (max-width: 418px) {
        margin-left: 0;
        margin-top: 0.7143rem;
      }
    }
  }

  &__label {
    font-weight: bold;
    font-size: 0.8571rem;
    line-height: 1.0714rem;
    color: $primary-color-100;
    text-transform: uppercase;
  }

  &__room {
    margin: 0;
    font-weight: bold;
    font-size: 0.9286rem;
    line-height: 1.2143rem;
    color: $primary-color-100;
  }

  &__number {
    font-size: 1.5rem;
  }

  &__price {
    font-weight: bold;
  }

  &__type {
    font-size: 0.8571rem;
    line-height: 1.0714rem;
    color: $purple-color-100;
    text-transform: uppercase;
  }

  &__day-price {
    margin: 0;
    font-size: 0.9286rem;
    line-height: 1.5714rem;
    color: $primary-color-50;
  }

  &__form {
    margin-bottom: 1.3571rem;

    .confirm-room__group {
      margin-bottom: 1rem;

      .confirm-room__item {
        width: 10.7143rem;

        @media screen and (max-width: 420px) {
          width: 100%;
        }
      }

      .confirm-room__item + .confirm-room__item {
        margin-left: 1.4286rem;

        @media screen and (max-width: 420px) {
          margin-left: 0;
        }
      }
    }

    .confirm-room__item {
      margin: 0;
      padding: 0;
    }
  }

  &__info {
    margin-bottom: 2.2143rem;

    .confirm-room__group {
      margin-bottom: 0.7143rem;
    }
  }

  &__left-col {
    width: 15.3571rem;
    line-height: 1.3571rem;

    @media screen and (max-width: 418px) {
      width: 70%;
    }

    &_tip {
      position: relative;

      &::after {
        content: 'i';
        position: absolute;
        top: 0;
        right: -1.7857rem;
        width: 1.4286rem;
        height: 1.4286rem;
        font-weight: bold;
        line-height: 1.4286rem;
        color: $primary-color-25;
        border: 0.0714rem solid $primary-color-25;
        border-radius: 50%;
        text-align: center;
        cursor: help;

        @media screen and (max-width: 418px) {
          display: none;
        }
      }
    }
  }

  &__right-col {
    max-width: 5.3571rem;

    @media screen and (max-width: 418px) {
      width: 30%;
      text-align: right;
    }
  }

  &__bottom &__group:first-child {
    margin-bottom: 1.2857rem;
  }

  &__total {
    font-weight: bold;
    font-size: 1.3571rem;
    color: $primary-color-100;
  }

  &__total-price {
    font-weight: bold;
    font-size: 1.2857rem;
    letter-spacing: -0.0286rem;
    color: $primary-color-100;
  }

  &__spacer {
    flex-grow: 1;
    margin: 0 0.3571rem 0.3571rem;
    border-bottom: 0.0714rem dashed $primary-color-25;
  }
}
