.field-default {
  box-sizing: border-box;
  display: inline-block;
  padding: 0.8571rem 1.0714rem;
  width: 100%;
  font: inherit;
  line-height: 1.2857rem;
  color: $primary-color-75;
  border: 0.0714rem solid $primary-color-25;
  border-radius: 0.2857rem;

  &::placeholder {
    color: $primary-color-25;
  }

  &:hover,
  &:focus {
    border: 0.0714rem solid $primary-color-50;
    outline: none;
  }
}
