.field-default {
  box-sizing: border-box;
  display: inline-block;
  padding: 12px 15px;
  width: 100%;

  font: inherit;
  line-height: 18px;
  color: $primary-color-75;

  border: 1px solid $primary-color-25;
  border-radius: 4px;

  &::placeholder {
    color: $primary-color-25;
  }

  &:hover,
  &:focus {
    border: 1px solid $primary-color-50;
    outline: none;
  }
}
