.c-field-default {
    box-sizing: border-box;

    font: inherit;
    color: $primary-color-75;

    border: 1px solid $primary-color-25;
    border-radius: 4px;

    &::placeholder {
        line-height: 18px;
        color: $primary-color-25;
    }

    &:hover,&:focus {
        border: 1px solid $primary-color-50;
        outline: none;
    }
}