mixin c-field-default(type, classes, name, placeholder)
    input(type=type class=classes + " c-field-default" name=name placeholder=placeholder)

+c-field-default("text", "input_class", "name", "Введите имя*")