.c-bullet-list__list {
    padding: 0;
    margin: 0;

    list-style-type: none;
}

.c-bullet-list__item {
    position: relative;

    color: $primary-color-75;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;

        width: 10px;
        height: 10px;

        background-color: $primary-color-25;
        border-radius: 50%;
    }
}