extends ../../templates/template-base

include ../../components/components-page/components-page

block description
  meta(name="description" content="Компоненты нашего сайта. Из этих маленьких кусочков собирается большой проект")

block keywords
  meta(name="keywords" content="форма поиска номера, форма бронирования номера, кнопка с градиентом")

block title
  title Отель Toxin | Страница с компонентами проекта

block styles
  link(rel="stylesheet" href="./components-page.scss")

block content
  +components-page

  script(src="./components-page.js")
