@import '../../utilities/init';
@import '../../components/textInput/textInput';
@import '../../components/dropdown/dropdown';
@import '../../components/radioInput/radioInput';
@import '../../components/button/button';
@import '../../components/rating/rating';
@import '../../components/rangeSlider/rangeSlider';
@import '../../components/pagination/pagination';
@import '../../components/checkboxInput/checkboxInput';
@import '../../components/bulletList/bulletList';
@import '../../components/advantage/advantage';
@import '../../components/testimonial/testimonial';
@import '../../components/roomSearch/roomSearch';
@import '../../components/roomBook/roomBook';
@import '../../components/signUp/signUp';
@import '../../components/signIn/signIn';
@import '../../components/room/room';
@import '../../components/header/header';
@import '../../components/footer/footer';

.components-page {
  min-height: 100vh;
  padding: 0 0.7143rem;
  background-color: $gray-color-100;

  &__title {
    &_hidden {
      position: absolute;
      width: 0.0714rem;
      height: 0.0714rem;
      margin: -0.0714rem;
      border: 0;
      padding: 0;
      clip-path: inset(100%);
      clip: rect(0 0 0 0);
      overflow: hidden;
    }
  }
}

.ui-kit {
  position: relative;
  box-sizing: border-box;
  max-width: 102.8571rem;
  margin: 3.5714rem auto;
  background-color: $white-color-100;

  &::before {
    content: '';
    position: absolute;
    left: 2.4286rem;
    top: 2.4286rem;
    width: 2.8571rem;
    height: 2.8571rem;
    background: url('../../logo.svg') no-repeat left center;
  }

  &:nth-of-type(1) {
    padding: 10.3571rem 13.6429rem 10rem 10.7143rem;

    @media screen and (max-width: 1400px) {
      padding: 7.1429rem 0.7143rem;
    }
  }

  &:nth-of-type(2) {
    padding: 10.2857rem 10.0714rem 10rem 10.0714rem;

    @media screen and (max-width: 1400px) {
      padding: 7.1429rem 0.7143rem;
    }
  }

  &:nth-of-type(3) {
    padding: 10.7857rem 9.9714rem 10rem 10.0714rem;

    @media screen and (max-width: 1425px) {
      padding: 7.1429rem 0.7143rem;
    }
  }

  &:nth-of-type(4) {
    padding: 10.7857rem 0 3.4714rem;

    @media screen and (max-width: 1400px) {
      padding: 7.1429rem 0.7143rem;
    }
  }

  &_theme_light {
    background-color: $white-color-50;
  }

  &__title {
    position: absolute;
    top: -1.7857rem;
    left: 0;
    margin: 0;
    padding: 0;
    font-weight: bold;
    font-size: 1.3571rem;
    color: $primary-color-100;
  }
}

.colors-fonts {
  $root: &;

  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  @media screen and (max-width: 1400px) {
    justify-content: space-around;
  }

  &__colors {
    width: 24.4%;

    @media screen and (max-width: 900px) {
      width: 100%;
      margin-bottom: 2.1429rem;
    }
  }

  &__color {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;

    + #{$root}__color {
      margin-top: 1.4rem;
    }

    &-image {
      width: 5rem;
      min-width: 5rem;
      height: 5rem;
      background-color: $primary-color-100;
      border-radius: 0.4286rem;

      @media screen and (max-width: 900px) {
        margin-right: 0.7143rem;
      }
    }

    &-name {
      width: 59.1%;
      font-weight: bold;
      font-size: 1.2143rem;
      line-height: 2.0714rem;
      color: $primary-color-100;
      text-transform: capitalize;

      @media screen and (max-width: 900px) {
        width: 90%;
      }
    }

    &-hex {
      display: block;
      font-weight: normal;
      text-transform: uppercase;
    }

    &_theme_75-transparency #{$root}__color-image {
      background-color: $primary-color-75;
    }

    &_theme_50-transparency #{$root}__color-image {
      background-color: $primary-color-50;
    }

    &_theme_25-transparency #{$root}__color-image {
      background-color: $primary-color-25;
    }

    &_theme_5-transparency #{$root}__color-image {
      background-color: $primary-color-5;
    }

    &_theme_purple #{$root}__color-image {
      background-color: $purple-color-100;
    }

    &_theme_green #{$root}__color-image {
      background-color: $green-color-100;
    }
  }

  &__fonts {
    width: 36.8%;

    @media screen and (max-width: 900px) {
      width: 100%;
    }
  }

  &__font {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0;

    &:nth-child(1) {
      margin-bottom: 3.6429rem;
    }

    &:nth-child(2) {
      margin-bottom: 3.6429rem;
    }

    &:nth-child(3) {
      margin-bottom: 3.3571rem;
    }

    &-type {
      width: 9%;
      color: $primary-color-25;
      text-align: right;
      text-transform: capitalize;

      @media screen and (max-width: 900px) {
        width: auto;
        margin-right: 0.7143rem;
      }
    }

    &-example {
      width: 83%;

      @media screen and (max-width: 900px) {
        width: 93%;
      }
    }

    &_theme_h1 {
      font-size: 1.7143rem;

      #{$root}__font-type {
        line-height: 2.0714rem;
        text-transform: uppercase;
      }

      #{$root}__font-example {
        font-weight: bold;
        line-height: 2.1429rem;
        color: $primary-color-100;
        letter-spacing: -0.0857rem;
      }
    }

    &_theme_h2 {
      font-size: 1.3571rem;

      #{$root}__font-type {
        line-height: 1.6429rem;
        text-transform: uppercase;
      }

      #{$root}__font-example {
        font-weight: bold;
        line-height: 1.7143rem;
        color: $primary-color-100;
      }
    }

    &_theme_h3 {
      font-size: 0.8571rem;
      line-height: 1.0714rem;

      #{$root}__font-type {
        text-transform: uppercase;
      }

      #{$root}__font-example {
        font-weight: bold;
        color: $primary-color-100;
        text-transform: uppercase;
      }
    }
  }
}

.form-elements {
  &__group {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    &:nth-child(1) {
      margin-bottom: 7.2143rem;
    }

    &:nth-child(2) {
      justify-content: flex-start;
      margin-bottom: 12.3571rem;
    }

    &:nth-child(3) {
      justify-content: flex-start;
      margin-bottom: 7.0571rem;

      @media screen and (max-width: 1460px) {
        justify-content: space-between;
      }

      @media screen and (max-width: 1000px) {
        display: block;
      }
    }
  }
}

.text-fields {
  $root: &;

  width: 22.8571rem;
  margin-right: 1.4286rem;

  @media screen and (max-width: 1353px) {
    width: 100%;
    margin: 0 0 3.5714rem;
  }

  &__group {
    margin: 0;

    &:nth-child(1) {
      margin-bottom: 1.5rem;
    }

    &:nth-child(2) {
      margin-bottom: 1.5rem;
    }

    &:nth-child(3) {
      margin-bottom: 1.6429rem;
    }

    &:nth-child(4) {
      margin-bottom: 2.9286rem;
    }

    &:nth-child(5) {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      margin-bottom: 3.0714rem;
    }

    &:nth-child(6) {
      width: 19rem;
      margin-bottom: 2.8571rem;

      @media screen and (max-width: 1353px) {
        width: 100%;
      }
    }

    &:nth-child(7) {
      width: 19rem;

      @media screen and (max-width: 1353px) {
        width: 100%;
      }
    }

    &_theme_with-tip {
      position: relative;

      &::after {
        content: attr(data-tip);
        position: absolute;
        top: -0.2143rem;
        right: 0;
        font-size: 0.8571rem;
        line-height: 1.0714rem;
        color: $primary-color-50;
        text-transform: uppercase;
      }
    }
  }

  &__item {
    width: 10.7143rem;

    @media screen and (max-width: 1353px) {
      width: 100%;
    }

    + #{$root}__item {
      @media screen and (max-width: 1353px) {
        margin-top: 1.0714rem;
      }
    }
  }

  &__title {
    display: block;
    margin-bottom: 0.3571rem;
    font-style: normal;
    font-weight: bold;
    font-size: 0.8571rem;
    line-height: 1.0714rem;
    text-transform: uppercase;
    color: $primary-color-100;
  }
}

.buttons {
  $root: &;

  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 50.8571rem;

  @media screen and (max-width: 1353px) {
    justify-content: flex-start;
  }

  &__title {
    display: block;
    margin: 0;
    padding: 0;
    font-style: normal;
    font-weight: bold;
    font-size: 0.8571rem;
    line-height: 1.0714rem;
    text-transform: uppercase;
    color: $primary-color-100;
  }

  &__group {
    &:nth-child(1) {
      width: 18.5714rem;
      margin-right: 1.4286rem;

      @media screen and (max-width: 1353px) {
        margin-right: 2.1429rem;
      }

      #{$root}__subgroup {
        &:nth-child(1) {
          margin-bottom: 2.9286rem;

          #{$root}__title {
            margin-bottom: 1.2143rem;
          }
        }

        &:nth-child(2) {
          margin-bottom: 2.9286rem;

          #{$root}__title {
            margin-bottom: 1rem;
          }
        }

        &:nth-child(3) {
          margin-bottom: 3.1429rem;

          #{$root}__title {
            margin-bottom: 1rem;
          }
        }

        &:nth-child(4) {
          margin-bottom: 2.9286rem;

          #{$root}__title {
            margin-bottom: 1rem;
          }
        }

        &:nth-child(5) {
          #{$root}__title {
            margin-bottom: 1rem;
          }
        }
      }
    }

    &:nth-child(2) {
      width: 22.8571rem;

      @media screen and (max-width: 400px) {
        width: 100%;
      }

      #{$root}__subgroup {
        &:nth-child(1) {
          width: 19rem;
          margin-bottom: 1.2857rem;
        }

        &:nth-child(2) {
          margin-bottom: 2rem;

          #{$root}__title {
            margin-bottom: 1.0714rem;
          }
        }

        &:nth-child(3) {
          margin-bottom: 1.9286rem;
        }

        &:nth-child(4) {
          margin-bottom: 1.8571rem;
        }

        &:nth-child(5) {
          margin-bottom: 2.9286rem;
        }

        &:nth-child(6) {
          #{$root}__title {
            margin-bottom: 1.0714rem;
          }
        }
      }
    }

    .checkbox-poor + .checkbox-poor {
      margin-top: 0.9286rem;
    }

    .radio {
      display: inline-block;

      + .radio {
        margin-left: 1.6429rem;
      }
    }

    .checkbox-toggle + .checkbox-toggle {
      margin-top: 0.5714rem;
    }

    .button-like {
      display: inline-block;

      + .button-like {
        margin-left: 0.8571rem;
      }
    }

    .rating-item {
      display: inline-block;

      + .rating-item {
        margin-left: 1.3571rem;
      }
    }

    .button-registration {
      display: inline-block;

      + .button-registration {
        margin-left: 1.2857rem;
      }
    }

    .button-account-action {
      display: inline-block;

      + .button-account-action {
        margin-left: 1.1429rem;
      }
    }

    .button-link {
      display: inline-block;

      + .button-link {
        margin-left: 1.5714rem;
      }
    }
  }
}

.dropdowns {
  $root: &;

  display: flex;
  flex-wrap: wrap;
  width: 100%;

  @media screen and (max-width: 1460px) {
    justify-content: space-between;
  }

  @media screen and (max-width: 1000px) {
    display: block;
  }

  &__title {
    display: block;
    margin: 0 0 0.3571rem;
    padding: 0;
    font-style: normal;
    font-weight: bold;
    font-size: 0.8571rem;
    line-height: 1.0714rem;
    text-transform: uppercase;
    color: $primary-color-100;
  }

  &__group {
    &:nth-child(1) {
      width: 18.9286rem;

      @media screen and (max-width: 1460px) {
        margin: 0;
      }

      @media screen and (max-width: 1000px) {
        margin-bottom: 10.7143rem;
      }

      @media screen and (max-width: 400px) {
        width: 100%;
      }
    }

    &:nth-child(2) {
      width: 22.8571rem;
      margin-left: 13rem;

      @media screen and (max-width: 1460px) {
        margin: 0;
      }

      @media screen and (max-width: 1000px) {
        margin-bottom: 13.5714rem;
      }

      @media screen and (max-width: 400px) {
        width: 100%;
      }
    }

    &:nth-child(3) {
      width: 22.8571rem;
      margin-left: 5.0429rem;

      @media screen and (max-width: 1460px) {
        margin: 0;
      }

      @media screen and (max-width: 1000px) {
        margin-bottom: 7.1429rem;
      }

      @media screen and (max-width: 400px) {
        width: 100%;
      }
    }
  }

  &__item {
    display: block;

    &_theme_with-tip {
      position: relative;

      &::after {
        content: attr(data-tip);
        position: absolute;
        top: -0.2143rem;
        right: 0;
        font-size: 0.8571rem;
        line-height: 1.0714rem;
        color: $primary-color-50;
        text-transform: uppercase;
      }
    }

    + #{$root}__item {
      margin-top: 1.4286rem;
    }
  }
}

.checkbox-expandable {
  $root: &;

  width: 19rem;

  &__item + #{$root}__item {
    margin-top: 3.4286rem;
  }
}

.checkbox-rich {
  $root: &;

  width: 18.5714rem;
  margin-left: 12.7857rem;

  @media screen and (max-width: 1460px) {
    margin-left: 0;
  }

  @media screen and (max-width: 1000px) {
    margin-top: 3.5714rem;
  }

  &__title {
    display: block;
    margin: 0 0 1.2143rem;
    padding: 0;
    font-style: normal;
    font-weight: bold;
    font-size: 0.8571rem;
    line-height: 1.0714rem;
    text-transform: uppercase;
    color: $primary-color-100;
  }

  &__group + #{$root}__group {
    margin-top: 0.8571rem;
  }
}

.bullet {
  width: 18.5714rem;
  margin-left: 9.4286rem;

  @media screen and (max-width: 1460px) {
    margin-left: 0;
  }

  @media screen and (max-width: 1000px) {
    margin-top: 3.5714rem;
  }

  &__title {
    display: block;
    margin: 0 0 0.9286rem;
    padding: 0;
    font-style: normal;
    font-weight: bold;
    font-size: 0.8571rem;
    line-height: 1.0714rem;
    text-transform: uppercase;
    color: $primary-color-100;
  }

  &__list {
    padding-left: 1.3571rem;
  }
}

.advantages {
  $root: &;

  width: 19.7857rem;

  &__group + #{$root}__group {
    margin-top: 1.4286rem;
  }
}

.testimonials {
  width: 50.7857rem;
  padding-top: 0.7143rem;

  @media screen and (max-width: 1400px) {
    margin-top: 3.5714rem;
  }

  @media screen and (max-width: 1050px) {
    width: 100%;
  }
}

.cards {
  $root: &;

  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  &__group {
    @media screen and (max-width: 1420px) {
      margin-bottom: 3.5714rem;
    }

    @media screen and (max-width: 420px) {
      width: 100%;
    }

    + #{$root}__group {
      margin-left: 1.4286rem;

      @media screen and (max-width: 1420px) {
        margin-left: 0;
      }
    }
  }

  &__room-search,
  &__room-book,
  &__sign-in,
  &__sign-up {
    width: 27.1429rem;

    @media screen and (max-width: 420px) {
      width: 100%;
    }
  }

  &__sign-up,
  &__sign-in,
  &__rooms,
  &__room {
    margin-top: 2.5143rem;
  }
}

.headers-footers {
  &__group {
    margin-bottom: 2.8571rem;

    &:nth-child(3) {
      margin-bottom: 1.8571rem;
    }
  }
}

.hidden-element {
  display: none;
}
