extends ../../templates/template-base

block title
  title Отель Toxin | Страница с компонентами проекта

block styles
  link(rel="stylesheet" href="./components-page.scss")

block content
  include ../../utilities/mixins-components

  main.components-page
    h1.components-page__title.components-page__title_hidden Компоненты проекта
    article.ui-kit
      h2.ui-kit__title Цвета и шрифты
      .container
        .colors-fonts
          .colors-fonts__colors
            p.colors-fonts__color
              span.colors-fonts__color-image
              span.colors-fonts__color-name Dark shade 100%
                span.colors-fonts__color-hex #1f2041
            p.colors-fonts__color.colors-fonts__color_theme_75
              span.colors-fonts__color-image
              span.colors-fonts__color-name Dark shade 75%
                span.colors-fonts__color-hex #1f2041
            p.colors-fonts__color.colors-fonts__color_theme_50
              span.colors-fonts__color-image
              span.colors-fonts__color-name Dark shade 50%
                span.colors-fonts__color-hex #1f2041
            p.colors-fonts__color.colors-fonts__color_theme_25
              span.colors-fonts__color-image
              span.colors-fonts__color-name Dark shade 25%
                span.colors-fonts__color-hex #1f2041
            p.colors-fonts__color.colors-fonts__color_theme_5
              span.colors-fonts__color-image
              span.colors-fonts__color-name Dark shade 5%
                span.colors-fonts__color-hex #1f2041
            p.colors-fonts__color.colors-fonts__color_theme_purple
              span.colors-fonts__color-image
              span.colors-fonts__color-name Purple
                span.colors-fonts__color-hex #bc9cff
            p.colors-fonts__color.colors-fonts__color_theme_green
              span.colors-fonts__color-image
              span.colors-fonts__color-name Green
                span.colors-fonts__color-hex #6fcf97
          .colors-fonts__fonts
            p.colors-fonts__font.colors-fonts__font_theme_h1
              span.colors-fonts__font-type h1
              span.colors-fonts__font-example This one is the sub-section or widget title
            p.colors-fonts__font.colors-fonts__font_theme_h2
              span.colors-fonts__font-type h2
              span.colors-fonts__font-example Next one is the item title inside widgets
            p.colors-fonts__font.colors-fonts__font_theme_h3
              span.colors-fonts__font-type h3
              span.colors-fonts__font-example This is a label or CTA text
            p.colors-fonts__font
              span.colors-fonts__font-type Body
              span.colors-fonts__font-example This is the body text which is used for most of the design, like paragraphs, lists, etc.
    article.ui-kit
      h2.ui-kit__title Элементы формы
      .container
        .form-elements
          .form-elements__group
            .form-elements__text-fields
              p.form-elements__text-field.form-elements__text-field_theme_with-tip(data-tip="default")
                label.form-elements__title(for="field-1") text field
                +textInput(id="field-1" placeholder="Email")
              p.form-elements__text-field.form-elements__text-field_theme_with-tip(data-tip="hover / focus")
                label.form-elements__title(for="field-2") text field
                +textInput(id="field-2" value="This is pretty awesome" autofocus)
              p.form-elements__text-field.form-elements__text-field_theme_with-tip(data-tip="default")
                label.form-elements__title(for="field-3") dropdown
                +dropdown(id="field-3" placeholder="Сколько гостей")
              p.form-elements__text-field.form-elements__text-field_theme_with-tip(data-tip="default")
                label.form-elements__title(for="field-4") masked text field
                +textInput({"theme": "masked"})(id="field-4" placeholder="дд.мм.гггг")
              p.form-elements__text-field
                label.form-elements__title(for="field-5") date dropdown
                +dropdown(id="field-5" placeholder="дд.мм.гггг")
                label.form-elements__title(for="field-6") date dropdown
                +dropdown(id="field-6" value="19.08.2019")
              p.form-elements__text-field
                label.form-elements__title(for="field-7") filter date dropdown
                +dropdown(id="field-7" value="19 авг - 23 авг")
              p.form-elements__text-field
                label.form-elements__title(for="field-8") subscription text field
                +textInput({"theme": "newsletter"})(id="field-8" placeholder="Email")
                  button.text-input__submit-button(type="submit" aria-label="Подписаться на рассылку")
            .form-elements__buttons-one
              p.form-elements__buttons
                b.form-elements__title checkboxInput buttons
                +checkboxInput({"id": "field-9", "title": "Можно курить"})
                +checkboxInput({"id": "field-10", "title": "Можно с питомцами"})(checked)
                +checkboxInput({"id": "field-11", "title": "Можно пригласить гостей (до 10 человек)"})(checked)
              p.form-elements__buttons
                b.form-elements__title radioInput buttons
                +radioInput({"id": "field-12", "title": "Мужчина"})(name="gender" checked)
                +radioInput({"id": "field-13", "title": "Женщина"})(name="gender")
              p.form-elements__buttons
                b.form-elements__title toggle
                +checkboxInput({"id": "field-14", "title": "Получать спецпредложения", "theme": "toggle"})(checked)
                +checkboxInput({"id": "field-15", "title": "Получать спецпредложения", "theme": "toggle"})
              p.form-elements__buttons
                b.form-elements__title like button
                +button({"theme": "like", "likes": "2"})(type="button")
                +button({"theme": "like", "likes": "12"})(type="button" class="button_theme_liked")
              p.form-elements__buttons
                b.form-elements__title rate button
                +rating(4)
                +rating(5)
            .form-elements__buttons-two
              p.form-elements__buttons
                +rangeSlider({"id": "field-16", "title": "range slider", "description": ""})
              p.form-elements__buttons
                b.form-elements__title buttons
                +link({"text": "click me", "theme": "registration"})
                +link({"text": "click me", "theme": "registration"})
              p.form-elements__buttons
                +link({"text": "click me", "theme": "account-action"})
                +link({"text": "click me", "theme": "account-action"})
              p.form-elements__buttons
                +link({"text": "click me", "theme": "bold"})
                +link({"text": "click me", "theme": "bold"})
              p.form-elements__buttons
                +link({"text": "перейти к оплате", "theme": "submit"})
              div.form-elements__buttons
                b.form-elements__title pagination
                -
                  const pages = 
                  [
                    {"number": "1", "className": "pagination__item pagination__item_current", "link": "mock-adress/change-me"},
                    {"number": "2", "className": "pagination__item", "link": "mock-adress/change-me"},
                    {"number": "3", "className": "pagination__item", "link": "mock-adress/change-me"},
                    {"number": "...", "className": "pagination__item", "link": "mock-adress/change-me"},
                    {"number": "15", "className": "pagination__item", "link": "mock-adress/change-me"},
                    {"number": "", "className": "pagination__item pagination__item_next-page", "link": "mock-adress/change-me"}
                  ]
                +pagination({pages, "description": "1 – 12 из 100+ вариантов аренды"}) 
          .form-elements__group
            .form-elements__dropdowns
              .form-elements__dropdowns-group
                p.form-elements__dropdown.form-elements__dropdown_theme_with-tip(data-tip="default")
                  label.form-elements__title(for="field-17") dropdown
                  //+dropdown(id="field-17" value="2 спальни, 2 кровати...")
                p.form-elements__dropdown.form-elements__dropdown_theme_with-tip(data-tip="expanded")
                  label.form-elements__title(for="field-18") dropdown
                  //+dropdown(id="field-18" value="2 спальни, 2 кровати...")
              .form-elements__dropdowns-group
                p.form-elements__dropdown
                  label.form-elements__title(for="field-19") dropdown
                  //+dropdown(id="field-19" placeholder="Сколько гостей")
              .form-elements__dropdowns-group
                p.form-elements__dropdown
                  label.form-elements__title(for="field-20") dropdown
                  //+dropdown(id="field-20" value="3 гостя")
          .form-elements__group
            .form-elements__checkboxInput-expandable
              +checkboxInput({"title": "expandable checkboxInput list", "theme": "expandable", "items": []})
              +checkboxInput({"title": "expandable checkboxInput list", "theme": "expandable",
              "items": [
                {"title": "Завтрак", "name": "breakfast"},
                {"title": "Письменный стол", "name": "desk"},
                {"title": "Стул для кормления", "name": "chair"},
                {"title": "Кроватка", "name": "bed"},
                {"title": "Телевизор", "name": "tv"},
                {"title": "Шампунь", "name": "shampoo"}]})
            .form-elements__checkboxInput-rich
              b.form-elements__title rich checkboxInput buttons
              +checkboxInput({"id": "field-21", "title": "Широкий коридор", "description": "Ширина коридоров в номере не менее 91 см."})
              +checkboxInput({"id": "field-22", "title": "Помощник для инвалидов", "description": "На 1 этаже вас встретит специалист  и проводит до номера."})
            .form-elements__bullet-list
              b.form-elements__title bullet list
              +bulletList(['Нельзя с питомцами', 'Без вечеринок и мероприятий', 'Время прибытия — после 13:00, а выезд до 12:00'])
          .form-elements__group
            .form-elements__advantages
              +advantage({ "icon": "../../images/advantages/comfort.svg","title": "Комфорт","description": "Шумопоглощающие стены"})
              +advantage({"icon": "../../images/advantages/convenience.svg","title": "Удобство","description": "Окно в каждой из спален"})
            .form-elements__testimonials
              +testimonial({
                "image": "../../images/testimonials/1.jpg",
                "author": "Мурад Сарафанов",
                "date": "5 дней назад",
                "text": "Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей",
                "likes": "12"})
    article.ui-kit.ui-kit_theme_light
      h2.ui-kit__title Карточки
      .container
        .cards
          +roomSearch
          +roomBook
          +signUp
          +signIn
          +room({
            "image": "../../images/rooms/room1.jpg",
            "alt": "Роскошный номер на одного с большой кроватью",
            "number": 888,
            "lux": true,
            "price": "9 990₽",
            "rating": 5,
            "testimonials": 145})
          +room({
            "image": "../../images/rooms/room2.jpg",
            "alt": "Просторный номер на троих с тремя кроватями",
            "number": 840,
            "lux": false,
            "price": "9 990₽",
            "rating": 4,
            "testimonials": 65})
    article.ui-kit.ui-kit_theme_light
      h2.ui-kit__title Хедеры и футеры
      .container
        .headers-footers
          +header
          +header({"theme": "logged"})
          +footer
          +footer({"theme": "poor"})


  script(src="./components-page.js")