//- Кнопка
mixin button-purple-gradient(content)
    button(class="button button--purple-gradient")&attributes(attributes)= content

//- Ссылка
mixin link-purple-gradient(content)
    a(class="button button--purple-gradient")&attributes(attributes)= content