.c-testimonial__top-part {
    display: flex;
    align-items: flex-start;
    margin: 0 0 10px;
}

.c-testimonial__img {
    margin-right: 10px;

    border: 2px solid #fff;
    border-radius: 50%;
    box-shadow: 0px 10px 20px $primary-color-10;
}

.c-testimonial__name {
    display: block;
}

.c-testimonial__bottom-part {
    display: flex;
    align-items: flex-start;
    margin: 0;

    span:first-child {
        min-width: 48px;
        margin: 0 10px 0 0;
    }
}