.main-footer_poor {
  padding: 110px 0 140px;

  .container {
    display: block;

    text-align: center;
  }

  .main-footer__top-left {
    width: 560px;
    margin: 0 auto 25px;
  }

  .main-footer__logo {
    margin-bottom: 18px;
  }

  .main-footer__text {
    margin-bottom: 28px;
  }

  .footer-social {
    justify-content: center;
  }
}
