mixin button-with-purple-gradient(text, type)
  if (type === "button")
    button.button.button_with-purple-gradient&attributes(attributes)= text
  if (type === "link")
    a.button.button_with-purple-gradient&attributes(attributes)= text