@import '../dropdown/dropdown';
@import '../button/button';

.room-book {
  $root: &;

  box-sizing: border-box;
  width: 100%;
  padding: 3.3571rem 2.0714rem 2.0714rem;
  background-color: $white-color-100;
  border: 0.0714rem solid $black-color-12;
  border-radius: 0.2857rem;
  box-shadow: 0rem 0rem 1.7857rem $black-color-20;

  &__title {
    &_hidden {
      position: absolute;
      width: 0.0714rem;
      height: 0.0714rem;
      margin: -0.0714rem;
      border: 0;
      padding: 0;
      clip-path: inset(100%);
      clip: rect(0 0 0 0);
      overflow: hidden;
    }
  }

  &__room-info {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 1.1429rem;
  }

  &__room {
    font-weight: bold;
    font-size: 0.9286rem;
    line-height: 1.2143rem;
    color: $primary-color-100;
  }

  &__number {
    font-size: 1.5rem;
  }

  &__price {
    font-weight: bold;
  }

  &__type {
    font-size: 0.8571rem;
    line-height: 1.0714rem;
    color: $purple-color-100;
    text-transform: uppercase;
  }

  &__day-price {
    font-size: 0.9286rem;
    line-height: 1.5714rem;
    color: $primary-color-50;
  }

  &__group {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0;

    &:nth-child(1) {
      margin-bottom: 1.5714rem;
    }

    &:nth-child(2) {
      margin-bottom: 1.5rem;

      #{$root}__label {
        margin-bottom: 0.2857rem;
      }
    }

    &:nth-child(4) {
      margin-bottom: 1.5714rem;
    }
  }

  &__item {
    width: 10.7143rem;

    @media screen and (max-width: 390px) {
      width: 100%;
    }
  }

  &__label {
    font-weight: bold;
    font-size: 0.8571rem;
    line-height: 1.0714rem;
    color: $primary-color-100;
    text-transform: uppercase;
  }

  &__book-info {
    margin-bottom: 2.1143rem;

    #{$root}__group {
      flex-wrap: nowrap;
      margin-bottom: 1.2143rem;
    }

    #{$root}__info {
      width: 15.4286rem;
      margin-right: 0.7143rem;
      line-height: 1.2857rem;

      &_theme_has-tip {
        position: relative;

        &::after {
          content: 'i';
          position: absolute;
          top: 0;
          right: -1.7857rem;
          width: 1.4286rem;
          height: 1.4286rem;
          font-weight: bold;
          line-height: 1.4286rem;
          color: $primary-color-25;
          border: 0.0714rem solid $primary-color-25;
          border-radius: 50%;
          text-align: center;
          cursor: help;

          @media screen and (max-width: 400px) {
            display: none;
          }
        }
      }
    }

    #{$root}__price {
      width: 5rem;
      font-weight: normal;
      line-height: 1.2857rem;
      text-align: right;
    }
  }

  &__total {
    font-weight: bold;
    font-size: 1.3571rem;
    color: $primary-color-100;
  }

  &__total-price {
    font-weight: bold;
    font-size: 1.2857rem;
    letter-spacing: -0.0286rem;
    color: $primary-color-100;
  }

  &__spacer {
    flex-grow: 1;
    margin: 0 0.3571rem 0.3571rem;
    border-bottom: 0.0714rem dashed $primary-color-25;
  }
}
