.c-room__wrapper {
    box-sizing: border-box;
    width: 270px;

    background: #fff;
    box-shadow: 0px 10px 20px $primary-color-5;
    border-radius: 4px;
}

.c-room__container {
    position: relative;

    width: 270px;
    height: 151px;

    &:hover .c-room__slider-arrows {
        display: flex;
    }
}

.c-room__img {
    border-radius: 4px 4px 0 0;
}

.c-room__slider-buttons {
    position: absolute;
    bottom: 15px;
    right: 15px;

    margin: 0;
}

.c-room__slider-button {
    box-sizing: border-box;
    width: 7px;
    height: 7px;
    margin: 0;
    padding: 0;

    font: inherit;

    border: 1px solid #fff;
    border-radius: 50%;
    background-color: transparent;
    box-shadow: 0px 5px 5px $primary-color-30;
    cursor: pointer;

    &--active {
        background-color: #fff;
    }

    & + .c-room__slider-button {
        margin-left: 4px;
    }
}

.c-room__slider-arrows {
    position: absolute;
    top: 50%;
    left: 20px;
    right: 20px;

    display: none;
    justify-content: space-between;
    align-items: center;
    margin: 0;

    transform: translateY(-50%);
}

.c-room__slider-arrow {
    position: relative;

    box-sizing: border-box;
    margin: 0;
    padding: 0;

    font: inherit;

    border: none;
    background-color: transparent;
    cursor: pointer;

    &::before {
        content: "";
        position: absolute;

        width: 10px;
        height: 10px;

        border: 2px solid #fff;
        border-top: 0;
        border-left: 0;
    }

    &--prev::before {
        transform: translateY(-50%) rotate(135deg);
    }

    &--next::before {
        transform: translateY(-50%) rotate(-45deg);
    }
}

.c-room__info {
    padding: 20px;
}

.c-room__info-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding-bottom: 10px;

    border-bottom: 1px solid $primary-color-10;
}

.c-room__number  {

    span:first-child {
        font-weight: bold;
        font-size: 12px;
        line-height: 17px;

        color: $primary-color-100;
    }

    span:nth-child(2n) {
        font-weight: bold;
        font-size: 16px;
        line-height: 17px;

        color: $primary-color-100;
    }

    span:last-child {
        font-weight: bold;
        font-size: 12px;
        line-height: 15px;
        color: $purple-color-100;

        text-transform: uppercase;
    }
}

.c-room__price {
    font-weight: bold;
    line-height: 18px;
    color: $primary-color-50;

    span {
        font-weight: normal;
    }
}

.c-room__info-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding-top: 10px;
}

.c-room__testimonials {
    font-weight: bold;
    line-height: 18px;
    color: $primary-color-50;

    span {
        font-weight: normal;
    }
}