@import '../../components/rating/rating';

.room {
  $root: &;

  box-sizing: border-box;
  width: 19.2857rem;
  background: $white-color-100;
  box-shadow: 0rem 0.7143rem 1.4286rem $primary-color-5;
  border-radius: 0.2857rem;

  &__container {
    position: relative;
    line-height: 0;

    &:hover #{$root}__slider-arrows {
      display: block;
    }
  }

  &__img {
    border-radius: 0.2857rem 0.2857rem 0 0;
  }

  &__slider-buttons {
    position: absolute;
    bottom: 1.0714rem;
    right: 1.2143rem;
    margin: 0;
  }

  &__slider-button {
    box-sizing: border-box;
    width: 0.5rem;
    height: 0.5rem;
    margin: 0;
    padding: 0;
    font: inherit;
    border: 0.0714rem solid $white-color-100;
    border-radius: 50%;
    background-color: transparent;
    box-shadow: 0rem 0.3571rem 0.3571rem $primary-color-30;
    cursor: pointer;

    &_active {
      background-color: $white-color-100;
    }

    + #{$root}__slider-button {
      margin-left: 0.2857rem;
    }
  }

  &__slider-arrows {
    position: absolute;
    top: 50%;
    left: 1.4286rem;
    right: 1.4286rem;
    display: none;
    margin: 0;
    transform: translateY(-50%);
  }

  &__slider-arrow {
    position: absolute;
    margin: 0;
    padding: 0;
    font: inherit;
    border: none;
    background-color: transparent;
    cursor: pointer;

    &::before {
      content: '';
      position: absolute;
      box-sizing: border-box;
      width: 0.5rem;
      height: 0.5rem;
      border: 0.1429rem solid $white-color-100;
      border-top: 0;
      border-left: 0;
    }

    &_theme_prev {
      &::before {
        transform: translateY(-50%) rotate(135deg);
      }
    }

    &_theme_next {
      right: 0;

      &::before {
        right: -0.0714rem;
        transform: translateY(-50%) rotate(-45deg);
      }
    }
  }

  &__info {
    padding: 1.6429rem 1.3571rem 1.3571rem 1.4286rem;
  }

  &__book-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding-bottom: 0.5714rem;
    border-bottom: 0.0714rem solid $primary-color-10;
  }

  &__number-info {
    font-weight: bold;
    color: $primary-color-100;
  }

  &__number {
    font-size: 1.2286rem;
    line-height: 1.2143rem;
  }

  &__type {
    font-weight: bold;
    font-size: 0.8571rem;
    line-height: 1.0714rem;
    color: $purple-color-100;
    text-transform: uppercase;
  }

  &__day-price {
    font-size: 0.8571rem;
    color: $primary-color-50;
  }

  &__price {
    font-weight: bold;
    font-size: 1rem;
    line-height: 1.2857rem;
  }

  &__user-experience {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding-top: 0.5rem;
  }

  &__testimonials {
    color: $primary-color-50;
  }

  &__testimonials-amount {
    font-weight: bold;
    line-height: 1.2857rem;
  }
}
