@import '../button-like/button-like';

.testimonial {
  &__author {
    display: flex;
    align-items: flex-start;
    margin-bottom: 0.6429rem;
  }

  &__img {
    margin-right: 0.7143rem;
    border: 0.1429rem solid $white-color-100;
    border-radius: 50%;
    box-shadow: 0rem 0.7143rem 1.4286rem $primary-color-10;
  }

  &__name {
    display: block;
  }

  &__content {
    display: flex;
    align-items: flex-start;

  }

  &__button {
    box-sizing: border-box;
    margin-right: 0.5714rem;
    padding: 0.2857rem 0.3571rem;
    line-height: 0;
  }
}
