@import '../buttons/button-like/button-like';

.testimonial {
  margin: 0;
  padding: 0;

  &__author {
    display: flex;
    align-items: flex-start;
    margin: 0 0 0.6429rem;
  }

  &__img {
    margin-right: 0.7143rem;
    max-width: 100%;
    height: auto;
    border: 0.1429rem solid $white-color-100;
    border-radius: 50%;
    box-shadow: 0rem 0.7143rem 1.4286rem $primary-color-10;
  }

  &__name {
    display: block;
  }

  &__content {
    display: flex;
    align-items: flex-start;
    margin: 0;
  }

  &__button {
    min-width: 3.4286rem;
    margin-right: 0.7143rem;
    text-align: center;
  }
}
