mixin logIn
  article.log-in
    h2.log-in__title Войти
    form.log-in__form(action="https://echo.htmlacademy.ru" method="post")
      p.log-in__group
        label.log-in__label.log-in__label_hidden(for="field-email") Введите email
        +textInput(id="field-email" name="email" type="email" placeholder="Email")
      p.log-in__group
        label.log-in__label.log-in__label_hidden(for="field-password") Введите пароль
        +textInput(id="field-password" name="password" type="password" placeholder="Пароль")
      p.log-in__group
        +button({"text": "войти", "theme": "submit"})(type="submit")
    .log-in__registration
      span.log-in__text Нет аккаунта на Toxin?
      span.log-in__sign-in-button
        +link({"text": "создать", "theme": "account-action"})(href="../../pages/registration-page/registration-page.pug")