.toggle {
  margin: 0;
  padding: 0;

  &__label {
    position: relative;
    padding-left: 3.5rem;
    font-weight: normal;
    font-size: 1rem;
    line-height: 1.7143rem;
    color: $primary-color-75;
    text-transform: none;

    &::before {
      content: '';
      position: absolute;
      top: 50%;
      left: 0;
      box-sizing: border-box;
      width: 2.8571rem;
      height: 1.4286rem;
      border: 0.0714rem solid $primary-color-25;
      border-radius: 0.7143rem;
      transform: translateY(-50%);
    }

    &::after {
      content: '';
      position: absolute;
      top: 50%;
      left: 0.1429rem;
      width: 0.8571rem;
      height: 0.8571rem;
      background: $primary-color-25;
      border-radius: 50%;
      transform: translateY(-50%);
    }
  }

  &__button {
    &:checked + .toggle__label::before {
      border: 0.0714rem solid $purple-color-100;
    }

    &:checked + .toggle__label::after {
      left: 1.7857rem;
      background: linear-gradient(180deg, $purple-color-100 0%, $aqua-color-light-100 100%);
    }

    &:focus + .toggle__label::before {
      outline: 0.3571rem auto $outline-color-100;
      outline-offset: -0.1429rem;
    }
  }
}
