@import '../../buttons/button-with-border-gradient/button-with-border-gradient';
@import '../../buttons/button-with-purple-gradient-and-arrow/button-with-purple-gradient-and-arrow';
@import '../../text-field-default/text-field-default';

.login {
  position: relative;
  z-index: 1;
  box-sizing: border-box;
  max-width: 27.1429rem;
  padding: 2.8571rem 2.1429rem 2.2857rem;
  background: $white-color-100;
  border: 0.0714rem solid $black-color-12;
  border-radius: 0.2857rem;
  box-shadow: 0rem 0rem 1.7857rem $black-color-20;

  &__title {
    margin: 0 0 1.4286rem;
    font-weight: bold;
    font-size: 1.7143rem;
    line-height: 2.1429rem;
    color: $primary-color-100;
    letter-spacing: -0.0357rem;
  }

  &__form {
    margin-bottom: 2.1143rem;

    .button {
      width: 100%;
    }
  }

  &__group {
    margin: 0;
    padding: 0;

    &:first-child {
      margin-bottom: 0.7143rem;
    }

    &:nth-child(2) {
      margin-bottom: 1.3571rem;
    }
  }

  &__registration {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .button__text {
      padding: 0.9286rem 1.1429rem;
    }
  }

  &__text {
    max-width: 15.1429rem;
    margin-right: 0.7143rem;
    line-height: 1.2857rem;
    color: $black-color-100;
  }
}
