@import '../../buttons/button-with-border-gradient/button-with-border-gradient';
@import '../../buttons/button-with-purple-gradient-and-arrow/button-with-purple-gradient-and-arrow';
@import '../../field-default/field-default';

.login {
  position: relative;
  z-index: 1;
  box-sizing: border-box;
  max-width: 380px;
  padding: 40px 30px 32px;
  background: #fff;
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);

  &__title {
    margin: 0 0 20px;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    color: $primary-color-100;
    letter-spacing: -0.5px;
  }

  &__form {
    margin-bottom: 31px;

    .button {
      width: 100%;
    }
  }

  &__group {
    margin: 0;
    padding: 0;

    &:first-child {
      margin-bottom: 10px;
    }

    &:nth-child(2) {
      margin-bottom: 19px;
    }
  }

  &__registration {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .button {
      width: 96px;
      height: 41px;
    }
  }

  &__text {
    max-width: 212px;
    margin-right: 10px;
    line-height: 18px;
    color: #000;
  }
}
