doctype html
html
    head
        meta(charset="urf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        title Отель Toxin | Лучший отель 2019 года по версии ассоциации «Отельные взгляды»
        link(rel="stylesheet" href="index.scss")
    body
        include components/main-header/main-header

