/*
===== Normalize =====
*/

@import 'modules/normalize';

/*
===== Fonts =====
*/

@import 'utilities/fonts';

/*
===== Variables =====
*/

@import 'utilities/variables';

/*
===== Global =====
*/

@import 'utilities/global';

/*
===== Components =====
*/

@import 'components/main-header/main-header';