.donut {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
  margin: 0;

  &__list {
    margin: 0 0 0 1rem;
    padding: 0;
    list-style-type: none;
  }

  &__item {
    position: relative;
    padding-left: 1.0714rem;

    &::before {
      content: '';
      position: absolute;
      top: 0.4286rem;
      left: 0;
      width: 0.7143rem;
      height: 0.7143rem;
      border-radius: 50%;
    }

    &_theme_great::before {
      background: linear-gradient(180deg, $desert-color-light-100 0%, $desert-color-100 100%);
    }

    &_theme_good::before {
      background: linear-gradient(180deg, $green-color-100 0%, $aqua-color-100 100%);
    }

    &_theme_satisfactory::before {
      background: linear-gradient(180deg, $purple-color-100 0%, $aqua-color-light-100 100%);
    }

    &_theme_disappointed::before {
      background: linear-gradient(180deg, $dark-color-light-100 0%, $dark-color-100 100%);
    }
  }
}
