.donut {
  width: 22.1429rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0;

  &__chart {
    width: 8.5714rem;
    height: 8.5714rem;
    margin-right: 0.3571rem;
  }

  &__segment {
    transform-origin: center;

    &_great {
      transform: rotate(91deg);
    }

    &_satisfactory {
      transform: rotate(-89deg);
    }
  }

  &__text {
    fill: $purple-color-100;
    font-weight: bold;
    transform: translateY(-0.1429rem);

    text:first-child {
      font-size: 1.7143rem;
      line-height: 2.1429rem;
      text-anchor: middle;
    }

    text:last-child {
      font-size: 0.8571rem;
      line-height: 1.0714rem;
      text-transform: uppercase;
      text-anchor: middle;
      transform: translateY(1.3571rem);
    }
  }

  &__description {
    align-self: flex-end;
  }

  &__list {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  &__item {
    position: relative;
    padding-left: 1.0714rem;

    &::before {
      content: '';
      position: absolute;
      top: 0.4286rem;
      left: 0;
      width: 0.7143rem;
      height: 0.7143rem;
      border-radius: 50%;
    }

    &_great::before {
      background: linear-gradient(180deg, $desert-color-light-100 0%, $desert-color-100 100%);
    }

    &_good::before {
      background: linear-gradient(180deg, $green-color-100 0%, $aqua-color-100 100%);
    }

    &_satisfactory::before {
      background: linear-gradient(180deg, $purple-color-100 0%, $aqua-color-light-100 100%);
    }

    &_disappointed::before {
      background: linear-gradient(180deg, $dark-color-light-100 0%, $dark-color-100 100%);
    }
  }
}
