mixin donut({great = 10, good = 5, satisfactory = 2, disappointed = 0} = {})
  figure.donut.js-donut
    ul.donut__list
      -
        const items =
        [
          {"text": "Великолепно", "theme": "great", "amount": great, "color": "#ffba9c"},
          {"text": "Хорошо", "theme": "good", "amount": good, "color": "#bc9cff"},
          {"text": "Удовлетворительно", "theme": "satisfactory", "amount": satisfactory, "color": "#6fcf97"},
          {"text": "Разочарован", "theme": "disappointed", "amount": disappointed, "color": "#919191"}
        ]
      each item in items
        li.donut__item(class=`donut__item_theme_${item.theme}` data-amount= item.amount data-color= item.color)= item.text
