.c-donut__wrapper {
  width: 310px;

  display: flex;
  justify-content: space-between;
  margin: 0;
}

.c-donut__chart {
  width: 120px;
  height: 120px;
}

.c-donut__donut {
  width: 100%;
  height: 100%;
}

.c-donut__segment {
  transform-origin: center;

  &_great {
    transform: rotate(91deg);
  }

  &_satisfactory {
    transform: rotate(-89deg);
  }
}

.c-donut__text {
  fill: $purple-color-100;
  font-weight: bold;

  transform: translateY(-2px);

  text:first-child {
    font-size: 24px;
    line-height: 30px;
    text-anchor: middle;
  }
  text:last-child {
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    text-anchor: middle;

    transform: translateY(19px);
  }
}

.c-donut__description {
  align-self: flex-end;
}

.c-donut__list {
  margin: 0;
  padding: 0;

  list-style-type: none;
}

.c-donut__item {
  position: relative;

  padding-left: 15px;

  &::before {
    content: '';
    position: absolute;
    top: 6px;
    left: 0;

    width: 10px;
    height: 10px;

    border-radius: 50%;
  }

  &_great::before {
    background: linear-gradient(180deg, #ffe39c 0%, #ffba9c 100%);
  }

  &_good::before {
    background: linear-gradient(180deg, #6fcf97 0%, #66d2ea 100%);
  }

  &_satisfactory::before {
    background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
  }

  &_disappointed::before {
    background: linear-gradient(180deg, #919191 0%, #3d4975 100%);
  }
}
