footer.main-footer.main-footer--poor
    .container
        .main-footer__info
            a.main-footer__logo
                img.main-footer__logo-image(src="../../components/main-footer/images/logo.svg" alt="Отель Toxin" width="105" height="40")
            p.main-footer__text Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»
        ul.footer-social
            li.footer-social__item
                a.footer-social__link.footer-social__link--twitter
                    span.visually-hidden Твиттер
            li.footer-social__item
                a.footer-social__link.footer-social__link--facebook
                    span.visually-hidden Фейсбук
            li.footer-social__item
                a.footer-social__link.footer-social__link--instagram
                    span.visually-hidden Инстаграм