@import '../text-field-subscription/text-field-subscription';

.main-footer {
  padding-top: 7.1429rem;
  background: $white-color-100;

  @media screen and (max-width: 858px) {
    padding: 3.5714rem 0;
  }

  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__site-info {
    width: 18.5714rem;

    @media screen and (max-width: 858px) {
      width: 40rem;
      margin: 0 auto 2rem;
      text-align: center;
    }
  }

  &__logo {
    display: inline-block;
    margin-bottom: 1.2143rem;
    line-height: 0;

    @media screen and (max-width: 858px) {
      margin-bottom: 1.2857rem;
    }
  }

  &__text {
    margin: 0 0 1.4286rem;

    @media screen and (max-width: 858px) {
      margin: 0;
    }
  }

  &__navigation {
    display: flex;
    width: 40.0714rem;

    @media screen and (max-width: 858px) {
      display: none;
    }

    > .main-footer__item:nth-child(2n) {
      margin: 0 6.5714rem 0 4.1429rem;
    }
  }

  &__title {
    display: inline-block;
    margin-bottom: 1.5rem;
    font-weight: bold;
    font-size: 0.8571rem;
    line-height: 1.0714rem;
    color: $primary-color-100;
    text-transform: uppercase;
  }

  &__list {
    margin: 0;
    padding: 0;
    list-style-type: none;

    .main-footer__item {
      margin-bottom: 1.5rem;
      line-height: 1.2143rem;
    }

    .main-footer__link {
      line-height: 1.2143rem;
      color: $primary-color-50;
      text-decoration: none;
    }
  }

  &__newsletter {
    width: 18.5714rem;

    @media screen and (max-width: 858px) {
      display: none;
    }

    .main-footer__title {
      margin-bottom: 1.2143rem;
    }

    .main-footer__text {
      margin-bottom: 1.5714rem;
    }
  }

  &__other-info {
    margin-top: 5.7286rem;
    padding: 1.6571rem 0;
    border-top: 0.0714rem solid $gray-color-100;

    @media screen and (max-width: 858px) {
      margin: 0;
      padding: 0;
      border: none;
    }

    .container {
      align-items: center;
    }

    .main-footer__list {
      display: flex;

      @media screen and (max-width: 858px) {
        margin: 0 auto;
      }
    }

    .main-footer__item {
      margin: 0;
      line-height: 0;
    }

    .main-footer__item + .main-footer__item {
      margin-left: 1.4286rem;
    }

    .main-footer__link {
      display: inline-block;
      width: 1.7143rem;
      height: 1.7143rem;
      cursor: pointer;
      background: no-repeat center;
      text-decoration: none;

      &_type_twitter {
        background-image: url('../../images/main-footer/twitter.svg');
      }

      &_type_facebook {
        background-image: url('../../images/main-footer/facebook.svg');
      }

      &_type_instagram {
        background-image: url('../../images/main-footer/instagram.svg');
      }
    }
  }

  &__copyright {
    margin: 0;
    line-height: 1.2143rem;

    @media screen and (max-width: 858px) {
      display: none;
    }
  }
}
