.main-footer {
    padding-top: 100px;
}

.main-footer .container {
    display: flex;
    justify-content: space-between;
}

/*
===== Main footer info =====
*/

.main-footer__info {
    width: 260px;
}

.main-footer__logo {
    display: inline-block;
    margin-bottom: 17px;

    line-height: 0;
}

.main-footer__text {
    margin: 0 0 20px;
}

/*
===== Main footer navigation =====
*/

.main-footer__navigation {
    display: flex;
    justify-content: space-between;
    width: 550px;
}

.main-footer__title {
    display: inline-block;
    margin-bottom: 21px;

    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    color: $primary-color-100;

    text-transform: uppercase;
}

.footer-navigation__list {
    margin: 0;
    padding: 0;

    list-style-type: none;
}

.footer-navigation__item {
    margin-bottom: 20px;

    line-height: 17px;
}

.footer-navigation__link {
    line-height: 17px;
    color: $primary-color-50;
}

/*
===== Main footer form =====
*/

.main-footer__form-wrapper {
    width: 260px;
}

.main-footer__field {
    width: 100%;
    padding: 10px 15px;
}

.main-footer__submit {
    top: 50%;

    transform: translateY(-50%);
}

/*
===== Main footer bottom =====
*/

.main-footer__bottom {
    padding: 26px 0;
    border-top: 1px solid #E5E5E5;
}

.main-footer__copyright {
    line-height: 17px;
    margin: 0;
}

.footer-social {
    margin: 0;
    padding: 0;
    display: flex;

    list-style-type: none;
}

.footer-social__item {
    width: 24px;
    height: 24px;
}

.footer-social__item + .footer-social__item {
    margin-left: 20px;
}

.footer-social__link {
    display: inline-block;
    width: 24px;
    height: 24px;

    cursor: pointer;

    &--twitter {
        background: url("../../components/main-footer/images/twitter.svg") no-repeat center;
    }

    &--facebook {
        background: url("../../components/main-footer/images/facebook.svg") no-repeat center;
    }

    &--instagram {
        background: url("../../components/main-footer/images/instagram.svg") no-repeat center;
    }
}

/*
===== Main footer poor =====
*/

.main-footer--poor .container {
    display: block;

    text-align: center;
}

.main-footer--poor .main-footer__logo {
    margin-bottom: 20px;
}

.main-footer--poor .main-footer__info {
    width: 560px;
    margin: 0 auto 25px;
}

.main-footer--poor .footer-social {
    justify-content: center;
}