include ../field-subscription/field-subscription

footer.main-footer
    .container
        .main-footer__info
            a.main-footer__logo
                img.main-footer__logo-image(src="../../components/main-footer/images/logo.svg" alt="Отель Toxin" width="105" height="40")
            p.main-footer__text Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»
        nav.main-footer__navigation
            .main-footer__item
                b.main-footer__title Навигация
                ul.footer-navigation__list
                    li.footer-navigation__item
                        a.footer-navigation__link(href="#") О нас
                    li.footer-navigation__item
                        a.footer-navigation__link(href="#") Новости
                    li.footer-navigation__item
                        a.footer-navigation__link(href="#") Служба поддержки
                    li.footer-navigation__item
                        a.footer-navigation__link(href="#") Услуги
            .main-footer__item
                b.main-footer__title О нас
                ul.footer-navigation__list
                    li.footer-navigation__item
                        a.footer-navigation__link(href="#") О сервисе
                    li.footer-navigation__item
                        a.footer-navigation__link(href="#") Наша команда
                    li.footer-navigation__item
                        a.footer-navigation__link(href="#") О сервисе
                    li.footer-navigation__item
                        a.footer-navigation__link(href="#") Инвесторы
            .main-footer__item
                b.main-footer__title Служба поддержки
                ul.footer-navigation__list
                    li.footer-navigation__item
                        a.footer-navigation__link(href="#") Соглашения
                    li.footer-navigation__item
                        a.footer-navigation__link(href="#") Сообщества
                    li.footer-navigation__item
                        a.footer-navigation__link(href="#") Связь с нами
        .main-footer__item.main-footer__form-wrapper
            b.main-footer__title Подписка
            p.main-footer__text Получайте специальные предложения и новости сервиса
            +c-field-subscription("https://echo.htmlacademy.ru", "main-footer", "Email")
    .main-footer__bottom
        .container
            p.main-footer__copyright Copyright © 2019 Toxin отель. Все права зачищены.
            ul.footer-social
                li.footer-social__item
                    a.footer-social__link.footer-social__link--twitter
                        span.visually-hidden Твиттер
                li.footer-social__item
                    a.footer-social__link.footer-social__link--facebook
                        span.visually-hidden Фейсбук
                li.footer-social__item
                    a.footer-social__link.footer-social__link--instagram
                        span.visually-hidden Инстаграм