@import '../field-subscription/field-subscription';

.main-footer {
  padding-top: 100px;
  background: #fff;

  @media screen and (max-width: 858px) {
    padding: 50px 0;
  }

  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__top-left {
    width: 260px;

    @media screen and (max-width: 858px) {
      width: 560px;
      margin: 0 auto 28px;
      text-align: center;
    }
  }

  &__logo {
    display: inline-block;
    margin-bottom: 17px;
    line-height: 0;

    @media screen and (max-width: 858px) {
      margin-bottom: 18px;
    }
  }

  &__text {
    margin: 0 0 20px;

    @media screen and (max-width: 858px) {
      margin: 0;
    }
  }

  &__navigation {
    display: flex;
    width: 561px;

    @media screen and (max-width: 858px) {
      display: none;
    }

    & > .main-footer__item:nth-child(2n) {
      margin: 0 92px 0 58px;
    }
  }

  &__title {
    display: inline-block;
    margin-bottom: 21px;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    color: $primary-color-100;
    text-transform: uppercase;
  }

  &__list {
    margin: 0;
    padding: 0;
    list-style-type: none;

    .main-footer__item {
      margin-bottom: 21px;
      line-height: 17px;
    }

    .main-footer__link {
      line-height: 17px;
      color: $primary-color-50;
    }
  }

  &__top-right {
    width: 260px;

    @media screen and (max-width: 858px) {
      display: none;
    }

    .main-footer__title {
      margin-bottom: 17px;
    }

    .main-footer__text {
      margin-bottom: 22px;
    }
  }

  &__bottom {
    margin-top: 76px;
    padding: 26px 0;
    border-top: 1px solid #e5e5e5;

    @media screen and (max-width: 858px) {
      margin: 0;
      padding: 0;
      border: none;
    }

    .container {
      align-items: center;
    }
  }

  &__copyright {
    margin: 0;
    line-height: 17px;

    @media screen and (max-width: 858px) {
      display: none;
    }
  }

  .footer-social {
    display: flex;
    margin: 0;
    padding: 0;
    list-style-type: none;

    @media screen and (max-width: 858px) {
      margin: 0 auto;
    }

    .footer-social__item {
      width: 24px;
      height: 24px;
    }

    .footer-social__item + .footer-social__item {
      margin-left: 20px;
    }

    .footer-social__link {
      display: inline-block;
      width: 24px;
      height: 24px;
      cursor: pointer;
      background: no-repeat center;

      &_twitter {
        background-image: url('../../images/main-footer/twitter.svg');
      }

      &_facebook {
        background-image: url('../../images/main-footer/facebook.svg');
      }

      &_instagram {
        background-image: url('../../images/main-footer/instagram.svg');
      }
    }
  }
}
