@import '../field-subscription/field-subscription';

.main-footer {
    padding-top: 100px;

    background: #fff;
    // box-shadow: 0px 10px 20px $primary-color-5;
}

.main-footer .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

/*
===== Main footer info =====
*/

.main-footer__info {
    width: 260px;
    margin-right: 20px;
}

.main-footer__logo {
    display: inline-block;
    margin-bottom: 17px;

    line-height: 0;
}

.main-footer__text {
    margin: 0 0 20px;
}

/*
===== Main footer navigation =====
*/

.main-footer__navigation {
    display: flex;
    flex-wrap: wrap;
    width: 561px;

    .main-footer__item:nth-child(2n) {
        margin: 0 92px 0 58px;
    }
}

.main-footer__title {
    display: inline-block;
    margin-bottom: 21px;

    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    color: $primary-color-100;

    text-transform: uppercase;
}

.footer-navigation__list {
    margin: 0;
    padding: 0;

    list-style-type: none;
}

.footer-navigation__item {
    margin-bottom: 21px;

    line-height: 17px;
}

.footer-navigation__link {
    line-height: 17px;
    color: $primary-color-50;
}

/*
===== Main footer form =====
*/

.main-footer__form-wrapper {
    width: 260px;

    .main-footer__title  {
        margin-bottom: 17px;
    }

    .main-footer__text {
        margin-bottom: 22px;
    }
}

.main-footer__field {
    width: 100%;
    height: 46px; //for ie
    padding: 10px 15px;
}

.main-footer__submit {
    top: 50%;
    right: 13px;

    transform: translateY(-50%);
}

/*
===== Main footer bottom =====
*/

.main-footer__bottom {
    margin-top: 80px;
    padding: 26px 0;
    border-top: 1px solid #E5E5E5;

    .container {
        align-items: center;
    }
}

.main-footer__copyright {
    line-height: 17px;
    margin: 0;
}

.footer-social {
    margin: 0;
    padding: 0;
    display: flex;

    list-style-type: none;
}

.footer-social__item {
    width: 24px;
    height: 24px;
}

.footer-social__item + .footer-social__item {
    margin-left: 20px;
}

.footer-social__link {
    display: inline-block;
    width: 24px;
    height: 24px;

    cursor: pointer;

    &--twitter {
        background: url("../../components/main-footer/images/twitter.svg") no-repeat center;
    }

    &--facebook {
        background: url("../../components/main-footer/images/facebook.svg") no-repeat center;
    }

    &--instagram {
        background: url("../../components/main-footer/images/instagram.svg") no-repeat center;
    }
}

/*
===== Main footer poor =====
*/

.main-footer--poor {
    padding: 110px 0 140px;

    .container {
        display: block;

        text-align: center;
    }

    .main-footer__info {
        width: 560px;
        margin: 0 auto 25px;
    }

    .main-footer__logo {
        margin-bottom: 18px;
    }

    .main-footer__text {
        margin-bottom: 28px;
    }

    .footer-social {
        justify-content: center;
    }
}

/*
===== Media queries =====
*/

@media screen and (max-width: 1138px) {

}

@media screen and (max-width: 858px) {
    .main-footer {
        padding-top: 50px;
    }
}

@media screen and (max-width: 610px) {
    .main-footer__navigation .main-footer__item:nth-child(2n) {
        margin: 0 40px;
    }
}

@media screen and (max-width: 514px) {
    .main-footer {
        padding: 50px 0;
    }

    .main-footer__navigation,
    .main-footer__form-wrapper,
    .main-footer__copyright {
        display: none;
    }

    .main-footer__info {
        width: 560px;
        margin: 0 auto 25px;

        text-align: center;
    }

    .main-footer__logo {
        margin-bottom: 18px;
    }

    .main-footer__text {
        margin: 0;
    }

    .main-footer__bottom {
        margin: 0;
        padding: 0;
        border: none;
    }

    .footer-social {
        margin: 0 auto;
    }
}