footer.main-footer
    .main-footer__top
        .container
            .main-footer__info
                a.main-footer__logo(href="../index/index.pug")
                    img.main-footer__logo-image(src="../../logo.svg" alt="Отель Toxin" width="105" height="40")
                p.main-footer__text Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»
            nav.main-footer__navigation
                .main-footer__item
                    b.main-footer__title Навигация
                    ul.footer-navigation__list
                        li.footer-navigation__item
                            a.footer-navigation__link(href="/mock-address/change-me") О нас
                        li.footer-navigation__item
                            a.footer-navigation__link(href="/mock-address/change-me") Новости
                        li.footer-navigation__item
                            a.footer-navigation__link(href="/mock-address/change-me") Служба поддержки
                        li.footer-navigation__item
                            a.footer-navigation__link(href="/mock-address/change-me") Услуги
                .main-footer__item
                    b.main-footer__title О нас
                    ul.footer-navigation__list
                        li.footer-navigation__item
                            a.footer-navigation__link(href="/mock-address/change-me") О сервисе
                        li.footer-navigation__item
                            a.footer-navigation__link(href="/mock-address/change-me") Наша команда
                        li.footer-navigation__item
                            a.footer-navigation__link(href="/mock-address/change-me") Вакансии
                        li.footer-navigation__item
                            a.footer-navigation__link(href="/mock-address/change-me") Инвесторы
                .main-footer__item
                    b.main-footer__title Служба поддержки
                    ul.footer-navigation__list
                        li.footer-navigation__item
                            a.footer-navigation__link(href="/mock-address/change-me") Соглашения
                        li.footer-navigation__item
                            a.footer-navigation__link(href="/mock-address/change-me") Сообщества
                        li.footer-navigation__item
                            a.footer-navigation__link(href="/mock-address/change-me") Связь с нами
            .main-footer__form-wrapper
                b.main-footer__title Подписка
                p.main-footer__text Получайте специальные предложения и новости сервиса
                +c-field-subscription("https://echo.htmlacademy.ru", "main-footer", "field-subscription", "Введите email", false)(type="email" name="email" placeholder="Email")
    .main-footer__bottom
        .container
            p.main-footer__copyright Copyright © 2019 Toxin отель. Все права зачищены.
            ul.footer-social
                li.footer-social__item
                    a.footer-social__link.footer-social__link--twitter(href="/mock-address/change-me")
                        span.visually-hidden Твиттер
                li.footer-social__item
                    a.footer-social__link.footer-social__link--facebook(href="/mock-address/change-me")
                        span.visually-hidden Фейсбук
                li.footer-social__item
                    a.footer-social__link.footer-social__link--instagram(href="/mock-address/change-me")
                        span.visually-hidden Инстаграм