@import '../text-field-subscription/text-field-subscription';

.main-footer {
  $root: &;

  padding-top: 7.1429rem;
  background: $white-color-100;

  @media screen and (max-width: 858px) {
    padding: 3.5714rem 0;
  }

  &_theme_poor {
    padding: 7.8571rem 0 10rem;

    #{$root}__container {
      display: block;
    }

    #{$root}__navigation,
    #{$root}__newsletter,
    #{$root}__copyright {
      display: none;
    }

    #{$root}__logo {
      margin-bottom: 1.2857rem;
    }

    #{$root}__site-info {
      width: 40rem;
      margin: 0 auto 2rem;
      text-align: center;
    }

    #{$root}__other-info {
      margin: 0;
      padding: 0;
      border-top: none;
    }

    #{$root}__list {
      justify-content: center;
    }
  }

  &__container {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 84.2857rem;
    margin: 0 auto;
    padding: 0 0.7143rem;
  }

  &__site-info {
    width: 18.5714rem;

    @media screen and (max-width: 858px) {
      width: 40rem;
      margin: 0 auto 2rem;
      text-align: center;
    }
  }

  &__logo {
    display: inline-block;
    margin-bottom: 1.2143rem;
    line-height: 0;

    @media screen and (max-width: 858px) {
      margin-bottom: 1.2857rem;
    }

    &-image {
      width: 7.5714rem;
      height: 2.8571rem;
    }
  }

  &__text {
    margin: 0 0 1.4286rem;

    @media screen and (max-width: 858px) {
      margin: 0;
    }
  }

  &__navigation {
    display: flex;
    width: 40.0714rem;

    @media screen and (max-width: 858px) {
      display: none;
    }

    > #{$root}__item:nth-child(1) {
      margin-right: 4.1429rem;
    }

    > #{$root}__item:nth-child(2) {
      margin-right: 6.5714rem;
    }
  }

  &__title {
    display: inline-block;
    margin-bottom: 1.5rem;
    font-weight: bold;
    font-size: 0.8571rem;
    line-height: 1.0714rem;
    color: $primary-color-100;
    text-transform: uppercase;
  }

  &__list {
    margin: 0;
    padding: 0;
    list-style-type: none;

    #{$root}__item {
      margin-bottom: 1.5rem;
      line-height: 1.2143rem;
    }

    #{$root}__link {
      line-height: 1.2143rem;
      color: $primary-color-50;
      text-decoration: none;
    }
  }

  &__newsletter {
    width: 18.5714rem;

    @media screen and (max-width: 858px) {
      display: none;
    }

    #{$root}__title {
      margin-bottom: 1.2143rem;
    }

    #{$root}__text {
      margin-bottom: 1.5714rem;
    }
  }

  &__label {
    &_hidden {
      position: absolute;
      width: 0.0714rem;
      height: 0.0714rem;
      margin: -0.0714rem;
      border: 0;
      padding: 0;
      clip-path: inset(100%);
      clip: rect(0 0 0 0);
      overflow: hidden;
    }
  }

  &__other-info {
    margin-top: 5.7286rem;
    padding: 1.6571rem 0;
    border-top: 0.0714rem solid $gray-color-100;

    @media screen and (max-width: 858px) {
      margin: 0;
      padding: 0;
      border: none;
    }

    #{$root}__container {
      align-items: center;
    }

    #{$root}__list {
      display: flex;

      @media screen and (max-width: 858px) {
        margin: 0 auto;
      }
    }

    #{$root}__item {
      margin: 0;
      line-height: 0;

      + #{$root}__item {
        margin-left: 1.4286rem;
      }
    }

    #{$root}__link {
      display: inline-block;
      width: 1.7143rem;
      height: 1.7143rem;
      cursor: pointer;
      background: no-repeat center;
      text-decoration: none;

      &_theme_twitter {
        background-image: url('../../images/main-footer/twitter.svg');
      }

      &_theme_facebook {
        background-image: url('../../images/main-footer/facebook.svg');
      }

      &_theme_instagram {
        background-image: url('../../images/main-footer/instagram.svg');
      }
    }
  }

  &__copyright {
    margin: 0;
    line-height: 1.2143rem;

    @media screen and (max-width: 858px) {
      display: none;
    }
  }
}
