mixin dropdown-comfort
  span.dropdown.js-dropdown-comfort
    input.dropdown__field(type="text")&attributes(attributes)
    span.dropdown__container.dropdown__container_hidden
      span.dropdown__item
        b.dropdown__title Спальни
        span.dropdown__count
          button.dropdown__button.dropdown__button_type_delete.dropdown__button_disabled(type="button")
          span.dropdown__amount 0
          button.dropdown__button.dropdown__button_type_add(type="button")
      span.dropdown__item
        b.dropdown__title Кровати
        span.dropdown__count
          button.dropdown__button.dropdown__button_type_delete.dropdown__button_disabled(type="button")
          span.dropdown__amount 0
          button.dropdown__button.dropdown__button_type_add(type="button")
      span.dropdown__item
        b.dropdown__title Ванные комнаты
        span.dropdown__count
          button.dropdown__button.dropdown__button_type_delete.dropdown__button_disabled(type="button")
          span.dropdown__amount 0
          button.dropdown__button.dropdown__button_type_add(type="button")
