mixin dropdown-comfort
  span.dropdown.dropdown_type_comfort.js-dropdown_type_comfort
    input.dropdown__field(type="text")&attributes(attributes)
    span.dropdown__container.dropdown__container_hidden
      - const items = ["Спальни", "Кровати", "Ванные комнаты"]
      each item in items
        span.dropdown__item
          b.dropdown__title= item
          span.dropdown__count
            button.dropdown__control-button.dropdown__control-button_theme_minus.dropdown__control-button_disabled(type="button")
            span.dropdown__amount 0
            button.dropdown__control-button.dropdown__control-button_theme_plus(type="button")