mixin checkbox-input({id = "", name = "", title = "", theme = "", description = "", checked = false} = {})
  - const className = theme ? `checkbox-input_theme_${theme}` : "";

  span.checkbox-input(class= className)
    input.checkbox-input__field.checkbox-input__field_hidden(id= id type="checkbox" name= name checked= checked)&attributes(attributes)
    label.checkbox-input__label(for= id)= title
    if description
      span.checkbox-input__description= description
