mixin link({text = "", theme = "", jsClasses = ""} = {})
  -
    let className = theme === "" ? "" : `button_theme_${theme}`
    className = `${className} ${jsClasses}`.trim()
    
  a.button(class= className)&attributes(attributes)
    if theme === "account-action" || theme === "like"
      span.button__text= text
    else
      = text