header.main-header
    .container
        a.main-header__logo(href="/")
            img.main-header__logo-image(src="../../logo.svg" alt="Отель Toxin" width="105" height="40")
        nav.main-header__navigation
            ul.site-navigation
                li.site-navigation__item
                    a.site-navigation__link(href="#") О нас
                li.site-navigation__item.site-navigation__item--has-submenu
                    a.site-navigation__link(href="#") Услуги
                li.site-navigation__item
                    a.site-navigation__link(href="#") Вакансии
                li.site-navigation__item
                    a.site-navigation__link(href="#") Новости
                li.site-navigation__item.site-navigation__item--has-submenu
                    a.site-navigation__link(href="#") Соглашения
            div.user-navigation.non-authorized
                ul.user-navigation__list
                    li.user-navigation__item
                        +button-link("button--border-gradient", "Войти")(href="/../login-page/login-page.pug")
                    li.user-navigation__item
                        +button-link("button--purple-gradient", "Зарегистрироваться")(href="/../registration-page/registration-page.pug")
                ul.user-navigation__menu
                    li.user-navigation__item
                        a.user-navigation__link(href="#") Артём Лагунов