mixin main-header({theme = ""} = {})
  - const className = theme === '' ? 'main-header' : `main-header main-header_theme_${theme}`
  header(class= className)
    .main-header__container
      a.main-header__logo(href="../index/index.pug")
        img.main-header__logo-image(src="../../logo.svg" alt="Отель Toxin")
      button.main-header__burger.js-main-header__burger(aria-label="Показать меню")
      nav.main-header__navigation
        ul.main-header__site-navigation
          -
            const items = 
            [
              {"title": "О нас", "className": "main-header__item"},
              {"title": "Услуги", "className": "main-header__item main-header__item_theme_has-submenu"},
              {"title": "Вакансии", "className": "main-header__item"},
              {"title": "Новости", "className": "main-header__item"},
              {"title": "Соглашения", "className": "main-header__item main-header__item_theme_has-submenu"}
            ]
          each item in items
            li(class= item.className)
              a.main-header__link(href="/mock-address/change-me")= item.title
        ul.main-header__user-navigation
          li.main-header__item
            +link-with-border-gradient("войти")(href="../login-page/login-page.pug")
          li.main-header__item
            +link-with-purple-gradient("зарегистрироваться")(href="../registration-page/registration-page.pug")
        ul.main-header__user-menu
          li.main-header__item
              a.main-header__link(href="/mock-address/change-me") Артём Лагунов