@import '../buttons/button-with-border-gradient/button-with-border-gradient';
@import '../buttons/button-with-purple-gradient/button-with-purple-gradient';

.main-header {
  padding: 15px 0;
  background: #fff;
  box-shadow: 0px 10px 20px $primary-color-5;

  .container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    width: 106px;
    height: 40px;
    margin-right: 31px;
    line-height: 0;
  }

  &__burger {
    position: relative;
    display: none;
    width: 40px;
    height: 40px;
    padding: 0;
    background: linear-gradient(180deg, $purple-color-100 0%, #8ba4f9 100%);
    border: none;
    border-radius: 50%;
    cursor: pointer;
    -webkit-appearance: none;

    @media screen and (max-width: 946px) {
      display: inline-block;
    }

    &::before {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      width: 20px;
      height: 3px;
      background-color: #fff;
      transform: translate(-50%, -50%);
      box-shadow: 0 -6px 0 0 #fff, 0 6px 0 0 #fff;
    }

    &_opened::before {
      transform: translate(-50%, -50%) rotate(45deg);
      box-shadow: none;
    }

    &_opened::after {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      width: 20px;
      height: 3px;
      background-color: #fff;
      transform: translate(-50%, -50%) rotate(-45deg);
    }
  }

  &__navigation {
    display: flex;
    flex-flow: row wrap;
    align-items: center;

    @media screen and (max-width: 946px) {
      display: none;
      flex-direction: column;
      width: 100%;
      margin: 10px auto 0;
      padding: 5px 10px 10px;
      border: 3px solid $primary-color-50;
      border-radius: 10px;
    }
  }

  &__site-navigation {
    display: flex;
    margin: 0;
    margin-right: 31px;
    padding: 0;
    list-style-type: none;

    @media screen and (max-width: 946px) {
      flex-direction: column;
      width: 100%;
      margin: 0;
    }

    .main-header__item {
      @media screen and (max-width: 946px) {
        padding: 5px 0;
        border-bottom: 1px dotted $primary-color-25;
      }

      &:last-child {
        @media screen and (max-width: 946px) {
          border-bottom: none;
          padding-bottom: 15px;
        }
      }

      & + .main-header__item {
        margin-left: 20px;

        @media screen and (max-width: 946px) {
          margin-left: 0;
        }
      }

      &_has-submenu + .main-header__item {
        margin-left: 28px;

        @media screen and (max-width: 946px) {
          margin-left: 0;
        }
      }

      &_has-submenu > .main-header__link::after {
        content: '';
        display: inline-block;
        width: 6px;
        height: 6px;
        margin-left: 9px;
        margin-bottom: -2px;
        border: 2px solid $primary-color-50;
        border-top: 0;
        border-left: 0;
        transform: translateY(-50%) rotate(45deg);
      }
    }

    .main-header__link {
      line-height: 24px;
      color: $primary-color-50;

      &_current {
        font-weight: bold;
        color: $primary-color-75;
      }
    }
  }

  &__user-navigation {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    list-style-type: none;

    @media screen and (max-width: 946px) {
      justify-content: space-between;
      width: 100%;
      padding-top: 15px;
      border-top: 2px solid $primary-color-30;
    }

    @media screen and (max-width: 360px) {
      flex-direction: column;
      align-items: flex-start;
    }

    .main-header__item {
      line-height: 0;
    }

    .main-header__item + .main-header__item {
      margin-left: 22px;
    }
  }
}
