//- Разметка основного header'а
header.main-header
    .container
        a.main-header__logo
            img.main-header__logo-image(src="../../components/main-header/images/logo.svg" alt="Отель Toxin" width="105.69" height="40")
        nav.main-navigation
            ul.site-navigation
                li.site-navigation__item.site-navigation__item--current
                    a.site-navigation__link(href="#") Home
                li.site-navigation__item
                    a.site-navigation__link(href="#") About us
                li.site-navigation__item.site-navigation__item--dropdown
                    a.site-navigation__link(href="#") Services
                    ul.site-navigation__dropdown-list
                        li.site-navigation__item
                            a.site-navigation__link(href="#") Test
                li.site-navigation__item
                    a.site-navigation__link(href="#") Careers
                li.site-navigation__item
                    a.site-navigation__link(href="#") News
                li.site-navigation__item
                    a.site-navigation__link(href="#") Documentations
            div.user-navigation.non-authorized
                ul.user-navigation__list
                    li.user-navigation__item
                        a.user-navigation__link.button.button--border-gradient(href="#") Login
                    li.user-navigation__item
                        a.user-navigation__link.button.button--purple-gradient(href="#") Register
                ul.user-navigation__menu
                    li.user-navigation__item
                        a.user-navigation__link(href="#") Cosmin Negoita