header.main-header
    a.main-header__logo
        img(src="components/main-header/images/logo.svg" alt="Отель Toxin" width="105.69" height="40")
    ul.main-header__list
        li.main-header__current-item
            a.main-header__link(href="#") Home
        li.main-header__item
            a.main-header__link(href="#") Home
        li.main-header__item
            a.main-header__link(href="#") Home
        li.main-header__item
            a.main-header__link(href="#") Home
        li.main-header__item
            a.main-header__link(href="#") Home
        li.main-header__item
            a.main-header__link(href="#") Home