.main-header {
    padding: 15.3px 0;

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.main-header__logo {
    line-height: 0;
}

/*
===== Main navigation =====
*/

.main-header__navigation {
    display: flex;
    align-items: center;
}

/*
===== Site navigation =====
*/

.site-navigation {
    display: flex;
    margin: 0;
    margin-right: 31px;
    padding: 0;

    list-style-type: none;
}

.site-navigation__item + .site-navigation__item {
    margin-left: 20px;
}

.site-navigation__item--has-submenu + .site-navigation__item {
    margin-left: 28px;
}

.site-navigation__item--has-submenu > .site-navigation__link::after {
    content: "";

    display: inline-block;
    width: 6px;
    height: 6px;
    margin-left: 9px;
    margin-bottom: -2px;

    border: 2px solid $primary-color-50;
    border-top: 0;
    border-left: 0;

    transform: translateY(-50%) rotate(45deg);
}

.site-navigation__link {
    line-height: 24px;
    color: $primary-color-50;

    &--current {
        font-weight: bold;
        color: $primary-color-75;
    }
}

/*
===== User navigation =====
*/

.user-navigation {
    position: relative;
    z-index: 1;
}

.user-navigation.non-authorized {


    .user-navigation__menu {
        display: none;
    }
}

.user-navigation.authorized {
    border-left: 1px solid $primary-color-10;

    .user-navigation__list {
        display: none;
    }
}

/*
===== User navigation list =====
*/

.user-navigation__list {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;

    list-style-type: none;
}

.user-navigation__item + .user-navigation__item {
    margin-left: 22px;
}

.user-navigation__item .button {
    padding: 10px 20px;
}

.user-navigation__item .button--border-gradient {
    padding: 8px 18px;
}

/*
===== User navigation menu =====
*/

.user-navigation__menu {
    margin: 0;
    padding: 0;

    list-style-type: none;

    .user-navigation__link {
        line-height: 17px;
        color: $primary-color-50;
    }
}