mixin roomSearch
  article.room-search
    h2.room-search__title Найдём номера под ваши пожелания
    form.room-search__form(action="https://echo.htmlacademy.ru" method="post")
      div.room-search__group
        p.room-search__item
          label.room-search__label(for="field-date-from") Прибытие
          +dropdown({"theme": "date", "jsClasses": "js-dropdown-date-from"})(id="field-date-from" name="from" placeholder="дд.мм.гггг" readonly)
        p.room-search__item
          label.room-search__label(for="field-date-to") Выезд
          +dropdown({"theme": "date", "jsClasses": "js-dropdown-date-to"})(id="field-date-to" name="to" placeholder="дд.мм.гггг" readonly)
      p.room-search__group
        label.room-search__label(for="field-amount-guests") Гости
        +dropdown({"jsClasses": "js-dropdown"})(id="field-amount-guests" name="guests" placeholder="Сколько гостей" readonly)
          span.dropdown__container
            - const items = ["Взрослые", "Дети", "Младенцы"]
            each item in items
              span.dropdown__item
                b.dropdown__title= item
                span.dropdown__count
                  button.dropdown__control-button.dropdown__control-button_theme_minus.dropdown__control-button_disabled(type="button")
                  span.dropdown__amount 0
                  button.dropdown__control-button.dropdown__control-button_theme_plus(type="button")
            span.dropdown__item
              button.dropdown__button.dropdown__button_theme_clear.dropdown__button_disabled(type="button") Очистить
              button.dropdown__button.dropdown__button_theme_apply(type="button") Применить
      p.room-search__group
        +link({"text": "подобрать номер", "theme": "submit"})(href="../../pages/rooms-page/rooms-page.pug")
      